<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <h2 class="page-title">Платіжні картки</h2>
      <div v-for="value in object" :key="value.id" class="service-blocks">
        <b-card no-body class="overflow-hidden service-block service-block--card">
          <b-link :to="value.link" class="service-block__link">
            <div class="d-md-flex">
              <b-card-img
                :src="require('~/assets/images/service-blocks/cards/' + value.img)"
                alt="Image"
                class="rounded-0"
              ></b-card-img>
              <b-card-body :title="value.title">
                <div class="service-block__details service-block__details--double d-flex">
                  <div v-for="(detail, i) in value.details" :key="i" class="service-block__detail">
                    <div class="service-block__title">{{ detail.smallTitle }}</div>
                    <div class="service-block__badges">
                      <b-badge v-for="badge in detail.badges" :key="badge.id" variant="light">{{
                        badge.name
                      }}</b-badge>
                      <div class="service-block__value">
                        {{ detail.content }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="service-block__text">
                  {{ value.text }}
                </div>
                <div class="btns-ct">
                  <b-button class="btn-gray">
                    <b-link :to="`${value.link}#contact-form`">Залишити заявку</b-link>
                  </b-button>
                  <b-link :to="value.link" class="link">Детальніше</b-link>
                </div>
              </b-card-body>
            </div>
          </b-link>
        </b-card>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          text: 'Приватним особам',
          href: '/private',
        },
        {
          text: 'Платіжні картки',
          active: true,
        },
      ],
      object: [
        {
          link: '/private/cards/private-card',
          img: '1.png',
          title: 'Приватна картка',
          details: [
            {
              smallTitle: 'Валюта',
              badges: [
                {
                  name: '₴',
                },
                {
                  name: '$',
                },
                {
                  name: '€',
                },
              ],
            },
            {
              smallTitle: 'Відсоток на залишок',
              content: '1% річних у грн',
            },
          ],
        },
        {
          link: '/private/cards/salary-card',
          img: '2.png',
          title: 'Зарплатна картка',
          details: [
            {
              smallTitle: 'Валюта',
              badges: [
                {
                  name: '₴',
                },
              ],
            },
            {
              smallTitle: 'Відсоток на залишок',
              content: '1% річних',
            },
          ],
        },
        {
          link: '/private/cards/card-under-deposit',
          img: '4.png',
          title: 'Картка під депозит',
          details: [
            {
              smallTitle: 'Валюта',
              badges: [
                {
                  name: '₴',
                },
              ],
            },
            {
              smallTitle: 'Обслуговування рахунку',
              content: '0 грн',
            },
          ],
        },
        {
          link: '/private/cards/new-start',
          img: '5.png',
          title: 'Картка Новий старт',
          details: [
            {
              smallTitle: 'Валюта',
              badges: [
                {
                  name: '₴',
                },
              ],
            },
            {
              smallTitle: 'Відкриття картки',
              content: '0 грн',
            },
          ],
          text: 'Новий Старт можна оформити тільки на київському відділенні',
        },
      ],
    };
  },
};
</script>
