<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/private-cards/2.png')"
        :main-screen="mainScreen"
        class="main-screen--cards"
      ></MainScreen>

      <Card5 :cards="cards" class="card-blocks--center"></Card5>

      <a id="special"></a>
      <b-row class="row-container">
        <div class="row-title title title-l">Особливості картки</div>
        <b-col md="12">
          <b-card no-body class="overflow-hidden card-list-img card-gray">
            <b-card-body class="">
              <b-row no-gutters align-items="center">
                <b-col md="8" class="card-content">
                  <b-card-text>
                    <ul>
                      <li>Тип карток – Mastercard Debit, Masterсard Standard, Masterсard Gold</li>
                      <li>Валюта картки – UAH</li>
                      <li>
                        Безкоштовне зняття готівки в банкоматах ОКСІ БАНКУ та УКРКАРТ, у відділенні
                        ОКСІ БАНКУ без картки
                      </li>
                      <li>Безкоштовні виписки за поточний рік</li>
                      <li>Безкоштовне підключення SMS-повідомлень за операціями</li>
                    </ul>
                  </b-card-text>
                  <b-button variant="primary" href="#contact-form">Замовити картку</b-button>
                </b-col>
                <b-col md="4" class="d-flex align-items-center">
                  <b-card-img
                    src="~/assets/images/card-pages/2.png"
                    alt="Image"
                    class="rounded-0"
                    align="center"
                  ></b-card-img>
                </b-col>
              </b-row>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>

      <a id="rates"></a>
      <b-row class="row-container">
        <div class="row-title title title-l">Зарплатна картка для працівників підприємств</div>
        <b-col md="12">
          <b-table-simple responsive class="card-table card-table--4-cols">
            <b-tr class="big">
              <b-td class="title-big">Тарифи</b-td>
              <b-td class="title-big">Masterсard Debit</b-td>
              <b-td class="title-big">Masterсard Standard</b-td>
              <b-td class="title-big">Mastercard Gold</b-td>
            </b-tr>
            <b-tr class="big">
              <b-td class="row-title">
                <p>
                  Вартість обслуговування протягом всього терміну дії картки (сплачується в день
                  відкриття рахунку)
                </p>
              </b-td>
              <b-td class="">
                <p>сплачує підприємство згідно з умовами договору</p>
              </b-td>
              <b-td class="">
                <p>сплачує підприємство згідно з умовами договору</p>
              </b-td>
              <b-td class="">
                <p>сплачує підприємство згідно з умовами договору</p>
              </b-td>
            </b-tr>
            <b-tr class="subheader"><b-td colspan="4" class="">Видача готівки</b-td></b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>В банкоматах та касі АТ «ОКСІ БАНК»</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>В банкоматах УКРКАРТ (об’єднана мережа)</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>В інших банках України</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
            </b-tr>
            <b-tr class="subheader"><b-td colspan="4" class="">Переказ коштів</b-td></b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>На картку ОКСІ БАНКУ</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>На картки інших банків та картки sportbank</p>
              </b-td>
              <b-td class="">
                <p>1% від суми операції + 5 грн</p>
              </b-td>
              <b-td class="">
                <p>1% від суми операції + 5 грн</p>
              </b-td>
              <b-td class="">
                <p>1% від суми операції + 5 грн</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Відкриття картрахунку</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Обслуговування додаткової картки протягом першого / наступного терміну дії</p>
              </b-td>
              <b-td class="">
                <p>сплачує підприємство згідно з умовами договору</p>
              </b-td>
              <b-td class="">
                <p>сплачує підприємство згідно з умовами договору</p>
              </b-td>
              <b-td class="">
                <p>сплачує підприємство згідно з умовами договору</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>
                  Перевипуск основної/додаткової картки в період дії ЕПЗ за ініціативою клієнта (при
                  пошкодженні картки/втраті)
                </p>
              </b-td>
              <b-td class="">
                <p>40/40 грн</p>
              </b-td>
              <b-td class="">
                <p>100/100 грн</p>
              </b-td>
              <b-td class="">
                <p>200/200 грн</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Видача готівки в інших банках за кордоном</p>
              </b-td>
              <b-td class="">
                <p>1,5% + 30 грн</p>
              </b-td>
              <b-td class="">
                <p>1,5% + 30 грн</p>
              </b-td>
              <b-td class="">
                <p>1,5% + 30 грн</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Видача готівки у відділенні АТ «ОКСІ БАНК» (за відсутності картки)</p>
              </b-td>
              <b-td class="">
                <p>0,5% min 5 грн</p>
              </b-td>
              <b-td class="">
                <p>0,5% min 5 грн</p>
              </b-td>
              <b-td class="">
                <p>0,5% min 5 грн</p>
              </b-td>
            </b-tr>
            <b-tr class="subheader"><b-td colspan="4" class="">Поповнення рахунку</b-td></b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Власником рахунку через касу банку</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Іншою особою через касу банку</p>
              </b-td>
              <b-td class="">
                <p>0,5% min 5 грн</p>
              </b-td>
              <b-td class="">
                <p>0,5% min 5 грн</p>
              </b-td>
              <b-td class="">
                <p>0,5% min 5 грн</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>
                  Безготівкове зарахування:<br />
                  - в межах банку власником рахунку<br />
                  - відсотків та суми депозиту <br />
                  - іншою особою в межах банку<br />
                  - з інших банків
                </p>
              </b-td>
              <b-td class="">
                <p>
                  - безкоштовно<br />
                  - безкоштовно<br />
                  - безкоштовно<br />
                  - 0,5% min 5 грн
                </p>
              </b-td>
              <b-td class="">
                <p>
                  - безкоштовно<br />
                  - безкоштовно<br />
                  - безкоштовно<br />
                  - 0,5% min 5 грн
                </p>
              </b-td>
              <b-td class="">
                <p>
                  - безкоштовно<br />
                  - безкоштовно<br />
                  - безкоштовно<br />
                  - 0,5% min 5 грн
                </p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>
                  Переказ коштів з картки інших банків на картки інших банків та картки sportbank
                </p>
              </b-td>
              <b-td class="">
                <p>1% від суми операції + 5 грн</p>
              </b-td>
              <b-td class="">
                <p>1% від суми операції + 5 грн</p>
              </b-td>
              <b-td class="">
                <p>1% від суми операції + 5 грн</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Переказ коштів на рахунки в АТ «ОКСІ БАНК»</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Переказ коштів на рахунки в інших банках України</p>
              </b-td>
              <b-td class="">
                <p>0,5%</p>
              </b-td>
              <b-td class="">
                <p>0,5%</p>
              </b-td>
              <b-td class="">
                <p>0,5%</p>
              </b-td>
            </b-tr>
            <b-tr class="subheader"
              ><b-td colspan="4" class=""
                >Надання виписок, довідок за картковим рахунком (у відділеннях банку)</b-td
              ></b-tr
            >
            <b-tr class="">
              <b-td class="row-title">
                <p>Виписки за поточний рік</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Виписки за попередні роки</p>
              </b-td>
              <b-td class="">
                <p>10 грн</p>
              </b-td>
              <b-td class="">
                <p>10 грн</p>
              </b-td>
              <b-td class="">
                <p>10 грн</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Довідка про стан рахунку</p>
              </b-td>
              <b-td class="">
                <p>50 грн</p>
              </b-td>
              <b-td class="">
                <p>50 грн</p>
              </b-td>
              <b-td class="">
                <p>50 грн</p>
              </b-td>
            </b-tr>
            <b-tr class="subheader"><b-td colspan="4" class="">Перегляд балансу</b-td></b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>В банкоматах банку та мережі УКРКАРТ</p>
              </b-td>
              <b-td class="">
                <p>перший перегляд залишку за день – безкоштовно, всі наступні перегляди - 1 грн</p>
              </b-td>
              <b-td class="">
                <p>перший перегляд залишку за день – безкоштовно, всі наступні перегляди - 1 грн</p>
              </b-td>
              <b-td class="">
                <p>перший перегляд залишку за день – безкоштовно, всі наступні перегляди - 1 грн</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>В банкоматах інших банків</p>
              </b-td>
              <b-td class="">
                <p>2 грн</p>
              </b-td>
              <b-td class="">
                <p>2 грн</p>
              </b-td>
              <b-td class="">
                <p>2 грн</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>SMS-повідомлення про кожну проведену операцію по рахунку</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
              <b-td class="">
                <p>безкоштовно</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Комісія за конвертацію (валюта транзакції відрізняється від валюти рахунку)</p>
              </b-td>
              <b-td class="">
                <p>1,5% від суми операції</p>
              </b-td>
              <b-td class="">
                <p>1,5% від суми операції</p>
              </b-td>
              <b-td class="">
                <p>1,5% від суми операції</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Ведення та обслуговування неактивного рахунку за рік</p>
              </b-td>
              <b-td class="">
                <p>в межах залишку, але не більше 100 грн</p>
              </b-td>
              <b-td class="">
                <p>в межах залишку, але не більше 100 грн</p>
              </b-td>
              <b-td class="">
                <p>в межах залишку, але не більше 100 грн</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Користування несанкціонованою перевитратою, річних</p>
              </b-td>
              <b-td class="">
                <p>30%</p>
              </b-td>
              <b-td class="">
                <p>30%</p>
              </b-td>
              <b-td class="">
                <p>30%</p>
              </b-td>
            </b-tr>
            <b-tr class="">
              <b-td class="row-title">
                <p>Безпідставне оскарження операції здійсненої по рахунку клієнта</p>
              </b-td>
              <b-td class="">
                <p>200 грн за операцію</p>
              </b-td>
              <b-td class="">
                <p>200 грн за операцію</p>
              </b-td>
              <b-td class="">
                <p>200 грн за операцію</p>
              </b-td>
            </b-tr>
          </b-table-simple>
        </b-col>
      </b-row>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'add_info_links'">
          <AddInfoLinks :slice="slice" />
        </template>
      </section>
      <a id="contact-form"></a>
      <Form1 :form-data="form"></Form1>
    </b-container>
  </div>
</template>

<script>
import MainScreen from '~/components/MainScreen.vue';
import Card5 from '~/components/Cards/Card5.vue';
import AddInfoLinks from '~/slices/AddInfoLinks';
import Form1 from '~/components/Forms/Form1';

export default {
  components: {
    MainScreen,
    Card5,
    AddInfoLinks,
    Form1,
  },
  async asyncData({ $prismic, error }) {
    const salaryCard = await $prismic.api.getByUID('private-card', 'salary-card');
    if (salaryCard) {
      return {
        salaryCard,
        slices: salaryCard.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Приватним особам',
          to: '/',
        },
        {
          text: 'Картки',
          to: '/private/cards',
        },
        {
          text: 'Зарплатна картка',
          active: true,
        },
      ],
      mainScreen: {
        type: 'gray',
        title: 'Зарплатна картка',
        description: 'Картка для зарахування цільових виплат',
        conditions: {
          first: {
            title: 'Відсоток на залишок',
            desc: '1% річних у грн',
          },
          second: {
            title: '',
            desc: '',
          },
        },
        links: [
          {
            to: '#special',
            name: 'Особливості картки',
          },
          {
            to: '#rates',
            name: 'Тарифи',
          },
        ],
      },
      cards: [
        {
          title: 'Швидке оформлення за 15 хвилин',
          imgSrc: '4.png',
        },
        {
          title: 'Індивідуальний підхід',
          imgSrc: '7.png',
        },
        {
          title: 'Зручні розрахунки в торгових точках та в інтернеті',
          imgSrc: '8.png',
        },
      ],
      table: {
        tableRows: [
          {
            leftValue: 'Строк кредитування',
            texts: [
              {
                title: 'до 12 місяців',
              },
            ],
          },
          {
            leftValue: 'Валюта',
            texts: [
              {
                title: 'гривня',
              },
            ],
          },
          {
            leftValue: 'Максимальний розмір кредиту',
            texts: [
              {
                title: 'до 100%',
              },
            ],
            rightDescValue: 'середньомісячних чистих надходжень за останні 3 місяці',
          },
          {
            leftValue: 'Сума',
            texts: [
              {
                title: 'min 50 000 грн',
              },
              {
                title: 'max 300 000 грн',
              },
            ],
          },
          {
            leftValue: 'Ставка',
            texts: [
              {
                title: '19% річних',
              },
            ],
          },
          {
            leftValue: 'Забезпечення',
            texts: [
              {
                title: 'порука власника та/або керівника',
              },
            ],
          },
          {
            leftValue: 'Комісії',
            texts: [
              {
                title: 'щомісячна комісія — 0,0%',
              },
              {
                title:
                  'додатково — 1,0% від ліміту овердрафту при укладенні договору та при збільшенні ліміту овердрафту.',
              },
            ],
          },
        ],
        addInfo: {
          title: 'Додаткова інформація',
          link: 'Документ з детальними умовами',
          source: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
      },
      downloadLinks: [
        {
          name: 'Публічна оферта',
          file: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
        {
          name: 'Істотні характеристики продукту',
          file: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
        {
          name: 'Правила користування',
          file: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
        {
          name: 'Тарифи',
          file: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
      ],
      form: {
        title: 'Оформлення картки онлайн',
        place:
          'Знайдіть найближче до вас відділення, де наші менеджери допоможуть вам з оформленням картки.',
        subject: '[OXI-site] Private - Оформлення картки онлайн',
      },
      archiveRates: [
        {
          year: '2021',
          blocks: [
            {
              title: 'Архів тарифів, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
        {
          year: '2020',
          blocks: [
            {
              title: 'Архів тарифів, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
        {
          year: '2019',
          blocks: [
            {
              title: 'Архів тарифів, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
        {
          year: '2018',
          blocks: [
            {
              title: 'Архів тарифів, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
        {
          year: '2017',
          blocks: [
            {
              title: 'Архів тарифів, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
        {
          year: '2016',
          blocks: [
            {
              title: 'Архів тарифів, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
      ],
      archiveOffers: [
        {
          year: '2021',
          blocks: [
            {
              title: 'Архів оферт, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
        {
          year: '2020',
          blocks: [
            {
              title: 'Архів оферт, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
        {
          year: '2019',
          blocks: [
            {
              title: 'Архів оферт, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
        {
          year: '2018',
          blocks: [
            {
              title: 'Архів оферт, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
        {
          year: '2017',
          blocks: [
            {
              title: 'Архів оферт, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
        {
          year: '2016',
          blocks: [
            {
              title: 'Архів оферт, діючих в період:',
              links: [
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
                {
                  title: '04-07-2021 - 05-08-2021',
                  path: '/',
                },
              ],
            },
          ],
        },
      ],
    };
  },
  head() {
    return {
      title: this.salaryCard.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.salaryCard.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
