<template>
  <section class="section">
    <div v-for="(item, i) in slice.items" :key="`slice-item-${i}`">
      <prismic-rich-text class="doc-download-link" :field="item.link" />
    </div>
  </section>
</template>

<script>
export default {
  name: 'DocLinks',
  props: {
    slice: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>
