img{
    width: 100%;
}

.blog-poster{
    box-shadow: $block-shadow;
    border-radius: 4px;
    border: none;
    background-color: #F3FBFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    &__img{
        width: 50%;
        height: fit-content;
    }
    &__title{
        align-self: flex-start;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        color: $dark;
        margin: 32px 24px 0;
        width: 50%;
    }
    @include r($bp-tab-sm){
        flex-wrap: wrap;
        background-position: right -250px center;
        flex-direction: column;
        align-items: flex-start;
        &__title{
            width: 80%;
        }
        &__img{
            align-self: flex-end;
        }
    }
    @include r($bp-phone-lg){
        background-position: right -130px bottom 0;
        background-size: contain;
        &__title{
            font-size: 32px;
            line-height: 125%;
            margin: 24px 0 0;
        }
        &__img{
            width: 100%;
        }
    }
}

.blog-text{
    margin-top: 56px;
    max-width: 760px;
    color: $dark;
    img{
        margin: 30px 0;
    }
    a{
        text-decoration: underline;
        color: $primary;
        &:hover{
            color:$dark;
        }
    }
    ul{
        margin: 24px 0;
        padding-left: 18px;
    }
}

.blog-post{
    margin: 16px 0;
    @include r($bp-tab-sm){
        width: 100%;
    }
    &__preview{
        height: 100%;
        padding: 32px;
        position: relative;
        &__link{
            position: absolute;
            right: 32px;
            bottom: 40px;
            text-decoration: underline;
        }
        &__text{
            &:last-child{
                margin-bottom: 40px;
            }
        }
        &__date{
            font-size: 12px;
            color: #677181;
            margin-bottom: 8px;
        }
    }
}

.news-filter{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}