<template>
  <section class="section">
    <a v-if="slice.primary.blockAnchor" :id="$prismic.asText(slice.primary.blockAnchor)"></a>
    <b-row class="row-container">
      <b-col md="12" class="swiper-controls-container">
        <h4 class="row-title title title-l">{{ $prismic.asText(slice.primary.title) }}</h4>
        <div class="swiper-controls">
          <div slot="button-prev" class="swiper-button swiper-button-prev"></div>
          <div slot="button-next" class="swiper-button swiper-button-next"></div>
        </div>
      </b-col>
      <b-col md="12">
        <swiper :options="swiperOption" class="mySwiper">
          <swiper-slide v-for="(item, i) in slice.items" :key="`slice-item-${i}`">
            <b-card class="swiper-card" no-body>
              <prismic-image class="swiper-card__img" :field="item.slideImg" />
              <prismic-rich-text
                class="swiper-card__label title title-s"
                :field="item.slideLabel"
              />
            </b-card>
          </swiper-slide>
        </swiper>
      </b-col>
    </b-row>
  </section>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import 'swiper/css/swiper.css';
export default {
  name: 'SliderCard',
  components: {
    Swiper,
    SwiperSlide,
  },
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 4.5,
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
    };
  },
};
</script>
