<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/business-deposits/3.png')"
        :main-screen="mainScreen"
      ></MainScreen>
      <a id="conditions"></a>
      <div class="table-ct d-lg-flex justify-content-lg-between align-items-lg-start">
        <b-table-simple responsive class="deposits-table">
          <b-tbody>
            <b-tr class="big">
              <b-td class="sr-only"></b-td>
              <b-td>Відсоткова ставка</b-td>
              <b-td>Дострокове розірвання</b-td>
            </b-tr>
            <b-tr class="subheader subheader--r">
              <b-td colspan="3">
                <div class="ct">
                  <div class="left">UAH</div>
                  <div class="right"><span>Мінімальна сума вкладу</span> 10 000 грн</div>
                </div>
              </b-td>
            </b-tr>
            <b-tr v-for="value in objectUAH" :key="value.id">
              <b-td class="row-title">{{ value.date }}</b-td>
              <b-td>{{ value.percent1 }}% <span>річних</span></b-td>
              <b-td>{{ value.percent2 }}% <span>річних</span></b-td>
            </b-tr>
            <b-tr class="subheader subheader--r">
              <b-td colspan="3">
                <div class="ct">
                  <div class="left">USD</div>
                  <div class="right"><span>Мінімальна сума вкладу</span> 5 000 доларів</div>
                </div>
              </b-td>
            </b-tr>
            <b-tr v-for="value in objectUSD" :key="value.id">
              <b-td class="row-title">{{ value.date }}</b-td>
              <b-td>{{ value.percent1 }}% <span>річних</span></b-td>
              <b-td>{{ value.percent2 }}% <span>річних</span></b-td>
            </b-tr>
            <b-tr class="subheader subheader--r">
              <b-td colspan="3">
                <div class="ct">
                  <div class="left">EUR</div>
                  <div class="right"><span>Мінімальна сума вкладу</span> 5 000 євро</div>
                </div>
              </b-td>
            </b-tr>
            <b-tr v-for="value in objectEUR" :key="value.id">
              <b-td class="row-title">{{ value.date }}</b-td>
              <b-td>{{ value.percent1 }}% <span>річних</span></b-td>
              <b-td>{{ value.percent2 }}% <span>річних</span></b-td>
            </b-tr>
          </b-tbody>
        </b-table-simple>
        <section v-for="slice in slices" :key="slice.index">
          <template v-if="slice.slice_type === 'doc_links'">
            <TableAddInfo :table-add-info="tableAddInfo" :slice="slice"></TableAddInfo>
          </template>
        </section>
      </div>
      <a id="contact-form"></a>
      <Form1 :form-data="form"></Form1>
    </b-container>
  </div>
</template>

<script>
import MainScreen from '~/components/MainScreen.vue';
import TableAddInfo from '~/components/TableAddInfo.vue';
import Form1 from '~/components/Forms/Form1';
export default {
  components: {
    MainScreen,
    TableAddInfo,
    Form1,
  },
  async asyncData({ $prismic, error }) {
    const businessPlus = await $prismic.api.getByUID('business-deposit', 'business-plus');
    if (businessPlus) {
      return {
        businessPlus,
        slices: businessPlus.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Корпоративним клієнтам',
          to: '/business',
        },
        {
          text: 'Депозити',
          to: '/business/deposits',
        },
        {
          text: 'Бізнес +',
          active: true,
        },
      ],
      form: {
        title: 'Онлайн-заявка на депозит',
        place:
          'Знайдіть найближче до вас відділення, де наші менеджери допоможуть вам з оформленням депозиту. ',
        subject: '[OXI-site] Business - Заявка на депозит',
      },
      objectUAH: [
        {
          date: '3 місяці',
          percent1: '7,25',
          percent2: '3,62',
        },
        {
          date: '6 місяців',
          percent1: '8,25',
          percent2: '4,12',
        },
        {
          date: '9 місяців',
          percent1: '9,25',
          percent2: '6,94',
        },
        {
          date: '13 місяців',
          percent1: '10,25',
          percent2: '7,69',
        },
      ],
      objectUSD: [
        {
          date: '6 місяців',
          percent1: '3',
          percent2: '1,5',
        },
        {
          date: '9 місяців',
          percent1: '3,25',
          percent2: '2,44',
        },
        {
          date: '13 місяців',
          percent1: '3,5',
          percent2: '2,63',
        },
      ],
      objectEUR: [
        {
          date: '6 місяців',
          percent1: '2,75',
          percent2: '1,38',
        },
        {
          date: '9 місяців',
          percent1: '3',
          percent2: '2,25',
        },
        {
          date: '13 місяців',
          percent1: '3,25',
          percent2: '2,44',
        },
      ],
      mainScreen: {
        type: 'dark',
        title: 'Бізнес +',
        description: 'Депозит з виплатою відсотків в кінці терміну.',
        conditions: {
          first: {
            title: 'Ставка',
            desc: 'до 10,25% річних у грн',
          },
          second: {
            title: 'Строк',
            desc: 'до 13 місяців',
          },
        },
        links: [
          {
            to: '#conditions',
            name: 'Умови депозиту',
          },
          {
            to: '#contact-form',
            name: 'Заявка на депозит',
          },
        ],
      },
      tableAddInfo: [
        {
          title: 'Виплата відсотків',
          undertitle: 'В кінці терміну',
        },
        {
          title: 'Додаткові внески',
          undertitle: 'Допускаються, мін.сума додаткового внеску 10000 грн.; 1000 дол.США/Євро',
        },
        {
          title: 'Часткове зняття',
          undertitle: 'Не передбачено',
        },
      ],
      downloadDoc: [
        {
          docSource: '/',
          docTitle: 'Вклади юридичних осіб',
        },
      ],
    };
  },
  head() {
    return {
      title: this.businessPlus.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.businessPlus.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
