<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/business-deposits/4.png')"
        :main-screen="mainScreen"
      ></MainScreen>
      <a id="conditions"></a>
      <div class="table-ct d-lg-flex justify-content-lg-between align-items-lg-start">
        <b-table-simple responsive class="deposits-table">
          <b-tbody>
            <b-tr class="big">
              <b-td class="sr-only"></b-td>
              <b-td>Відсоткова ставка</b-td>
              <b-td>Дострокове розірвання</b-td>
            </b-tr>
            <b-tr class="subheader subheader--r">
              <b-td colspan="3">
                <div class="ct">
                  <div class="left">UAH</div>
                  <div class="right"><span>Мінімальна сума вкладу</span> 10 000 грн</div>
                </div>
              </b-td>
            </b-tr>
            <b-tr v-for="value in object" :key="value.id">
              <b-td class="row-title">{{ value.date }}</b-td>
              <b-td>{{ value.percent1 }}% <span>річних</span></b-td>
              <b-td
                >{{ value.percent2 }}% <span>{{ value.period }}</span></b-td
              >
            </b-tr>
          </b-tbody>
        </b-table-simple>
        <div v-for="slice in slices" :key="slice.index">
          <template v-if="slice.slice_type === 'doc_links'">
            <TableAddInfo :table-add-info="tableAddInfo" :slice="slice"></TableAddInfo>
          </template>
        </div>
      </div>
      <a id="contact-form"></a>
      <Form1 :form-data="form"></Form1>
    </b-container>
  </div>
</template>

<script>
import MainScreen from '~/components/MainScreen.vue';
import TableAddInfo from '~/components/TableAddInfo.vue';
import Form1 from '~/components/Forms/Form1';
export default {
  components: {
    MainScreen,
    TableAddInfo,
    Form1,
  },
  async asyncData({ $prismic, error }) {
    const increasingProfit = await $prismic.api.getByUID(
      'business-deposit',
      'deposit-increasing-profit'
    );
    if (increasingProfit) {
      return {
        increasingProfit,
        slices: increasingProfit.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Корпоративним клієнтам',
          to: '/business',
        },
        {
          text: 'Депозити',
          to: '/business/deposits',
        },
        {
          text: 'Зростаючий дохід',
          active: true,
        },
      ],
      form: {
        title: 'Онлайн-заявка на депозит',
        place:
          'Знайдіть найближче до вас відділення, де наші менеджери допоможуть вам з оформленням депозиту. ',
        subject: '[OXI-site] Business - Заявка на депозит',
      },
      object: [
        {
          date: '1 рік',
          percent1: '1',
          percent2: '0',
          period: 'за останній неповний місяць',
        },
        {
          date: '2 роки',
          percent1: '7',
          percent2: '0',
          period: 'за останній неповний місяць',
        },
        {
          date: '3 роки',
          percent1: '12',
          percent2: '0',
          period: 'за останній неповний місяць',
        },
      ],
      mainScreen: {
        type: 'dark',
        title: 'Зростаючий дохід',
        description: 'Депозит на 3 роки зі зростаючою відсотковою ставкою.',
        conditions: {
          first: {
            title: 'Ставка',
            desc: 'до 12% річних у грн',
          },
          second: {
            title: 'Строк',
            desc: 'до 3 років',
          },
        },
        links: [
          {
            to: '#conditions',
            name: 'Умови депозиту',
          },
          {
            to: '#contact-form',
            name: 'Заявка на депозит',
          },
        ],
      },
      tableAddInfo: [
        {
          title: 'Виплата відсотків',
          undertitle: 'Щомісячно',
        },
        {
          title: 'Додаткові внески',
          undertitle: 'Перших 12 місяців, мін. 10 000 грн',
        },
        {
          title: 'Часткове зняття',
          undertitle: 'Не передбачено',
        },
      ],
      downloadDoc: [
        {
          docSource: '/',
          docTitle: 'Вклади юридичних осіб',
        },
      ],
    };
  },
  head() {
    return {
      title: this.increasingProfit.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.increasingProfit.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
