<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <h2 class="page-title">Депозити для бізнес-клієнтів</h2>
      <div v-for="value in object" :key="value.id" class="service-blocks">
        <b-card no-body class="overflow-hidden service-block">
          <b-link :to="value.link" class="service-block__link">
            <div class="d-md-flex">
              <b-card-img
                :src="require('~/assets/images/service-blocks/' + value.img)"
                alt="Image"
                class="rounded-0"
              ></b-card-img>
              <b-card-body :title="value.title">
                <div
                  class="service-block__details d-flex justify-content-md-between justify-content-xs-center"
                >
                  <div class="service-block__detail">
                    <div class="service-block__title">Валюта</div>
                    <div class="service-block__badges">
                      <b-badge v-for="(badge, i) in value.badges" :key="i" variant="light">{{
                        badge.name
                      }}</b-badge>
                    </div>
                  </div>
                  <div class="service-block__detail">
                    <div class="service-block__title">Ставка</div>
                    <div class="service-block__value">
                      {{ value.percent }}
                    </div>
                  </div>
                  <div class="service-block__detail">
                    <div class="service-block__title">Строк</div>
                    <div class="service-block__value">
                      {{ value.period }}
                    </div>
                  </div>
                </div>
                <div class="service-block__text">
                  {{ value.text }}
                </div>
                <div class="btns-ct">
                  <b-button class="btn-gray"
                    ><b-link :to="`${value.link}#contact-form`">Залишити заявку</b-link></b-button
                  >
                  <b-link :to="value.link" class="link">Детальніше</b-link>
                </div>
              </b-card-body>
            </div>
          </b-link>
        </b-card>
      </div>
      <div class="link-block-single">
        <div class="link-block__text">
          З типовими угодами для юридичних осіб можна ознайомитись
          <nuxt-link class="link-block__link" to="/tariffs-and-typical-agreements">тут</nuxt-link>
        </div>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          text: 'Корпоративним клієнтам',
          to: '/business',
        },
        {
          text: 'Депозити',
          active: true,
        },
      ],
      object: [
        {
          link: '/business/deposits/deposit-facility',
          img: '4.jpg',
          title: 'Депозитна лінія',
          percent: 'до 10% річних',
          period: 'до 12 місяців',
          badges: [
            {
              name: '₴',
            },
          ],
        },
        {
          link: '/business/deposits/deposit-business',
          img: '5.jpg',
          title: 'Бізнес',
          percent: 'до 10% річних у грн',
          period: 'до 13 місяців',
          badges: [
            {
              name: '₴',
            },
            {
              name: '$',
            },
            {
              name: '€',
            },
          ],
        },
        {
          link: '/business/deposits/deposit-business-plus',
          img: '6.jpg',
          title: 'Бізнес +',
          percent: 'до 10,25% річних у грн',
          period: 'до 13 місяців',
          badges: [
            {
              name: '₴',
            },
            {
              name: '$',
            },
            {
              name: '€',
            },
          ],
        },
        {
          link: '/business/deposits/deposit-increasing-profit',
          img: '7.jpg',
          title: 'Зростаючий дохід',
          percent: 'до 12% річних',
          period: 'до 3 років',
          badges: [
            {
              name: '₴',
            },
          ],
        },
      ],
    };
  },
};
</script>
