<template>
  <section class="doc-tabs">
    <a v-if="slice.primary.anchor" :id="$prismic.asText(slice.primary.anchor)"></a>
    <b-row class="row-container">
      <h4 class="row-title title title-l">{{ $prismic.asText(slice.primary.blockTitle) }}</h4>
      <b-col md="12">
        <div class="doc-tab">
          <b-tabs>
            <b-tab
              v-for="(item, i) in slice.items"
              :key="i"
              :title="$prismic.asText(item.tabTitle)"
            >
              <prismic-rich-text class="doc-tab__content" :field="item.tabContent" />
            </b-tab>
          </b-tabs>
        </div>
      </b-col>
    </b-row>
  </section>
</template>

<script>
export default {
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>
