<template>
  <section class="add-info">
    <a v-if="slice.primary.blockAnchor" :id="$prismic.asText(slice.primary.blockAnchor)"></a>
    <b-row class="row-container">
      <h4 class="row-title title title-l">{{ $prismic.asText(slice.primary.blockTitle) }}</h4>
      <b-col md="12" class="card-links" :class="'card-links-' + slice.variation">
        <b-card class="card-links-download">
          <prismic-rich-text
            v-for="item in slice.items"
            :key="item.id"
            class="doc-download-link"
            :field="item.linkTitle"
          ></prismic-rich-text>
        </b-card>
        <b-card v-if="slice.variation == 'withGrayBlock'" no-body class="gray-card add-info-right">
          <p class="title title-s">
            <prismic-rich-text :field="slice.primary.GrayBlockTitle" />
          </p>
          <prismic-rich-text class="card-link" :field="slice.primary.GrayBlockLink1" />
          <prismic-rich-text class="card-link" :field="slice.primary.GrayBlockLink2" />
        </b-card>
      </b-col>
    </b-row>
  </section>
</template>

<script>
export default {
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>
