<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <h2 class="page-title">Платіжні картки</h2>
      <div v-for="value in object" :key="value.id" class="service-blocks">
        <b-card no-body class="overflow-hidden service-block service-block--card">
          <b-link :to="value.link" class="service-block__link">
            <div class="d-md-flex">
              <b-card-img
                :src="require('~/assets/images/service-blocks/cards/' + value.img)"
                alt="Image"
                class="rounded-0"
              ></b-card-img>
              <b-card-body :title="value.title">
                <div class="service-block__details service-block__details--double d-flex">
                  <div
                    v-for="detail in value.details"
                    :key="detail.id"
                    class="service-block__detail"
                  >
                    <div class="service-block__title">{{ detail.smallTitle }}</div>
                    <div class="service-block__badges">
                      <b-badge v-for="badge in detail.badges" :key="badge.id" variant="light">{{
                        badge.name
                      }}</b-badge>
                      <div class="service-block__value">
                        {{ detail.content }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="service-block__text">
                  {{ value.text }}
                </div>
                <div class="btns-ct">
                  <b-button class="btn-gray"
                    ><b-link :to="`${value.link}#contact-form`">Оформити картку</b-link></b-button
                  >
                  <b-link :to="value.link" class="link">Детальніше</b-link>
                </div>
              </b-card-body>
            </div>
          </b-link>
        </b-card>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          text: 'Бізнес-клієнтам',
          to: '/business',
        },
        {
          text: 'Платіжні картки',
          active: true,
        },
      ],
      object: [
        {
          link: '/business/cards/corporate-card',
          img: '6.png',
          title: 'Корпоративна картка',
          details: [
            {
              smallTitle: 'Валюта',
              badges: [
                {
                  name: '₴',
                },
              ],
            },
            {
              smallTitle: 'Відкриття картки',
              content: '0 грн',
            },
          ],
        },
      ],
    };
  },
};
</script>
