<template>
  <b-row class="row-container">
    <b-col md="12">
      <b-card no-body class="card-gray internet-acquiring-banner">
        <b-card-text class="internet-acquiring-banner__text">
          <p class="big-number">{{ $prismic.asText(slice.primary.bigNumPercent) }}</p>
          <p>
            <span class="big-text">{{ $prismic.asText(slice.primary.bigText) }}</span>
            <span class="normal-text">{{ $prismic.asText(slice.primary.normalText) }}</span>
          </p>
        </b-card-text>
        <b-button
          class="btn-primary-8 internet-acquiring-banner__button"
          :to="$prismic.asText(slice.primary.buttonLink)"
          >{{ $prismic.asText(slice.primary.buttonLabel) }}</b-button
        >
        <prismic-image class="internet-acquiring-banner__img" :field="slice.primary.img" />
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'PercentButtonImg',
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>
