<template>
  <b-row class="row-container main-row">
    <prismic-rich-text class="row-title title title-xl" :field="slice.primary.blockTitle" />
    <b-col md="12">
      <div class="main-row-links">
        <nuxt-link
          v-for="(link, i) in slice.items"
          :key="i"
          class="main-row__link"
          :to="$prismic.asText(link.anchorLink)"
        >
          {{ $prismic.asText(link.anchorLinkLabel) }}
        </nuxt-link>
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>
