<template>
  <div class="slider-container">
    <div
      v-swiper:swiperMainRef="swiperOptions"
      class="slider-bg"
      :auto-update="true"
      :auto-destroy="true"
      :delete-instance-on-destroy="true"
      :cleanup-styles-on-destroy="true"
      @mouseenter="handleMouseEnter"
      @mouseleave="handleMouseLeave"
      @slideChange="startProgressBar"
    >
      <div class="swiper-wrapper">
        <div v-for="(item, idx) in slides" :key="idx" class="swiper-slide">
          <div class="info">
            <h2 class="title">{{ item.title }}</h2>
            <p class="description">{{ item.description }}</p>
            <b-button :to="item.button.link" class="slider-button" variant="outline-light"
              >{{ item.button.label }}
            </b-button>
          </div>
          <img class="image" :src="require(`~/assets/images/slides/${item.image}`)" />
        </div>
      </div>
    </div>

    <div
      v-swiper:swiperThumbsRef="swiperOptionThumbs"
      class="swiper thumbs"
      :auto-update="true"
      :auto-destroy="true"
      :delete-instance-on-destroy="true"
      :cleanup-styles-on-destroy="true"
    >
      <div class="swiper-wrapper">
        <div
          v-for="(item, idx) in slides"
          :key="idx"
          class="swiper-slide"
          @mouseenter="handleMouseEnter"
          @mouseleave="handleMouseLeave"
        >
          <div class="thumb-description">
            <span>{{ getThumbDescription(item) }}</span>
          </div>
          <img :src="require(`~/assets/images/slides/${item.image}`)" class="thumb-image" />
          <div ref="progressBar" class="swiper-progress"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/**
 * Slider - UI component build with Swiper.js
 * @see {@link https://swiperjs.com/vue}
 */
import { Vue, Component, Prop, Emit, Ref } from 'vue-property-decorator';

import SwiperClass from 'swiper';
import type { SwiperOptions } from 'swiper';
import type { ISlide } from './Slider';

@Component
export default class Slider extends Vue {
  private readonly swiperMainRef!: SwiperClass;
  private readonly swiperThumbsRef!: SwiperClass;
  private timer!: number | null;
  private percentTime = 0;

  @Prop({ type: Array, default: [], required: true })
  readonly slides!: ISlide[];

  @Prop({ type: Number, default: 4000 }) readonly delay!: number;
  @Prop({ type: Boolean, default: false }) readonly isAutoplay!: boolean;

  @Ref() readonly progressBar!: HTMLDivElement;

  @Emit()
  handleMouseEnter() {
    if (!this.isAutoplay) return;
    this.swiperMainRef.autoplay?.stop();
    this.resetProgressBar();
  }

  @Emit()
  handleMouseLeave() {
    if (!this.isAutoplay) return;
    this.swiperMainRef.autoplay?.start();
    this.startProgressBar();
  }

  @Emit()
  getThumbDescription(slide: ISlide): string {
    return slide.thumb?.description || slide.title;
  }

  startProgressBar(): void {
    if (!this.isAutoplay) return;
    this.resetProgressBar();
    this.timer = window.setInterval(() => this.progress(), this.delay / 100);
  }

  progress(): void {
    if (this.percentTime >= 100) {
      this.resetProgressBar();
    } else {
      this.percentTime++;
      // To do
      // fix timer
      // this.$refs.progressBar[index].style.width = this.percentTime + '%';
    }
  }

  resetProgressBar(): void {
    // this.$refs.progressBar[index].style.width = this.percentTime + '%';
    this.percentTime = 0;
    clearInterval(this.timer!);
    this.timer = null;
  }

  swiperOptions: SwiperOptions = {
    slidesPerView: 1,
    spaceBetween: 50, // for hidden image (right -50px)
    autoplay: this.isAutoplay && {
      delay: this.delay,
      disableOnInteraction: false,
    },
  };

  /**
   * Thumbnail slides configuration
   */
  swiperOptionThumbs: SwiperOptions = {
    loop: false,
    spaceBetween: 8,
    centeredSlides: true,
    slidesPerView: 'auto',
    touchRatio: 0.8,
    slideToClickedSlide: true,
    freeMode: true,
    watchSlidesVisibility: true,
    watchSlidesProgress: true,
  };

  /**
   * Lifecycle events
   */
  mounted() {
    this.$nextTick(() => {
      const swiperMain = this.swiperMainRef;
      const swiperThumbs = this.swiperThumbsRef;

      swiperMain.controller!.control = swiperThumbs;
      swiperThumbs.controller!.control = swiperMain;

      if (this.isAutoplay) {
        this.startProgressBar();
      }
    });
  }

  beforeDestroy() {
    if (!this.isAutoplay) return;
    clearInterval(this.timer!);
    this.timer = null;
  }
}
</script>

<style lang="scss" scoped>
/** Mobile **/
.slider-container {
  height: 526px;
}
.slider-bg {
  background-color: #003361;
  color: #fff;
  height: 100%;
  background-image: url('~/assets/images/oxi_logo_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom -100px left 175px;
  overflow: hidden;
  position: relative;
}

.info {
  padding: 40px 16px;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #fff;
}

.description {
  font-size: 0.875rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 2rem;
}

.slider-button {
  font-size: 1rem;
  border-color: #8d95a1;
}

.slider-button:hover,
.slider-button:focus {
  border-color: #fff;
}

.thumbs {
  box-sizing: border-box;
  padding: 1rem 0;
  bottom: 145px;
}

.thumbs .swiper-slide {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  width: 200px;
  height: 111px;
  background: #001930;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 24px 24px 11px 24px;
  position: relative;
  overflow: hidden;
}

.thumbs .swiper-slide .slide-progress {
  display: none;
}

.thumb-image {
  display: none;
}

.swiper-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #00b2ff;
  z-index: 5;
  overflow: hidden;
}

.thumbs .swiper-slide.swiper-slide-active {
  background: #fff;
  color: #1a1f27;
  margin-left: 3px;
}

.thumbs .swiper-slide.swiper-slide-active .slide-progress {
  display: block;
}

.image {
  display: block;
  max-height: 288px;
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  right: -50px;
  z-index: -1;
}

.slider-bg--2 {
  background: linear-gradient(180deg, rgba(0, 25, 48, 0) 65%, rgba(54, 54, 54, 0.25) 91.86%);
  .slider-bg {
    background-color: transparent;
    color: #1a1f27;
    background-image: url('~/assets/images/oxi_logo_background-2.png');
  }
  .title,
  .btn-outline-light {
    color: #1a1f27;
  }
}

/** Tablet (vertical) **/
@media only screen and (min-width: 768px) {
  .slider-container {
    height: 600px;
  }

  .slider-bg {
    background-position: right -350px bottom;
  }

  .info {
    padding: 64px 40px;
    width: 400px;
  }

  .thumb-image {
    display: block;
    position: absolute;
    object-fit: contain;
    right: 0;
    height: auto;
    max-height: 110px;
    bottom: 0;
    width: auto;
    z-index: 0;
  }

  .title {
    font-size: 40px;
  }

  .description {
    font-size: 20px;
  }

  .image {
    max-height: 560px;
  }

  .thumbs .swiper-slide {
    width: 268px;
  }

  .thumb-description {
    position: relative;
    width: 148px;
    z-index: 1;
  }
}

/** Desktop **/
@media only screen and (min-width: 1100px) {
  .slider-container {
    height: 632px;
  }

  .slider-bg {
    background-position: center right;
    background-size: contain;
  }

  .image {
    max-height: 644px;
    right: 90px;
  }

  .info {
    width: 620px;
    padding: 100px;
    position: absolute;
    left: 0;
  }

  .thumbs .swiper-slide.swiper-slide-active {
    width: 376px;
  }
}

@media only screen and (min-width: 1500px) {
  .info {
    width: 620px;
    padding: 100px;
    position: absolute;
    left: 100px;
  }
}
</style>
