<template>
  <section class="section">
    <a v-if="slice.primary.blockAnchor" :id="$prismic.asText(slice.primary.blockAnchor)"></a>
    <b-row class="row-container card-height">
      <h4 v-if="slice.primary.blockTitle" class="row-title title title-l">
        {{ $prismic.asText(slice.primary.blockTitle) }}
      </h4>
      <b-col v-for="(item, i) in slice.items" :key="`slice-item-${i}`" md="4">
        <b-card no-body class="slice-card" :class="'slice-card-' + slice.variation">
          <div class="slice-card__img">
            <prismic-image :field="item.img" />
          </div>
          <div class="slice-card__text">
            <b-card-title class="title title-s slice-card__text__title">{{
              $prismic.asText(item.title)
            }}</b-card-title>
            <b-card-text>{{ $prismic.asText(item.text) }}</b-card-text>
          </div>
          <div v-if="slice.variation === 'big_num'" class="number slice-card__num">
            <p>{{ i + 1 }}</p>
          </div>
        </b-card>
      </b-col>
    </b-row>
  </section>
</template>

<script>
export default {
  name: 'TextImgBlock',
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>
