.about-bank{
    &__desc-card{
        color: $white;
        background: left bottom / contain no-repeat url('~/assets/images/utility/blue-arrows-bg.svg');
        background-color: #003361;
        padding: 64px 56px;
        .title{
            color: $white;
        }
        a{
            color: $white;
            margin-top: 32px;
            display: block;
        }
        &__list{
            margin-top: 48px;
        }
    }
    &__leaders-card{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 16px 32px 40px;
        &_item{
            margin-top: 24px;
            width: 30%;
            @include r($bp-tab-md) {
                width: 48%;
            }
            @include r($bp-phone-md) {
                width: 100%;
            }
            div{
                margin-top: 24px;
            }
        }
    }
    .about-license{
        img{
            display: none;
        }
    }
}