.btn-primary-8 {
	background: #003361;
	border-color: #003361;
	color: #ECEDEF;
	a{
		color: #ECEDEF;
		text-decoration: none;
	}
}

.btn-primary{
	a{
		color: #ECEDEF;
		text-decoration: none;
	}
}

.btn-primary-7 {
	background: #004C91;
	border-color: #004C91;
	color: #fff;
	a{
		color: #fff;
	}
	&:hover {
		background: #003361;
	}
}

.link-block{
	padding: 32px 24px;
	width: 100%;
	background: right / contain no-repeat url('~/assets/images/utility/link-block-bg.svg');
	background-color: $white;
	a{
		max-width: 160px;
		font-size: 18px;
		line-height: 24px;
		color: #1A1F27;
		font-weight: bold;
	}
}