.card-body {
    padding: 32px 24px;
    @include r($bp-phone-lg) {
        padding: 32px 16px;
    }
}

.card {
    //height: 100%;
    width: 100%;
    border-radius: 4px;
    box-shadow: $block-shadow;
    border: none;
    display: flex;  
    &.table-add-info {
        height: auto;
    }
    .card-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        font-family: 'Raleway', sans-serif;
    }
    &-pad {
        .card-body {
            padding: 40px 32px;
        }
    }
    &-row {
        .card-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &-col {
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &.card-gray {
        background-color: $gray-light;
    }
}

.card2 {
    background: $secondary;
    position: relative;
    height: 100%;
    .card2_img {
        width: 207px;
        height: 116px;
        position: absolute;
        bottom: 0;
        right: 24px;
    }
    .btn {
        margin-top: 32px;
    }
    &.main-screen {
        padding: 0;
    }
    &__gray {
        background-color: $gray-light;
    }
}

.card3 {
    .card3-link {
        text-decoration: underline;
        margin-top: 32px;
        display: block;
    }
}

.card-offer {
    min-height: 308px;
    text-align: right;
    background-color: $white;
    box-shadow: $block-shadow;
    border: none;
    overflow: hidden;
    transition: all .22s;
    &:hover {
        background-color: $secondary;
        border: none;
        .btn-secondary {
            background-color: $primary;
            color: $white;
            a {
                color: $white;
            }
        }
    }
    .card{
        height: 100%;
    }
    .card-title {
        font-size: 24px;
        line-height: 1.33;
        font-weight: bold;
    }
    .card-img {
        width: 45%;
        position: absolute;
        right: 0;
        bottom: 24px;
    }
    .card-body {
        text-align: left;
    }
    .card-img-overlay .card-title {
        max-width: 80%;
    }
    .position-relative {
        height: 100%;
    }
    .service-block__value {
        font-size: 20px;
        line-height: 1.6;
    }
    .service-block__detail {
        width: 100%;
        margin-bottom: 16px;
    }
    .btn {
        padding: 8px 24px;
        text-decoration: none;
    }
    .card-img-overlay {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
    }
    @include r($bp-phone-lg) {
        .card-body {
            padding: 32px 16px;
        }
    }
}

.card-pm {
    &.card-p2p {
        background: #E6F2FE;
        height: 100%;
        .card-body {
            height: 100%;
        }
        .card-title,
        .card-link {
            color: $dark;
        }
        img {
            height: 262px;
            width: auto;
        }
        .row {
            height: 100%;
        }
        @include r($bp-phone-lg) {
            margin-top: 16px;
        }
    }
    .card-body {
        padding: 32px 40px;
        .card-title {
            font-weight: bold;
        }
    }
    .card-link {
        display: inline-block;
    }
    ul {
        margin-bottom: 50px;
        li {
            a.card-link {
                margin-top: 16px;
            }
        }
    }
    @include r($bp-tab-lg) {
        .card-body {
            padding-right: 12px;
        }
    }
    @include r($bp-tab-md) {
        img {
            padding: 20px;
        }
        .card-body {
            padding: 0 24px 32px 24px;
        }
        .row {
            flex-direction: column-reverse;
        }
    }
    @include r($bp-phone-lg) {
        .card-body {
            padding: 0 16px 24px 16px;
        }
    }
}

.card4 {
    height: 136px;
    background: #FFF;
    position: relative;
    padding: 32px 24px;
    &_title {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #1A1F27;
        position: relative;
        z-index: 1;
    }
    &_number {
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 87px;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #F6F6F7;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.card6 {
    width: calc(33.333% - 10px);
    min-height: 168px;
    .card-body {
        padding: 42px 24px;
    }
    @include r($bp-tab-md) {
        width: calc(50% - 8px);
        margin-top: 16px;
        &:nth-child(1),
        &:nth-child(2) {
            margin-top: 0;
        }
        &:nth-child(odd) {
            margin-right: 16px;
        }
    }
    @include r($bp-phone-lg) {
        width: 100%;
        .card-body {
            padding: 32px 16px;
        }
        &:nth-child(2) {
            margin-top: 16px;
        }
        &:nth-child(odd) {
            margin-right: 0;
        }
    }
}

.card-blocks {
    margin-top: 32px;
    &--center {
        .card-body {
            align-items: center;
            .card-title {
                margin-bottom: 0;
            }
        }
    }
    @include r($bp-tab-md) {
        flex-wrap: wrap;
    }
    @include r($bp-phone-lg) {
        margin-top: 0;
    }
}

.card-links-download {
    flex-wrap: wrap;
    flex-direction: row;
    border: none;
    box-shadow: $block-shadow;
    border-radius: 4px;
    padding: 17px 24px;
    .card-body {
        display: flex;
        flex-wrap: wrap;
    }
    &__gray {
        background-color: $gray-light;
    }
    @include r($bp-tab-sm) {
        padding: 17px 16px;
    }
    @include r($bp-phone-lg) {
        padding: 20px 16px;
    }
    &.fd-column {
        flex-direction: column;
    }
}

.card-doc_links-download {
    flex-wrap: wrap;
}

.map-preview-card {
    background-image: url('~/assets/images/bussiness-main/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .card-body {
        flex-direction: column;
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding: 100px 56px 150px;
        box-sizing: border-box;
    }
    .card-text {
        max-width: 344px;
    }
    .btn {
        margin-top: 24px;
    }
    @include r($bp-tab-md) {
        .card-body {
            padding: 72px 24px;
        }
    }
    @include r($bp-phone-lg) {
        .card-body {
            padding: 32px 16px;
        }
    }
}

.card5 {
    width: calc(33.333% - 10px);
    min-height: 168px;
    height: auto;
    .card-text {
        margin-right: 16px;
        line-height: 1.71;
    }
    .card-body {
        display: flex;
        padding: 32px 8px 32px 24px;
        align-items: flex-start;
        justify-content: space-between;
        .card-title {
            width: 100%;
            margin-bottom: 8px;
        }
    }
    &__img {
        width: 104px;
    }
    &__text {
        width: calc(100% - 104px - 16px);
    }
    &.card-md {
        width: 100%;
        .card-body {
            align-items: center;
        }
    }
    @include r($bp-tab-md) {
        width: calc(50% - 8px);
        margin-top: 16px;
        &:nth-child(1),
        &:nth-child(2) {
            margin-top: 0;
        }
        &:nth-child(odd) {
            margin-right: 16px;
        }
    }
    @include r($bp-phone-lg) {
        width: 100%;
        &__text {
            width: 100%;
            text-align: center;
        }
        &__img {
            margin: 0 auto;
        }
        .card-text {
            margin-right: 0;
        }
        .card-body {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            padding: 8px 16px 32px;
        }
        &:nth-child(1),
        &:nth-child(2) {
            margin-top: 16px;
        }
        &:nth-child(odd) {
            margin-right: 0;
        }
    }
}

.protect-mechanisms-cards {
    &_left {
        .card {
            height: 100%;
        }
    }
    &_right {
        .protect-mechanisms-cards__item {
            &:not(:first-child) {
                margin-top: 16px;
            }
        }
    }
    .card-body {
        padding: 40px 32px;
    }
    .card-text {
        margin-top: 16px;
    }
}

.card-list {
    width: 100%;
    max-height: 384px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px 32px 40px;
    &_item {
        width: 30%;
        &_text {
            margin-top: 16px;
            display: flex;
            align-items: baseline;
            &::before {
                content: '';
                display: block;
                min-width: 16px;
                min-height: 16px;
                background-image: url('~/assets/images/utility/list-dark.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 10px;
            }
        }
    }
    @include r($bp-tab-sm) {
        &_item {
            width: 50%;
        }
    }
    @include r($bp-phone-md) {
        &_item {
            width: 100%;
        }
    }
}

.card-dark {
    color: $white;
    background: left bottom / contain no-repeat url('~/assets/images/utility/blue-arrows-bg.svg');
    background-color: #003361;
    padding: 64px 56px;
    .card-text:not(:first-child) {
        margin-top: 32px;
    }
    .title {
        color: $white;
    }
    a {
        color: $white;
        margin-top: 32px;
        display: block;
    }
    &__list {
        margin-top: 48px;
    }
    @include r($bp-phone-lg) {
        padding: 40px 16px;
        background: left bottom / contain no-repeat url('~/assets/images/utility/blue-arrows-bg.svg');
        background-color: #003361;
        .title {
            color: $white;
        }
        .card-link {
            color: $white;
            margin-top: 32px;
            display: block;
        }
        &__list {
            margin-top: 48px;
        }
        @include r($bp-phone-lg) {
            padding: 40px 16px;
        }
        .card-text {
            &:not(:first-child) {
                margin-top: 32px;
            }
        }
    }
    &_s {
        padding: 56px 40px;
        .card-text {
            color: $white;
        }
        .card-title{
            &.title {
                color: $white;
            }
        }
        .title-time {
            margin: 16px 0;
        }
        @include r($bp-phone-lg) {
            margin-top: 16px;
        }
    }
}

.overlay-card {
    background-color: $white;
    box-shadow: $block-shadow;
    border: none;
    .btn-secondary {
        border: none;
        a {
            text-decoration: none;
        }
    }
    &:hover {
        background-color: $secondary;
        border: none;
        .btn-secondary {
            background-color: $primary;
            a {
                color: $white;
            }
        }
    }
    .card-img-overlay {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        align-content: space-between;
        .card-title {
            max-width: 75%;
            overflow-wrap: normal;
        }
    }
}

.card-list-img {
    li {
        position: relative;
        margin-bottom: 24px;
        padding-left: 24px;
        line-height: 1.71;
        &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 4px;
            width: 16px;
            height: 16px;
            background: no-repeat url('~/assets/icons/check.svg');
        }
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    .card-content {
        padding: 40px 32px;
    }
    .card-body {
        padding: 0;
        padding-right: 64px;
    }
    @include r($bp-tab-md) {
        .card-body {
            padding-right: 0;
        }
    }
    @include r($bp-tab-sm) {
        .card-img {
            max-width: 220px;
            margin: 0 auto;
        }
        .btn {
            margin: 0 auto;
            display: block;
        }
        .card-content {
            padding: 24px 16px 40px;
        }
        .card-body .row {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

.card-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card-number {
        position: relative;
        width: calc(50% - 8px);
        height: auto;
        &:nth-child(3),
        &:nth-child(4) {
            margin-top: 16px;
        }
        .number {
            font-weight: 800;
            font-size: 64px;
            line-height: 87px;
            color: #F6F6F7;
            position: absolute;
            right: 22px;
            bottom: 4px;
        }
        @include r($bp-tab-sm) {
            width: 100%;
            margin-top: 16px;
        }
    }
    &--4 {
        .card-number {
            width: calc(25% - 12px);
            &:nth-child(3),
            &:nth-child(4) {
                margin-top: 0;
            }
        }
        @include r($bp-tab-md) {
            .card-number {
                width: calc(50% - 8px);
                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: 16px;
                }
            }
        }
        @include r($bp-tab-sm) {
            .card-number {
                &:nth-child(1),
                &:nth-child(2) {
                    margin-top: 0;
                }
            }
        }
        @include r($bp-phone-lg) {
            .card-number {
                width: 100%;
                &:nth-child(2) {
                    margin-top: 16px;
                }
            }
        }
    }
}

.gray-card {
    background: #F6F6F7;
    box-shadow: $block-shadow;
    border-radius: 4px;
    border: none;
    @include r($bp-phone-md) {
        .card-body {
            padding: 32px 16px;
        }
    }
    &.add-info-right {
        padding: 32px 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .card-link {
            margin: 32px 30px 0 0;
            display: inline-block;
        }
        @include r($bp-phone-md) {
            margin-top: 16px;
            padding: 0;
        }
    }
}

.internet-acquiring-banner{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 56px;
    @include r($bp-tab-md) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 46px 16px 0;
    }
    &__img{
        max-height: 160px;
        width: auto;
        margin-top: 8px;
    }
    &__text{
        display: flex;
        align-items: center;
        .big-number{
            font-size: 80px;
            line-height: 94px;
            font-weight: bold;
            margin-right: 24px;
            color: $primary8;
            font-family: 'Raleway', sans-serif;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
        .big-text{
            font-weight: bold;
            font-size: 40px;
            line-height: 48px;
            display: block;
        }
        .normal-text{
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
        }
        p{
            &:nth-of-type(2){
                color: $primary8;
            }
        }
    }
    @include r($bp-phone-lg) {
        &__text{
            flex-wrap: wrap;
            .big-number{
                font-size: 64px;
                line-height: 48px;
            }
            .big-text{
                font-size: 24px;
                line-height: 32px;
            }
            .normal-text{
                font-size: 14px;
                line-height: 24px;
            }
        }
        &__button{
            margin: 32px 0 40px;
        }
    }
}

.integration-card{
    height: fit-content;
    .card-img-right{
        margin-top: 24px;
       align-self: flex-end;
       max-width: 480px;
    }
    &:not(:first-child){
        margin-top: 24px;
    }
    .card-body{
        padding: 56px 24px; 
        display: flex;
        align-items: center;
        .card-text{
            max-width: 664px;
        }
    }
    .integration-variants{
        display: flex;
        margin-top: 56px;
        justify-content: space-between;
        max-width: 400px;
        width: 100%;
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                margin-top: 16px;
            }
            img{
                width: 64px;
                height: 64px;
            }
        }
    }
    @include r($bp-tab-sm){
        flex-wrap: wrap;
        flex-direction: column-reverse !important;
    }
}