$grid-breakpoints: ( xs: 0, sm: 480px, md: 750px, lg: 992px, xl: 1440px);
$enable-rounded: true;
// colors
$primary: #004C91;
$dark: #1A1F27;
$secondary: #ECEDEF;
$grey: rgba(236, 237, 239, 1);
$gray-light:#F6F6F7;
$gray-700:#272F3B;
$gray-600:#343E4E;
$white:#fff;
$blue-light:#E6F2FE;
$primary8: #003361;
//shadows
$block-shadow: 0 2px 16px rgba(0, 175, 245, 0.05),
0 0 1px rgba(141, 149, 161, 0.45),
0 4px 16px rgba(229, 229, 229, 0.2);
// sizes
$display3-size: 2.25rem;
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-feature-settings: "pnum" on, "lnum" on;
}

h2.hero {
    font-weight: 700;
    font-size: 32px;
}

// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
// Base
@import 'vars';
@import 'mixins';
@import 'global.scss';
@import 'global-elements.scss';
@import 'btns.scss';
@import 'tables.scss';
@import 'footer.scss';
@import 'service-block.scss';
@import 'cards.scss';
@import 'forms.scss';
@import 'map.scss';
@import 'sertificates.scss';
@import 'slice-blocks.scss';
//pages
@import 'main-screen.scss';
@import 'fvgo.scss';
@import 'about-card.scss';
//blog
@import 'blog/blog-home.scss';
@import 'blog/blog-post.scss';

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

ul {
    margin: 0;
}

img {
    width: 100%;
    // height: 100%;
}

.card-link + .card-link {
    margin-left: 0;
}

.dropdown-menu,
.btn {
    font-size: 0.875rem;
}
.btn{
    padding: 12px 24px;
}

.radius-2 {
    border-radius: 2px;
}

.dropdown-menu.full-width-menu {
    border: 0;
    box-shadow: -1px -1px 0 rgba(112, 144, 208, 0.05), 0 8px 24px rgba(112, 144, 208, 0.1);
    margin: 0;
    border-radius: 0;
}

.gray-card {
    background: #F6F6F7;
    box-shadow: $block-shadow;
    border-radius: 4px;
    border: none;
}


.text-bold {
    font-weight: bold;
}

.text-small{
    color: #1A1F27;
    font-size: 12px;
    line-height: 16px;
}

.breadcrumb{
    background-color: $white;
    padding: 40px 0 32px 0;
    margin-bottom: 0;
}

.row-container{
    margin-top: 80px;
    .block-title{
        width: 100%;
        padding-left: 15px;
        margin-bottom: 32px;
    }
}

.bg-primary-8 {
    background-color: $primary8;
}

@import 'tabs.scss';
