.footer {
	position: relative;
	background: $primary;
	color: #fff;
	font-size: 14px;
	line-height: 1.71;
	font-weight: 300;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		width: 320px;
		height: 100%;
		background-image: url(../images/footer-arrows.png);
		background-repeat: no-repeat;
		z-index: 2;
	}
	a {
		color: #fff;
		opacity: 1;
		transition: all .22s;
		&:hover {
			opacity: .8;
		}
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		li {
			&:last-child {
				margin-right: 0 !important;
				margin-bottom: 0 !important;
			}
		}
	}
	.footer__menu-icon {
		display: none;
	}
	.footer__menu-title {
		margin-bottom: 16px;
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
	}
	.footer__menu {
		&--wide {
			column-count: 2;
		}
	}
	.footer__app-title {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
	}
	.footer__app-descr {
		font-size: 12px;
		line-height: 1.33;
	}
	.footer__app {
		display: flex;
		align-items: center;
		margin-top: 16px;
		img {
			width: 40px;
			height: 40px;
			margin-right: 16px;
		}
	}
	.footer__socials {
		margin-top: 30px;
		img {
			width: 16px;
			height: 16px;
		}
		a {
			margin-right: 24px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.footer__number {
		font-size: 32px;
		line-height: 1.25;
	}
	.footer__copyright {
		flex: 1;
	}
	.footer__license {
		margin-right: 24px;
		img {
			margin-right: 11px;
			width: 24px;
			height: 24px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	.footer__top {
		padding-bottom: 40px;
		.footer__menu-title-ct {
			display: none;
		}
		ul li {
			margin-right: 48px;
		}
		.footer__socials {
			width: 100%;
			order: 2;
			text-align: center;
			margin: 22px 0 24px;
		}
	}
	.footer__main {
		padding: 40px 0;
		border-top: 1px solid #70a0c7;
		border-bottom: 1px solid #70a0c7;
		ul li {
			margin-bottom: 8px;
		}
		.btn-primary-8 {
			margin-top: 16px;
			padding: 4px 15px;
		}
	}
	.footer__bottom {
		padding-top: 40px;
	}
	.footer__ct {
		padding: 42px 0 56px;
	}
	.container {
		position: relative;
		z-index: 3;
	}
	@include rm($bp-tab-sm) {
		.footer__top {
			.footer__socials {
				display: none;
			}
		}
		.footer__ct {
			& > .footer__app {
				display: none;
			}
		}
	}
	@include r($bp-tab-lg) {
		&::after {
			background-image: url(../images/footer-arrows-tab.png);
		}
		.footer__license {
			margin-right: 0;
		}
		.footer__copyright {
			order: 4;
		}
		.footer__bottom {
			flex-wrap: wrap;
			> * {
				width: calc(60% - 20px);
				&:nth-child(even) {
					margin-right: 40px;
					width: calc(40% - 20px);
				}
				&:nth-child(2),
				&:nth-child(3) {
					margin-bottom: 16px;
				}
			}
		}
		.container {
			padding: 0 60px;
		}
	}
	@include r($bp-tab-md) {
		.footer__number {
			font-size: 24px;
		}
		.footer__license {
			font-size: 14px;
		}
		.footer__main {
			.row > * {
				&:nth-child(1),
				&:nth-child(2) {
					margin-bottom: 40px;
				}
			}
		}
		.footer__top {
			ul li {
				margin-right: 24px;
			}
		}
	}
	@include r($bp-tab-sm) {
		.footer__menu-title {
			margin: 0;
			padding: 8px 0;
			border-bottom: 1px solid #70a0c7;
		}
		.footer__menu-icon {
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -8px;
			line-height: 1;
		}
		.footer__menu-title-ct {
			position: relative;
		}
		.footer__app {
			display: none;
			padding: 24px 0;
			margin-top: 0;
			border-bottom: 1px solid #70a0c7;
		}
		.footer__socials--ct {
			display: none;
		}
		.footer__number {
			width: 100%;
			text-align: center;
			order: 1;
		}
		.footer__menu {
			max-height: 0;
			opacity: 0;
			visibility: hidden;
			transition: opacity, visibility, max-height;
			transition-duration: .3s;
			a {
				display: inline-block;
				padding: 4px 0;
			}
		}
		.footer__top {
			flex-wrap: wrap;
			padding-bottom: 0;
			.footer__socials {
				display: block;
			}
			.footer__menu-title {
				border-top: 1px solid #70a0c7;
			}
			ul li {
				margin-right: 0;
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.footer__menu {
				display: block !important;
			}
			.footer__menu-title-ct {
				display: block;
			}
			& > ul {
				width: 100%;
				order: 3;
			}
		}
		.footer__bottom {
			padding-top: 24px;
			> * {
				width: 100% !important;
				margin-bottom: 24px !important;
				&:first-child {
					margin-bottom: 0 !important;
				}
			}
		}
		.footer__main {
			padding: 0;
			border: none;
			.btn {
				display: none;
			}
			.row > * {
				margin-bottom: 0 !important;
			}
		}
		.footer__ct > .footer__app {
			display: flex;
		}
		.container {
			padding: 0 15px;
		}
	}
	@include r($bp-phone-md) {
		.footer__menu {
			&--wide {
				column-count: 1;
			}
		}
	}
}

@include r($bp-tab-sm) {
	.hasSubmenu.active .footer__menu {
		padding: 8px 0;
		max-height: 100%;
	    opacity: 1;
	    visibility: visible;
	}
}