.form-container {
    margin-top: 80px;
    padding: 64px;
    box-sizing: border-box;
    .form-title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #1A1F27;
    }
    input,
    textarea,
    select,
    .b-form-datepicker {
        background-color: $white;
        box-shadow: 0 2px 16px rgba(0, 175, 245, 0.05), 0 0 1px rgba(141, 149, 161, 0.45), 0 4px 16px rgba(229, 229, 229, 0.2);
        border-radius: 4px;
        border: none;
        font-size: 14px;
        height: 40px;
        line-height: 16px;
        color: #677181;
    }
    label {
        font-size: 14px;
        line-height: 24px;
        color: #8D95A1;
        margin-bottom: 0;
    }
    .form {
        &_button {
            width: 100%;
            margin-top: 24px;
        }
        &-group {
            width: 100%;
            margin-top: 24px;
            margin-bottom: 0;
        }
        &-note{
            font-size: 12px;
            line-height: 133%;
            color: #8D95A1;
            margin-top: 16px;
            a.card-link{
                color: #8D95A1;
            }
            &.agreement{
                text-align: center;
            }
        }
        &_input{
            &__error{
                input{
                    border: 1px solid #B83F4D;;
                }
                &__message{
                    color: #B83F4D;
                }
            }
        }
    }
    &_separator {
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            &::before {
                content: '';
                width: 1px;
                background: #D9DCE0;
                height: 45%;
                position: absolute;
                top: 0;
            }
            &::after {
                content: '';
                width: 1px;
                background: #D9DCE0;
                height: 45%;
                position: absolute;
                bottom: 0;
            }
        }
    }
    @include r($bp-tab-sm){
        padding: 32px 24px;
        &_separator {
            p{
                height: auto;
                width: 100%;
                margin: 40px 0;
                &::before{
                    height: 1px;
                    width: 40%;
                    left: 16px;
                    top: auto;
                }
                &::after{
                    height: 1px;
                    width: 40%;
                    right: 16px;
                    bottom: auto;
                }
            }
        }
    }
    @include r($bp-phone-md) {
        padding: 32px 16px;
    }
}

.compliance-form {
    p{
        margin-top: 16px;
    }
    &-right-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 16px;
        &__bottom {
            ul {
                margin-top: 24px;
                padding-inline-start: 0;
                li {
                    margin-top: 16px;
                }
            }
        }
    }
}

.contacts-form {
    &__contacts-list {
        p {
            margin-top: 16px;
        }
    }
}

.custom-radio {
    display: inline-block;
    margin-right: 60px;
    &:last-child {
        margin-right: 0;
    }
}

.radio-input {
    label {
        color: #000;
    }
    & > label {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 700;
    }
}

.form-success{
    &__content{
        text-align: center;
        &__undertitle{
            margin-top: 8px;
        }
    }
}