.deposit-guarantee-card{
    margin-top: 32px;
}

.deposit-guarantee{
    &___card{
        margin-top: 80px;
        &__sert-desc{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
                p{
                    &:last-child{
                    margin-top: 16px;
                }
            }
        }
        &__video{
            margin-top: 40px;
            iframe{
                border-radius: 4px;
                box-shadow: $box-shadow;
                width: 100%;
            }
        }
        &__add-info-links{
            .card-body{
                padding: 12px 32px 40px 32px;
            }
            a{
                display: inline-block;
                margin: 24px 32px 0 0;
            }
        }
    }
    &__sertificate{
        width: 189px;
        // height: 272px;
    }
}
