body {
    font-family: 'Open Sans', sans-serif;
	color: $dark;
	scroll-behavior: smooth;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

ul {
    margin: 0;
}

img {
    width: 100%;
    // height: 100%;
}

a {
	color: initial;
	transition: all .22s;
	cursor: pointer;
	&:hover {
		text-decoration: none;
		// color: initial;
	}
}

.container {
  width: 1198px;
  max-width: 100%;
}

.page-container {
	.container {
		@include r($bp-tab-sm) {
	  	padding-bottom: 64px;
	  }	
	  @include rm($bp-tab-sm) {
	  	padding-bottom: 80px;
	  }
	}
	// &.internet-acquiring{
	// 	img{
    //     width: auto;
	// 	height: fit-content;
	// 	@include r($bp-tab-sm){
	// 			width: 100%;
	// 		}
    // 	}
	// }
}
.row-title {
	margin-bottom: 32px;
}
.row-container{
	margin-top: 80px;
	&.card-height{
		.card{
			height: 100%;
		}
	}
	.row-title {
		padding-left: 15px;
		margin-bottom: 32px;
	}
	.col-md-4{
		&:nth-of-type(n+4){
			margin-top: 16px;
		}
		@include r($bp-tab-sm){
			&:nth-of-type(n+3){
				margin-top: 16px;
			}
		}
		@include r($bp-phone-lg){
			&:nth-of-type(n+1){
				margin-top: 16px;
			}
		}
	}
	&.main-row{
		margin-top: 0;
		.main-row-links{
			display: flex;
			flex-wrap: wrap;
			.main-row__link{
				margin-right: 40px;
				text-decoration: underline;
			}
			@include r($bp-phone-md) {
				flex-direction: column;
				.main-row__link{
					width: 100%;
					&:not(:first-child){
						margin-top: 16px;
					}
				}
			}
		}
	}
}

.row-cols-2{
	@include r($bp-phone-lg) {
		> *{
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
	
}
