.dropdown-menu,
.btn {
    font-size: 0.875rem;
}

.radius-2 {
    border-radius: 2px;
}

.dropdown-menu.full-width-menu {
    border: 0;
    box-shadow: -1px -1px 0 rgba(112, 144, 208, 0.05), 0 8px 24px rgba(112, 144, 208, 0.1);
    margin: 0;
    border-radius: 0;
}

.card-link {
    text-decoration: underline;
    margin-left: 0;
    &:not(:first-child){
        margin-top: 16px;
    }
}

.doc-download-link {
    text-decoration: underline;
    position: relative;
    color: $dark;
    margin: 15px 32px 15px 0;
    padding-left: 34px;
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    align-items: center;
    &::before {
        content: '';
        display: block;
        width: 26px;
        height: 28px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background: center / cover no-repeat url('~/assets/images/cards/doc.svg');
    }
    @include r($bp-tab-sm) {
    	margin-right: 0;
    &:last-child {
        margin-right: 0;
    }
}
    @include r($bp-phone-lg) {
        margin: 12px 32px 12px 0;
    }
    @include r($bp-phone-md) {
        margin-right: 0;
    }
}


.simple-bottom-text {
    margin-top: 80px;
    line-height: 1.71;
    a {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 1px;
            background: $dark;
            transform: scaleX(1);
            transform-origin: 50% 50%;
            transition: transform 0.3s;
        }
        &:hover {
            &::after {
                transform: scaleX(0);
            }
        }
    }
    @include r($bp-tab-md) {
        margin-top: 64px;
    }
}

.breadcrumb {
	padding: 40px 0 0;
	margin-bottom: 32px;
	background: none;
	font-size: 14px;
	line-height: 1.71;
	.breadcrumb-item {
		a {
			color: #414E62;
            &:hover {
                color: #8D95A1;
            }
		}
		&.active {
			color: #8D95A1;
		}
	}
}

.card .card-title.title,
.title {
    color: #1A1F27;
    font-weight: bold;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    p{
       font-family: 'Raleway', sans-serif; 
    }
    &-xs{
        font-size: 16px;
        line-height: 1.33;
    }
    &-s {
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 1.33;
    }
    &-m {
        font-size: 24px;
        line-height: 32px;
    }
    &-l {
        font-size: 32px;
        line-height: 1.2;
        @include r($bp-phone-lg) {
            font-size: 24px;
        }
    }
    &-xl {
        font-size: 40px;
        line-height: 48px;
    }
}

.service-page {
    .title-l {
        margin-top: 80px;
        @include r($bp-tab-md) {
            margin-top: 64px;
        }
    }
    .row-container{
        margin-top: 0;
    }
}

.page-title {
	margin-bottom: 32px;
	font-weight: bold;
	font-size: 40px;
	line-height: 1.2;
	@include r($bp-tab-md) {
		font-size: 32px;
	}
	@include r($bp-phone-lg) {
		font-size: 24px;
		line-height: 1.33;
	}
}

.link-block-single {
	box-shadow: 0 2px 16px rgb(0 175 245 / 5%), 
	0 0 1px rgb(141 149 161 / 45%), 
	0 4px 16px rgb(229 229 229 / 20%);
    border-radius: 4px;
    padding: 32px 24px;
    background: $gray-light;
    .link-block__link {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #8d95a1;
          transform: scaleX(1);
          transform-origin: 50% 50%;
          transition: transform 0.3s;
        }
        &:hover {
          &::after {
            transform: scaleX(0);
          }
        }
    }
    .link-block__text {
    	font-size: 14px;
    	line-height: 1.71;
    }
    @include r($bp-tab-sm) {
    	padding: 32px 16px;
    }
}

.table-ct {
    margin-top: 32px;
    .table-add-info {
        width: 375px;
    }
    @include r($bp-tab-md) {
        .table-add-info {
            width: 100%;
        }
    }
}
.list-container{
    margin-top: 32px;
}
ul{
&.list{
    list-style: none;
    padding: 0;
    li{
        margin-top: 16px;
        display: flex;
        align-items: center;
        &::before{
            content: '';
            display: block;
            width: 13px;
            height: 9px;
            background-image: url('~/assets/images/utility/list.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
        }
    }
    }
    &.simple-list{
        padding-left: 20px;
        margin-top: 24px;
        li{
            margin-top: 16px;
            // font-size: 16px;
            // line-height: 24px;
        }
    }
    &.non-style-list{
        list-style: none;
        padding: 0;
        margin-top: 24px;
        li{
            margin-top: 12px;
        }
    }
}


.standart-blocks {
    .card-text {
        line-height: 1.71;
    }
    .card-body {
        padding: 32px 24px;
    }
    .card {
        min-height: 168px;
        height: 100%;
    }
    .standart-block {
        height: auto;
    }
    &__left {
        width: 82%;
        margin-right: 16px;
        flex-wrap: wrap;
        .standart-block {
            width: calc(50% - 8px);
            &:nth-child(3),
            &:nth-child(4) {
                margin-top: 16px;
            }
        }
    }
    &__right {
        .title {
            margin-bottom: 24px;
        }
        ul {
            padding-left: 18px;
            margin-top: 24px;
            li {
                line-height: 1.43;
                margin-bottom: 16px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .card {
            background: $secondary;
        }
    }
    &--extended {
        .subtitle {
            margin-bottom: 16px;
            font-size: 16px;
            font-weight: 500;
        }
        .list-col {
            display: inline-block;
            vertical-align: top;
            width: calc(50% - 32px);
            &:first-child {
                margin-right: 60px;
            }
        }
        .standart-blocks__left {
            width: 100%;
            margin-right: 0;
            .standart-block {
                width: calc(25% - 10px);
                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: 0;
                }
            }
        }
        .standart-blocks__right {
            max-width: 74%;
            margin-top: 16px;
            ul {
                column-count: 1;
            }
            .title {
                margin-bottom: 16px;
            }
        }
    }
    @include r($bp-tab-lg) {
        .standart-blocks__right {
            max-width: 100%;
        }
    }
    @include r($bp-tab-md) {
        flex-wrap: wrap;
        &__left {
            width: 100%;
            margin-right: 0;
        }
        &__right {
            width: 100%;
            margin-top: 16px;
            ul {
                column-count: 2;
            }
        }
        &--extended {
            .standart-blocks__left .standart-block {
                width: calc(50% - 8px);
                &:nth-child(3),
                &:nth-child(4) {
                    margin-top: 16px;
                }
            }
        }
    }
    @include r($bp-phone-lg) {
        .card-body {
            padding: 32px 16px;
        }
        &__left {
            .standart-block {
                width: 100%;
                &:nth-child(2) {
                    margin-top: 16px;
                }
            }
        }
        &__right {
            ul {
                column-count: 1;
            }
        }
        &--extended {
            .standart-blocks__left {
                .standart-block {
                    width: 100%;
                }
            }
            .list-col {
                width: 100%;
                &:first-child {
                    margin-right: 0;
                    margin-bottom: 32px;
                }
            }
        }
    }
}

.line{
    width: 100%;
    height: 1px;
    background-color: #D9DCE0;
    margin: 24px 0;
}

.offer-cards {
    .card-offer {
        width: calc(25% - 11px);
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
    @include r($bp-tab-md) {
        flex-wrap: wrap;
        .card-offer {
            width: calc(50% - 8px);
            margin-top: 16px;
            &:nth-child(even) {
                margin-right: 0;
            }
            &:nth-child(1),
            &:nth-child(2) {
                margin-top: 0;
            }
        }
    }
    @include r($bp-phone-lg) {
        .card-offer {
            width: 100%;
            margin-right: 0;
            &:nth-child(2) {
                margin-top: 16px;
            }
        }
    }
}

.pm-container {
    @include r($bp-phone-lg) {
        .col {
            flex: none;
        }
    }
}

.simple-blocks {
    &--3 {
        .simple-block {
            display: inline-block;
            vertical-align: top;
            width: calc(33.333% - 11px);
            min-height: 192px;
            margin-right: 16px;
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(n+4) {
                margin-top: 16px;
            }
            @include r($bp-tab-md) {
                width: 100%;
                margin-right: 0;
                margin-top: 16px;
                min-height: auto;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

.number {
    font-weight: 800;
    font-size: 104px;
    line-height: 87px;
    color: $secondary;
}
