.main-screen {
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    box-shadow: -1px -1px 0 rgba(112, 144, 208, 0.05), 0 8px 24px rgba(112, 144, 208, 0.1);
    border-radius: 4px;
    border: none;
    &_img {
        width: 40%;
        margin-right: 56px;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            bottom: 1px;
        }
        @include r($bp-tab-md) {
            margin-right: 16px;
            padding-left: 0;
        }
        @include r($bp-phone-lg) {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 2;
            width: 117px;
        }
    }
    &_text {
        padding: 64px 0 64px 56px;
        width: 60%;
        max-width: 700px;
        z-index: 3;
        @include r($bp-tab-md) {
            padding: 64px 0 64px 24px;
        }
        @include r($bp-phone-lg) {
            width: 100%;
            padding: 40px 16px;
        }
    }
    &_title {
        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 1.2;
            @include r($bp-phone-lg) {
                font-size: 32px;
            }
        }
    }
    &_conditions {
        display: flex;
        margin-top: 56px;
        &_first {
            margin-right: 72px;
        }
        span {
            display: block;
        }
        &__title {
            font-size: 12px;
            line-height: 16px;
            color: $blue-light;
        }
        &__desc {
            font-size: 30px;
            line-height: 1.25;
            margin-top: 8px;
        }
        @include r($bp-tab-md) {
            margin-top: 40px;
            &_first {
                margin-right: 40px;
            }
        }
        @include r($bp-phone-lg) {
            flex-wrap: wrap;
            margin-top: 32px;
            &__desc {
                margin-top: 0;
                font-size: 24px;
            }
            &_first {
                margin-bottom: 24px;
                margin-right: 0;
            }
            & > * {
                width: 100%;
            }
        }
    }
    &_description {
        margin: 56px 0 8px;
        font-size: 16px;
        line-height: 24px;
        @include r($bp-tab-md) {
            margin-top: 40px;
        }
        @include r($bp-phone-lg) {
            margin-top: 32px;
        }
    }
     &_subdescription {
        color: #B3B8C0;
        font-size: 12px;
        line-height: 1.33;
    }
    &_button{
        margin-top: 56px;
    }
    .temp-img{
        width: 41%;
        margin-right: 0;
        img{
            bottom: 50%;
            transform: translateY(50%);
            width: 100%;
        }
    }
    &_links {
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;
        .card-link {
            display: inline-block;
            text-decoration: none;
            position: relative;
            margin: 0 48px 16px 0;
            font-size: 14px;
            line-height: 1.71;
            white-space: nowrap;
            width: fit-content;
            &::after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                height: 1px;
                background: #fff;
                transform: scaleX(1);
                transform-origin: 50% 50%;
                transition: transform 0.3s;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                &::after {
                    transform: scaleX(0);
                }
            }
        }
        @include r($bp-phone-lg) {
            flex-direction: column;
        }
    }
    &.rate {
        .main-screen_conditions_first .main-screen_conditions__desc {
            width: 220px;
            font-size: 24px;
            line-height: 1.67;
        }
    }
    &--simple {
        .main-screen_conditions {
            display: none;
        }
        .main-screen_links {
            margin-top: 80px;
        }
    }
    &_dark {
        background: center / cover no-repeat url('~/assets/images/common/bg-main-dark.svg');
        color: $white;
        .main-screen_conditions__title {
            color: $blue-light;
        }
        .main-screen_links{
            .card-link{
                color: $white;
                &::after {
                    background:  $white;
                }
            }
        }
    }
    &_light {
        background: center / cover no-repeat url('~/assets/images/common/bg-main-light.svg');
        color: $dark;
        .main-screen_links{
            color: $dark;
            .card-link{
                &::after {
                    background:  $dark;
                }
            }
        }
    }
    &_gray {
        background: center / cover no-repeat url('~/assets/images/common/bg-main-gray.svg');
        color: $dark;
        .main-screen_conditions__title {
            color: #677181
        }
        .main-screen_links{
            color: $dark;
            .card-link{
                &::after {
                    background:  $dark;
                }
            }
        }
    }
    &_gray-2 {
        background: center / cover no-repeat url('~/assets/images/common/bg-main-gray-2.svg');
        color: $dark;
        .main-screen_conditions__title {
            color: #677181
        }
        .main-screen_links{
            color: $dark;
            .card-link{
                &::after {
                    background:  $dark;
                }
            }
        }
        .main-screen_subdescription {
            color: $gray-600;
        }
    }
    &--cards {
        .main-screen_img {
            display: flex;
            align-items: center;
            padding-top: 65px;
            width: 45%;
            img {
                position: relative;
            }
        }
        .main-screen_text {
            width: 55%;
        }
    }
    &__rco{
        img{
            height: 100%;
            width: auto;
            right: 0;
        }
    }
    &--data-security{
        margin-top: 80px;
    }
    &-bankID{
        margin-top: 80px;
        background: center / cover no-repeat
          url('~/assets/images/main-screen/bankID-bg.svg');
        &__checkbox {
          margin: 96px 0 32px 0;
        }
        .main-screen_description {
          margin-top: 16px;
        }
        .main-screen_img {
          display: flex;
          align-items: center;
          img {
            position: static;
          }
        }
    }
    &-sportbank{
        background: center / cover no-repeat
          url('~/assets/images/main-screen/sportbank-bg.svg');
          color: $white;
        .main-screen_img {
          display: flex;
          align-items: center;
          img {
            position: static;
          }
        }
        .main-screen_conditions__title {
            color: $blue-light;
        }
        .main-screen_links{
            .card-link{
                color: $white;
                &::after {
                    background:  $white;
                }
            }
        }
        @include r($bp-phone-lg){
            background: linear-gradient(59.64deg, #EB6E26 13.38%, rgba(235, 110, 38, 0) 97.51%), #E43522;;
            &::after {
                background-image: url('~/assets/images/common/bg-mobile-sport.svg');
            }
        }
    }
    @include r($bp-tab-md) {
        &_dark {
            .main-screen_img {
                width: 50%;
            }
        }   
        &_gray {
            .main-screen_img img {
                right: -100px;
                top: 50%;
                transform: translateY(-50%);
                bottom: auto;
            }
        }
        &--cards {
            .main-screen_img img {
                right: -20px;
                top: auto;
                transform: none;
            }
        }
    }
    @include r($bp-phone-lg) {
        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-size: contain;
            width: 80px; 
            height: 176px;
            z-index: 1;
        }
        &_dark {
            background: $primary8;
            &::after {
                background-image: url('~/assets/images/common/bg-mobile-dark.png');
            }
        }
        &_gray {
            background: $secondary;
            .main-screen_img {
                margin-right: 0;
                img {
                    right: -22px;
                    bottom: 16px;
                    top: auto;
                    transform: inherit;
                }
            }
            &::after {
                background-image: url('~/assets/images/common/bg-mobile-gray.png');
            }
        }
    }
}

.main-screen--small-img {
    .main-screen_img {
        img {
            right: 16px;
            width: 320px;
            @include r($bp-phone-lg) {
                width: 117px;
            }
        }
    }
}

// .main-screen--credits {
//     .main-screen_text {
//         padding-bottom: 16px;
//     }
// }

.main-screen--pc-4 {
    .main-screen_img img {
        width: 295px;
        margin-left: 115px;
    }
    @include r($bp-tab-md) {
        .main-screen_img img {
            right: 0;
        }
    }
    @include r($bp-phone-lg) {
        .main-screen_img {
            width: 100px;
            img {
                width: 100%;
            }
        }
    }
}