
.visibleCities {
  position: absolute;
  span {
    font-weight: bold;
  }
}

.flex {
  position: relative;
  padding-bottom: 50px;
}

.GMap {
  margin: 24px 0;
  position: relative;
}

.GMap__Wrapper {
  width: 100%;
  height: 600px;
  box-shadow: $block-shadow;
  border-radius: 4px;
}

.GMap__InfoWindow.map-add-info{
    background: $white;
    box-shadow: $block-shadow;
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h6{
        width: 100%;
    }
}
.map-container{
    .map-header{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    .map-body{
      width: 100%;
      height: 600px;
      box-shadow: $block-shadow;
      margin: 24px 0;
      position: relative;
      border-radius: 4px;
      // &.form-map{
      //   height: 256px;
      // }
    }
    .map-add-message{
        background: $white;
        box-shadow: $block-shadow;
        border-radius: 4px;
        padding: 24px;
        max-width: 272px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
        &_close{
          width: 20px;
          height: 20px;
          padding: 10px;
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 11;
          cursor: pointer;
          background: center/contain no-repeat url('~/assets/images/maps/close.svg');
          background-size: 10px 10px;
        }
    }
    .map-search{
        position: absolute;
        top: 20px;
        left: 20px;
        max-width: 300px;
        border: none;
    }
    
}
.gmnoprint{
    display: none;
}
.gm-style{
  .gm-style-iw-c {
    background: $white;
    box-shadow: $block-shadow;
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h6{
        width: 100%;
    }
  }
}

.info-window-custom{
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  &.atm{
    .left-side{
      width: 100%;
    }
  }
  h6{
    width: 100%;
  }
  .left-side{
    width: 35%;
    div{
      p{
        margin-top: 16px;
      }
    }
  }
  .right-side{
    width: 65%;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        margin-top: 8px;
        &::before{
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          background-image: url('~/assets/images/utility/map-list-arrow.svg');
          background-position: center;
          background-repeat: no-repeat;
          margin-right: 8px;
        }
      }
    }
  }
}

.map-filters{
  display: flex;
  align-items: center;
  margin: 32px 0;
  width: 100%;
  position: relative;
  .map-filter-compl{
    width: 100%;
    max-width: 338px;
  }
  .map-filter-check{
    display: flex;
    position: absolute;
    right: 0;
    &_item{
      cursor: pointer;
      &:first-of-type{
        margin-right: 40px;
      }
    }
  }
  .map-filter-display{
    background-color: $secondary;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    margin-right: 40px;
    width: 160px;
    &_item{
      cursor:pointer;
      width: 50%;
      padding-left: 0;
      text-align: center;
      label{
        cursor:pointer;
        line-height: 32px;
        &::before{
          opacity: 0;
          visibility: hidden;
        }
        &::after{
          opacity: 0;
          visibility: hidden;
        }
      }
      &.active{
        background-color: $white;
        border-radius: 4px;
      }
    }
  }
  @include r($bp-tab-sm){
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
    .map-filter-compl{
      margin-top: 24px;
      max-width: 100%;
    }
  }
  @include r($bp-phone-md){
    .map-filter-check{
      position: relative;
      margin-top: 24px;
    }
    .map-filter-display{
      width: 100%;
      margin-right: 0;
    }
  }
}

.autocomplete-input {
  background-color: #FFF;
  height: 40px;
  color: #001930;
  box-shadow: 0 2px 16px rgba(0, 175, 245, 0.05), 0 0 1px rgba(141, 149, 161, 0.45), 0 4px 16px rgba(229, 229, 229, 0.2);
  border-radius: 4px;
}
.map-form-container{
  .map-filters{
    .map-filter-compl{
      max-width: 100%;
    }
  } 
  .form-map{
    &.map-body{
      height: 256px;
      .autocomplete-input {
        width: 100%;
      }
      .info-window-custom{
        flex-direction: column;
        .left-side{
          width: 100%;
          div{
            p{
              margin-top: 8px;
            }
          }
        }
        .right-side{
          width: 100%;
        }
      }
    }
  }
}
