/// General
@mixin clr {
    &::after {
        content: '';
        display: table;
        height: 0;
        clear: both;
    }
}
@mixin icon-glyph {
    display: block;
    font-family: $font-icon;
    -webkit-font-smoothing: antialiased;
    // font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0 0 rgba(255,255,255,0);
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
@mixin abs-fwh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin ibc-cont {
    // font-size: 0;
    &::before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    > * {
        display: inline-block;
        vertical-align: middle;
    }
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin raw-box {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    border-radius: 0;
    color: inherit;
    appearance: none;
}
@mixin bg-cover {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
@mixin img-hidden {
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 100%;
        opacity: 0;
    }
}
@mixin alone-nomargin {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
@mixin inner-nomargin {
    > * {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}


/// Media queries
@mixin r($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin rm($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin rh($height) {
    @media screen and (max-height: $height) {
        @content;
    }
}

@mixin rhm($height) {
    @media screen and (min-height: $height) {
        @content;
    }
}

@mixin rmm($widthmin, $widthmax) {
    @media screen and (min-width: $widthmin) and (max-width: $widthmax) {
        @content;
    }
}

@mixin rhmm($heightmin, $heightmax) {
    @media screen and (min-width: $heightmin) and (max-width: $heightmax) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}




