.sertificate {
    max-width: 100%;
    &-img {
      box-shadow: $block-shadow;
    }
    &-link{
        margin-top: 16px;
    }
  }

  //pages uses
  .corporative-management__sertificates{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .sertificate {
        width: 33%;
      }
      @include r($bp-phone-lg) {
          flex-wrap: wrap;
          justify-content: center;
          .sertificate{
              width: 100%;
          }
      }
  }
