.service-block {
  margin-bottom: 32px;
  box-shadow: 0 2px 16px rgb(0 175 245 / 5%), 
    0 0 1px rgb(141 149 161 / 45%),
    0 4px 16px rgb(229 229 229 / 20%);
  border: none;
  .card-title {
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 32px;
  }
  &__title {
    font-size: 12px;
    line-height: 1.33;
    color: #677181;
  }
  &__value {
    font-size: 26px;
    line-height: 1.25;
  }
  &__text {
    margin-top: 24px;
    min-height: 16px;
    font-size: 14px;
    line-height: 24px;
    color: $dark;
  }
  .card-img {
    width: 264px;
  }
  .badge {
    width: 32px;
    margin-top: 8px;
    margin-right: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    background: #f6f6f7;
    border-radius: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
  .card-body {
    padding: 20px 0 20px 64px;
  }
  .btn-gray {
    height: 48px;
    padding: 12px 24px;
    background: $secondary;
    border: none;
    color: #1a1f27;
    font-size: 14px;
    line-height: 1.71;
    transition: all 0.3s;
    &:hover{
        background: $primary;
        color: $white;
        a{
          color: $white;
        }
    }
  }
  .link {
    position: relative;
    margin-left: 56px;
    padding: 12px 0;
    color: #00183c;
    font-size: 14px;
    line-height: 1.71;
    &::after {
      content: '';
      position: absolute;
      bottom: 11px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #8d95a1;
      transform: scaleX(1);
      transform-origin: 50% 50%;
      transition: transform 0.3s;
    }
    &:hover {
      &::after {
        transform: scaleX(0);
      }
    }
  }
  .btns-ct {
    margin-top: 24px;
  }
  &__link {
    padding: 64px 99px 64px 64px;
    transition: all 0.3s;
    &:hover {
      background: $gray-light;
    }
  }
  &--card {
    .card-img {
      width: 314px;
      margin-top: 50px;
    }
    .card-body {
      padding-left: 40px;
    }
    .service-block__link {
      padding-left: 39px;
    }
  }
  &--calc {
    .service-block__detail {
      margin-right: 56px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .service-block__details--double {
    .service-block__detail {
      min-width: 225px;
    }
  }
  @include r($bp-tab-lg) {
    &__value {
      margin-top: 8px;
      font-size: 20px;
      line-height: 1.6;
    }
  }
  @include r($bp-tab-md) {
    &__text {
      margin-top: 16px;
    }
    .card-img {
      width: 208px;
    }
    .btns-ct {
      margin-top: 16px;
    }
    .card-body {
      padding: 0 0 0 32px;
    }
    &__link {
      padding: 32px 42px 32px 24px;
    }
    &--card {
      .card-img {
        width: 209px;
        height: 147px;
      }
      .card-body {
        padding-left: 10px;
      }
      .service-block__link {
        padding-left: 6px;
      }
    }
  }
  @include r($bp-tab-sm) {
    .card-img {
      width: 100%;
    }
    .card-title {
      margin: 24px 0;
      font-size: 24px;
    }
    .link {
      margin-left: 20px;
    }
    .btns-ct {
      margin-top: 24px;
    }
    &__detail {
      width: 50%;
      &:nth-child(3) {
        display: none;
      }
    }
    .card-body {
      padding: 0;
    }
    &__link {
      padding: 8px 8px 32px 8px;
    }
    .service-block__details--double {
      .service-block__detail {
        min-width: auto;
      }
    }
    &--card {
      .card-img {
        height: auto;
      }
    }
  }
  @include r($bp-phone-md) {
    .link {
      margin-left: 12px;
    }
  }
}