.slice-card{
    padding: 32px 8px 32px 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &__text{
        margin-right: 16px;
        line-height: 1.71;
        &__title{
            margin-top: 28px;
        }
    }
    &__num{
        position: absolute;
        top: 18px;
        right: 12px;
    }
    &-top_img{
        flex-direction: column;    
        justify-content: start;
    }
    &-right_img{
        flex-direction: row-reverse;    
        align-items: center;
        padding: 32px;
        .slice-card__img {
          max-width: 64px;
          img{
            width: 100%;
            height: 100%;
          }
      }
    }
    &-bigNum{
        flex-direction: column;  
        justify-content: flex-start;
    }
}

.five-col__row{
    flex-wrap: wrap;
    .five-col {
        min-width: 220px;
        max-width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 24px;
      &__item {
        max-height: 104px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__img {
          width: 100%;
          height: 100%;
        }
        &__label{
            margin-top: 8px;
            text-align: center;
        }
      }
      @include r($bp-phone-md){
        width: 48%;
        min-width: 144px;
      }
    }
  }

  .card-block{
      .card-body{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 56px;
          ul{
                list-style: none;
                padding: 0;
                li{
                    margin-top: 16px;
                    display: flex;
                    align-items: center;
                    &::before{
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        background-image: url('~/assets/images/utility/list-dark.svg');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-right: 10px;
                    }
                }
            }
            .card-block__img{
                flex: 0 0 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 400px;
                @include r($bp-tab-sm){
                    margin-top: 32px;
                    flex: 0 0 100%;
                    img{
                        width: 100%;
                    }
                }
            }
            @include r($bp-tab-sm){
                padding: 32px 16px;
            }
      }
  }

  .swiper-controls-container {
    display: flex;
    h4 {
      padding-left: 0;
    }
  }
  .swiper-button {
    background-color: #003361;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    position: static;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 12px;
    color: white;
  }
  
  .swiper-controls {
    width: 96px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    @include r($bp-phone-lg) {
        display: none;
    }
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: auto;
  }
  .swiper-slide {
    min-width: 240px;
    .swiper-card {
      flex-direction: column;
      height: 308px;
      min-width: 100%;
      display: flex;
      border-radius: 4px;
      &__label {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          max-width: 90%;
          text-align: center;
        }
      }
      &__img {
        border-radius: 4px 4px 0 0;
      }
    }
    &:nth-child(2n) {
      .swiper-card {
        flex-direction: column-reverse;
        &__img {
          border-radius: 0 0 4px 4px;
        }
      }
    }
  }

  .card-links{
    &-withGrayBlock{
      display: flex;
      justify-content: space-between;
      .card-links-download{
        width: 66%;
      }
      .add-info-right{
        width: 32%;
      }
    }
  }