.table {
    border-spacing: 16px 0;
    border-collapse: separate;
    .title {
        margin-top: 28px;
        margin-bottom: 4px;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.33;
        color: #003361;
    }
    td {
        padding: 16px 10px;
        vertical-align: top;
        font-weight: bold;
        font-size: 16px;
        color: #1a1f27;
        border-top: none;
        border-top: 1px solid #d9dce0;
        span {
            display: block;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.71;
            color: #677181;
        }
        p {
            // margin-bottom: 16px; 
            &:last-child {
                margin-bottom: 0;
            }
        }
        &.row-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71;
            &.bold {
                font-weight: 600;
            }
        }
        &.no-border {
            border: none;
            padding-bottom: 0;
        }
    }
    .price {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.33;
        color: #1a1f27;
        span {
            font-size: 14px;
            line-height: 1.71;
            color: #677181;
        }
    }
    .subheader {
        background: #f6f6f7;
        border-radius: 4px;
        td {
            padding: 8px;
            border: none;
        }
        &--r {
            span {
                display: inline-block;
                margin-right: 8px;
            }
            td {
                padding: 8px 16px;
                font-size: 14px;
            }
            .left {
                font-size: 16px;
            }
            .ct {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        & + tr td {
            border: none;
        }
    }
    td.title-big {
        font-size: 24px;
    }
    td.title-m {
        font-size: 18px;
    }
    th {
        padding: 0;
    }
    .th-ct {
        height: 240px;
        padding: 40px 30px;
        margin-top: 16px;
        box-shadow: $block-shadow;
        border-radius: 4px;
        text-align: center;
    }
    thead th {
        img {
            width: 100px;
        }
    }
    tr {
        &.big {
            td {
                padding: 24px 10px;
                border: none;
            }
        }
        &.btm {
            td {
                padding-bottom: 24px;
                border-bottom: none;
            }
        }
        &:last-child {
            td {
                border-bottom: none;
            }
        }
    }
    @include r($bp-tab-lg) {
        .th-ct {
            padding: 36px 16px;
        }
    }
    @include r($bp-tab-md) {
        th {
            width: 344px;
        }
    }
    @include r($bp-phone-lg) {
        th {
            width: 258px;
        }
        .subheader {
            &--r {
                span {
                    display: block;
                }
            }
        }
    }
}

.rates-table .table {
    table-layout: fixed;
}

.deposits-table {
    width: 777px;
    padding: 8px;
    box-shadow: -1px -1px 0 rgba(112, 144, 208, 0.05), 0 8px 24px rgba(112, 144, 208, 0.1);
    border-radius: 4px;
    .table {
        tr td {
            width: 33.333%;
            padding: 16px;
        }
        tr.big td {
            padding: 24px 16px;
        }
    }
    @include r($bp-tab-md) {
        width: 100%;
    }
    @include r($bp-phone-lg) {
        .table {
            border-spacing: inherit;
            tr {
                td {
                    padding: 16px 8px;
                }
                &.big td {
                    padding: 16px 8px;
                    font-size: 14px;
                }
                &.subheader {
                    td {
                        padding: 8px;
                    }
                }
            }
        }
    }
}

.credits-table {
    max-width: 1080px;
    padding: 12px 0;
    box-shadow: -1px -1px 0 rgba(112, 144, 208, 0.05), 0 8px 24px rgba(112, 144, 208, 0.1);
    border-radius: 4px;
    .doc-download-link {
        display: inline-block;
        margin-top: 8px;
    }
    &__row{
        &__left{
            width: 40%;
        }
        &__right{
            width: 60%;
        }
    }
    .mob-title {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        margin-bottom: 4px;
    }
    .row-title {
        margin-bottom: 0;
    }
    .table{
        .big+tr td {
            border-top: none;
        }
        tr{
            &:first-of-type{
                td{
                    border-top: 0;
                }
            }
        }
    }
    &--full {
        max-width: 100%;
    }
    &--extended {
        .credits-table__row{
            .credits-table__row__left{
                width: 23%;
            }
            .credits-table__row__right{
                width: auto;
            }
        }
    }
    &.pd-table {
        .big {
            &:first-of-type {
                td {
                    padding-bottom: 4px;
                }
            }
        }
        .table .big-2 {
            td {
                padding-top: 48px;
            }
            & + tr {
                td {
                    border-top: none;
                }
            }
        }
        .credits-table__row__left,
        .credits-table__row__right {
            width: auto;
        }
        .credits-table__row__right.complex {
            span {
                display: inline;
            }
        }
    }
    @include rm($bp-phone-lg) {
        .mob-title {
            display: none;
        }
    }
    @include r($bp-tab-lg) {
        width: 100%;
    }
    @include r($bp-tab-md) {
        padding: 16px 8px;
        td.row-title {
            padding: 16px 0;
        }
    }
    @include r($bp-tab-sm) {
        td.row-title {
            white-space: normal;
        }
    }
    @include r($bp-phone-lg) {
        padding: 0;
        box-shadow: none;
        overflow: visible;
        td {
            display: block;
            padding: 16px 0;
            font-size: 14px;
            border-top: none;
            border-bottom: 1px solid #d9dce0;
            &:last-child {
                border: none;
            }
        }
        tr {
            display: block;
            padding: 16px;
            margin-bottom: 16px;
            box-shadow: $block-shadow;
            border-radius: 4px;
            &:last-child td {
                border-bottom: 1px solid #d9dce0;
                &:last-child {
                    border: none;
                }
            }
        }
        &__row {
            & > * {
                width: 100%;
            }
        }
        .table {
            border-spacing: inherit;
        }
        &.credits-table--extended .table {
            tr {
                td {
                    border-bottom: none;
                    text-align: left;
                }
                &.big {
                    display: none;
                }
                &:last-child {
                    td.row-title {
                        border-bottom: 1px solid #d9dce0;
                    }
                }
            }            
            .credits-table__row {
                .credits-table__row__left {
                    width: 100%;
                    border-bottom: 1px solid #d9dce0;
                }
            }
        }
    }
}

.credits-table--sm {
    .credits-table {
        width: 777px;
        @include r($bp-tab-lg) {
            width: 100%;
        }
    }
}

.table-add-info {
    background: $gray-light;
    border: none;
    box-shadow: $block-shadow;
    border-radius: 4px;
    padding: 32px 24px;
    .card-body {
        padding: 0;
    }
    .doc-download-link {
        margin-right: 0;
    }
    .table-add-info_content__text {
        width: 100%;
        .table-title {
            margin-top: 16px;
        }
    }
    @include r($bp-tab-md) {
        .table-add-info_content {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            & > * {
                &:nth-child(2) {
                    margin-top: 0;
                }
            }
        }
    }
    @include r($bp-tab-sm) {
        width: 100%;
    }
    @include r($bp-phone-lg) {
        .table-add-info_content {
            & > * {
                width: 100%;
                &:nth-child(2) {
                    margin-top: 16px;
                }
            }
        }
    }
    @include r($bp-phone-md) {
        width: 100%;
        padding: 32px 16px;
    }
    &_content {
        display: flex;
        flex-direction: column;
        .table-add-info_content__link {
            margin-top: 24px;
        }
        @include r($bp-tab-sm) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include r($bp-phone-md) {
            div {
                width: 100%;
            }
        }
    }
}

.card-table {
    .title-big {
        white-space: nowrap;
    }
    .table tr:first-child {
        td {
            padding: 0 0 8px;
        }
    }
    &.card-table--3-cols {
        .table tr td {
            width: 33.333%;
        }
    }
    &.card-table--4-cols {
        .table tr td {
            width: 25%;
        }
    }
}

.map-table{
    tr.header{
        background-color: #F6F6F7;
        border: none; 
        td {
            font-weight: bold;
            border: none;
            border-top: none;
        }
    }
    &.table{
        tr td {
            width: 25%;
            font-weight: 400;
        }
    }
    
}


.table-title {
    font-weight: bold;
    font-size: 16px;
    color: $dark;
}

.table-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: #677181;
}







