.nav-tabs {
	border: none;
	.nav-link {
		padding: 6px 16px;
		border: none;
		border-radius: 4px;
		font-size: 14px;
		color: $dark;
		&.active {
			box-shadow: -1px -1px 0 rgba(112, 144, 208, 0.05), 
			0 8px 24px rgba(112, 144, 208, 0.1);
			color: $dark;
		}
	}
	.nav-item {
		margin-right: 16px;
	}
}

.tab-content {
	margin-top: 32px;
	padding-left: 16px;
	&__title {
		font-weight: 700;
	}
}

.tabs {
	padding: 40px 32px 40px 16px;
	background: $gray-light;
	box-shadow: 0 2px 16px rgba(0, 175, 245, 0.05), 
	0 0 1px rgba(141, 149, 161, 0.45), 
	0 4px 16px rgba(229, 229, 229, 0.2);
	border-radius: 4px;
	color: $dark;
}

.tab-pane{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&.active{
		display: flex;
	}
	.tab__content{
		width: 48%;
		margin-top: 24px;
		&__date{
			font-size: 12px;
			line-height: 16px;
			color: #677181;
			margin-bottom: 8px;
		}
	}
}

.doc-tab{
	width: 100%;
	&__content{
		width: 100%;
		&__title{
			margin-bottom: 25px;
			font-size: 16px;
			line-height: 24px;
		}
		a{
			text-decoration: underline;
    position: relative;
    color: $dark;
    padding-left: 34px;
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    align-items: center;
			&::before {
				content: '';
				display: block;
				width: 26px;
				height: 28px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				background: center / cover no-repeat url('~/assets/images/cards/doc.svg');
			}
		}
	}
}

.tabs-ct {
    display: flex;
    justify-content: space-between;
    .tabs {
    	height: 100%;
    }
    & > div {
        width: calc(50% - 8px);
    }
    .doc-download-link {
    	display: inline-flex;
    	width: calc(50% - 12px);
    	margin-right: 0;
    }
    @include r($bp-tab-lg) { 
    	flex-wrap: wrap;
    	& > div {
	        width: 100%;
	        margin-bottom: 16px;
	        &:last-child {
	        	margin-bottom: 0;
	        }
	    }
    }
    @include r($bp-tab-md) { 
    	.tab-content {
    		padding-left: 8px;
    	}
    }
    @include r($bp-phone-lg) { 
    	.doc-download-link {
    		width: 100%;
    	}
    	.tabs {
    		padding-top: 30px;
    	}
    	.nav-item {
    		margin-top: 10px;
    	}
    }
}







