// Breakpoints for media queries
$bp-desktop-lg: 1950px;
$bp-desktop-md: 1700px;
$bp-desktop-sm: 1400px;
$bp-tab-lg: 1200px;
$bp-tab-md: 980px;
$bp-tab-sm: 750px;
$bp-phone-lg: 600px;
$bp-phone-md: 470px;
$bp-phone-sm: 360px;