<template>
  <b-card no-body class="table-add-info">
    <b-card-body class="table-add-info_content">
      <div v-for="(item, i) in slice.items" :key="i" class="table-add-info_content__text">
        <p class="table-title"><prismic-rich-text :field="item.title" /></p>
        <p class="table-subtitle">{{ $prismic.asText(item.undertitle) }}</p>
        <prismic-rich-text class="doc-download-link" :field="item.link" />
      </div>
    </b-card-body>
  </b-card>
</template>

<script>
export default {
  name: 'TableAddInfoSlice',
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>
