<template>
  <footer class="footer">
    <b-container>
      <div class="footer__ct">
        <div class="footer__top d-flex justify-content-between align-items-center">
          <ul class="hasSubmenu">
            <li @click="$event.target.closest('.hasSubmenu').classList.toggle('active')">
              <div class="footer__menu-title-ct">
                <div class="footer__menu-title">Оксібанк</div>
                <a class="footer__menu-icon">
                  <MenuArrow />
                </a>
              </div>
              <ul class="d-flex footer__menu">
                <li><b-link to="/branch-and-atm-network">Відділення та банкомати</b-link></li>
                <li><b-link to="/feedback">Контакти</b-link></li>
                <li><b-link to="/licenses">Ліцензії</b-link></li>
                <li><b-link to="/data-safety">Безпека даних</b-link></li>
              </ul>
            </li>
          </ul>
          <div class="footer__number">
            <a href="tel:0322323735">032-232-37-35</a>
          </div>
          <div class="footer__socials">
            <a href=""><img src="../assets/icons/fb.svg" alt="" /></a>
            <a href=""><img src="../assets/icons/inst.svg" alt="" /></a>
            <a href=""><img src="../assets/icons/tg.svg" alt="" /></a>
          </div>
        </div>
        <div class="footer__main">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <ul class="hasSubmenu">
                <li @click="$event.target.closest('.hasSubmenu').classList.toggle('active')">
                  <div class="footer__menu-title-ct">
                    <div class="footer__menu-title">Приватним особам</div>
                    <a class="footer__menu-icon"><MenuArrow /></a>
                  </div>
                  <ul class="footer__menu">
                    <li><b-link to="/private/loans">Кредити</b-link></li>
                    <li><b-link to="/private/deposits">Депозити</b-link></li>
                    <li><b-link to="/">Платежі та перекази</b-link></li>
                    <li><b-link to="/private/cards">Картки</b-link></li>
                  </ul>
                </li>
              </ul>
              <!-- <a href="" class="footer__app">
                <img src="../assets/images/footer-app.png" alt="" />
                <div class="footer__app-text">
                  <div class="footer__app-title">Інтернет-банкінг</div>
                  <div class="footer__app-descr">Додаток для iOS та Android</div>
                </div>
              </a> -->
            </div>
            <div class="col-lg-3 col-md-6">
              <ul class="hasSubmenu">
                <li @click="$event.target.closest('.hasSubmenu').classList.toggle('active')">
                  <div class="footer__menu-title-ct">
                    <div class="footer__menu-title">Бізнес-клієнтам</div>
                    <a class="footer__menu-icon"><MenuArrow /></a>
                  </div>
                  <ul class="footer__menu">
                    <li><b-link to="/business/loans">Кредити</b-link></li>
                    <li><b-link to="/business/deposits">Депозити</b-link></li>
                    <li>
                      <b-link to="/business/cash-and-settlement-payments"
                        >Розрахункові операції</b-link
                      >
                    </li>
                    <!-- <li><b-link to="/business/">Документарні операції</b-link></li> -->
                    <li><b-link to="/business/cards">Картки</b-link></li>
                  </ul>
                </li>
              </ul>

              <b-button variant="primary" href="" class="btn-primary-8">Клієнт-банк</b-button>
            </div>
            <div class="col-lg-6 col-md-12">
              <ul class="hasSubmenu">
                <li @click="$event.target.closest('.hasSubmenu').classList.toggle('active')">
                  <div class="footer__menu-title-ct">
                    <div class="footer__menu-title">Про банк</div>
                    <a class="footer__menu-icon"><MenuArrow /></a>
                  </div>
                  <ul class="footer__menu footer__menu--wide">
                    <li><b-link to="/corporate-governance">Корпоративне управління</b-link></li>
                    <li><b-link to="/financial-statements">Звітність</b-link></li>
                    <li><b-link to="/legal-structure">Структура власності</b-link></li>
                    <li><b-link to="/licenses">Ліцензії</b-link></li>
                    <!-- <li><b-link to="">Вакансії</b-link></li> -->
                    <!-- <li><b-link to="">Реалізація заставного майна</b-link></li> -->
                    <li><b-link to="/partners/sportbank">Партнери</b-link></li>
                    <li>
                      <b-link to="/complaince-risk-control">Контроль комплаєнс-ризиків</b-link>
                    </li>
                    <!-- <li><b-link to="">Індивідуальні сейфи</b-link></li> -->
                    <li class="footer__socials--ct">
                      <div class="footer__socials">
                        <a target="_blank" href="https://www.facebook.com/okcibank/"
                          ><img src="../assets/icons/fb.svg" alt=""
                        /></a>
                        <!-- <a target="_blank" href=""><img src="../assets/icons/inst.svg" alt="" /></a> -->
                        <a target="_blank" href="https://t.me/oxibank_bot"
                          ><img src="../assets/icons/tg.svg" alt=""
                        /></a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <a href="" class="footer__app">
          <img src="../assets/images/footer-app.png" alt="" />
          <div class="footer__app-text">
            <div class="footer__app-title">Інтернет-банкінг</div>
            <div class="footer__app-descr">Додаток для iOS та Android</div>
          </div>
        </a> -->
        <div class="footer__bottom d-flex">
          <div class="footer__copyright">2008 – 2021 © АТ “ОКСІ БАНК”</div>
          <div class="footer__license">
            <ZoomImg
              class="image hidden"
              src="/uploads/sertificates/licenses/oksi-bank-nbu-license.png"
              >Ліцензія НБУ №247 від 15.11.2011</ZoomImg
            >
          </div>
          <div class="footer__license">
            <nuxt-link to="/deposit-guarantee-fund"
              ><img src="../assets/icons/fund.svg" alt="" />Фонд гарантування вкладів</nuxt-link
            >
          </div>
        </div>
      </div>
    </b-container>
  </footer>
</template>

<script>
import { Vue, Component } from 'vue-property-decorator';
import MenuArrow from '~/assets/icons/menu-drop.svg?inline';
import ZoomImg from '~/components/ZoomImg';
@Component({
  components: { MenuArrow, ZoomImg },
})
export default class AppFooter extends Vue {}
</script>
