<template>
  <div class="doc-tab">
    <b-tabs>
      <b-tab v-for="tab in tabs" :key="tab.id" :title="tab.year">
        <div v-for="block in tab.blocks" :key="block.id" class="doc-tab__content">
          <div class="doc-tab__content__title title">{{ block.title }}</div>
          <a
            v-for="link in block.links"
            :key="link.id"
            download
            target="_blank"
            :href="link.path"
            class="doc-download-link"
          >
            {{ link.title }}
          </a>
        </div>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
export default {
  props: {
    tabs: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>
