<template>
  <div class="map-container map-form-container">
    <div>
      <div id="map" ref="map" class="map-body form-map"></div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-undef */
import data from '../components/Map/locations.json';
import styles from '../components/Map/mapStyles.json';
export default {
  data() {
    return {
      locations: data.locations,
      mapStyles: styles,
      selected: false,
      markers: [],
      center: { lat: 49.84845537732709, lng: 24.02200178487919 },
      map: null,
    };
  },
  mounted() {
    this.initMap();
  },
  methods: {
    initMap() {
      this.map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        minZoom: 5,
        maxZoom: 20,
        zoomControl: true,
        center: this.center,
        disableDefaultUI: true,
        styles: this.mapStyles,
        fullscreenControl: true,
        mapTypeControl: true,
      });

      const iconSrc = require('~/assets/images/maps/branch.svg');
      const content =
        '<div class="info-window-custom branch"><h6 class="title title-s">Головний офіс</h6> <div class="left-side"><p>вул. Газова, 17,  м. Львів, Україна, 79019</p><div><p><span class="text-bold">Пн-Пт: </span><span>9:00 - 18:00</span></p><p><span class="text-bold">Каса: </span><span>9:00 - 17:30</span></p><p><span class="text-bold">Перерва: </span><span>13:00 - 14:00</span></p></div></div></div>';
      const marker = new google.maps.Marker({
        position: this.center,
        map: this.map,
        icon: iconSrc,
      });

      const infowindow = new google.maps.InfoWindow({
        content,
        maxWidth: 670,
        class: 'map-add-info',
      });

      marker.addListener('click', () => {
        infowindow.open(map, marker);
      });
    },
  },
};
</script>
