<template>
  <div class="map-container map-form-container">
    <div class="map-filters">
      <autocomplete
        class="map-filter-compl"
        :search="search"
        placeholder="Пошук за адресою (Київ)"
        aria-label="Пошук за адресою (Київ)"
        :get-result-value="getResultValue"
        @submit="onSubmit"
      ></autocomplete>
    </div>
    <div>
      <div id="map" ref="map" class="map-body form-map"></div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-undef */
import data from '../components/Map/locations.json';
import countries from '../components/Map/countries.json';
import styles from '../components/Map/mapStyles.json';
export default {
  data() {
    return {
      locations: data.locations,
      countriesList: countries.countries,
      mapStyles: styles,
      selected: false,
      markers: [],
      center: { lat: 50.451956809395504, lng: 30.5260360755913 },
      map: null,
    };
  },
  mounted() {
    this.initMap();
  },
  methods: {
    search(input) {
      return this.countriesList.filter((country) => {
        return country.region.toLowerCase().startsWith(input.toLowerCase());
      });
    },
    onSubmit(result) {
      this.setCenter(result.coordinates);
      this.map.setZoom(8);
    },
    getResultValue(result) {
      return result.region;
    },
    setCenter(coordinates) {
      this.map.setCenter(new google.maps.LatLng(coordinates.lat, coordinates.lng));
    },
    initMap() {
      this.map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        minZoom: 5,
        maxZoom: 20,
        zoomControl: true,
        center: this.center,
        disableDefaultUI: true,
        styles: this.mapStyles,
        fullscreenControl: true,
        mapTypeControl: true,
      });

      const iconSrc = require('~/assets/images/maps/branch.svg');
      let servicesText = [];
      for (const i in this.locations) {
        for (const j in this.locations[i].services) {
          servicesText += '<li>' + this.locations[i].services[j] + '</li>';
        }
        if (this.locations[i].type === 'branch') {
          const content =
            '<div class="info-window-custom branch"><h6 class="title title-s">' +
            this.locations[i].name +
            '</h6> <div class="left-side"><p>' +
            this.locations[i].address +
            '</p><div><p><span class="text-bold">Пн-Пт: </span><span>9:00 - 18:00</span></p><p><span class="text-bold">Каса: </span><span>9:00 - 17:30</span></p><p><span class="text-bold">Перерва: </span><span>13:00 - 14:00</span></p></div></div><div class="right-side"><ul>' +
            servicesText +
            '</ul></div></div>';
          servicesText = [];
          const marker = new google.maps.Marker({
            position: {
              lat: parseFloat(this.locations[i].lat),
              lng: parseFloat(this.locations[i].lng),
            },
            map: this.map,
            icon: iconSrc,
          });
          this.markers.push(marker);
          marker.addListener('click', () => {
            this.map.setZoom(this.map.getZoom() * 1.2);
            this.map.setCenter(marker.getPosition());
          });
          const infowindow = new google.maps.InfoWindow({
            content,
            maxWidth: 670,
            class: 'map-add-info',
          });
          marker.addListener('click', () => {
            infowindow.open(map, marker);
          });
        }
      }
    },
  },
};
</script>
