<template>
  <b-card no-body class="overflow-hidden main-screen" :class="'main-screen_' + mainScreen.type">
    <div class="main-screen_text">
      <div class="main-screen_title">
        <h1>{{ mainScreen.title }}</h1>
      </div>
      <div v-if="mainScreen.conditions" class="main-screen_conditions">
        <p class="main-screen_conditions_first">
          <span class="main-screen_conditions__title">{{ mainScreen.conditions.first.title }}</span>
          <span class="main-screen_conditions__desc">{{ mainScreen.conditions.first.desc }}</span>
        </p>
        <p class="main-screen_conditions_second">
          <span class="main-screen_conditions__title">{{
            mainScreen.conditions.second.title
          }}</span>
          <span class="main-screen_conditions__desc">{{ mainScreen.conditions.second.desc }}</span>
        </p>
      </div>
      <p class="main-screen_description">
        {{ mainScreen.description }}
      </p>
      <p class="main-screen_subdescription">
        {{ mainScreen.subdescription }}
      </p>
      <p v-if="mainScreen.links" class="main-screen_links">
        <nuxt-link v-for="(link, i) in mainScreen.links" :key="i" :to="link.to" class="card-link">{{
          link.name
        }}</nuxt-link>
      </p>
    </div>
    <div class="main-screen_img">
      <b-card-img :src="mainScreenImg" alt="Image" class="rounded-0"></b-card-img>
    </div>
  </b-card>
</template>

<script>
export default {
  props: {
    mainScreen: {
      type: Object,
      default() {
        return {};
      },
    },
    mainScreenImg: {
      type: String,
      default: '',
    },
  },
};
</script>
