<template>
  <div class="sertificate">
    <nuxt-link target="_blank" :to="sertificatePdf.pdfSrc" class="sertificate-pdf">
      <div class="sertificate-img">
        <img :src="sertificatePdf.imgSrc" />
      </div>
      <p class="card-link sertificate-link">{{ sertificatePdf.title }}</p>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    sertificatePdf: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>
