<template>
  <div class="standart-blocks d-flex justify-content-md-between">
    <div class="standart-blocks__left d-flex justify-content-between">
      <b-card v-for="block in standart.blocks" :key="block.id" no-body class="standart-block">
        <b-card-body>
          <b-card-title class="title title-s">{{ block.title }}</b-card-title>
          <b-card-text>
            {{ block.descr }}
          </b-card-text>
        </b-card-body>
      </b-card>
    </div>
    <div class="standart-blocks__right">
      <b-card no-body class="">
        <b-card-body>
          <b-card-title class="title title-s">{{ standart.right.title }}</b-card-title>
          <b-card-text>
            <ul>
              <li>Заявка – анкета на отримання кредиту</li>
              <li>Паспорт, довідка про присвоєння ідентифікаційного номеру</li>
              <li>Довідка з місця роботи за останні шість місяців</li>
              <li>Документи на майно, що пропонується у забезпечення</li>
            </ul>
          </b-card-text>
        </b-card-body>
      </b-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
@Component
export default class StandartsBlock extends Vue {
  @Prop({ type: Object, required: true }) readonly standart!: {
    blocks: {
      title: string;
      descr: string;
    };
    right: {
      title: string;
      descr: string;
    };
  }[];
}
</script>
