<template>
  <div class="standart-blocks standart-blocks--extended">
    <div class="standart-blocks__left d-flex justify-content-between">
      <b-card v-for="block in standart.blocks" :key="block.id" no-body class="standart-block">
        <b-card-body>
          <b-card-title class="title title-s">{{ block.title }}</b-card-title>
          <b-card-text>
            {{ block.descr }}
          </b-card-text>
        </b-card-body>
      </b-card>
    </div>
    <div class="standart-blocks__right">
      <b-card no-body class="">
        <b-card-body>
          <b-card-title class="title title-s">{{ standart.right.title }}</b-card-title>
          <b-card-text>
            <div class="list-col">
              <div class="subtitle">«ОКСІ-Вигідний»</div>
              <ul>
                <li>Паспорт громадянина України / ID картка</li>
                <li>
                  Довідка про присвоєння ідентифікаційного номеру / реєстраційний номер облікової
                  картки платника податків (ІПН)
                </li>
                <li>
                  Довідка про доходи за останні 6 місяців / виписка з банківського рахунку за
                  останні 6 місяців
                </li>
                <li>
                  Наявність офіційної (не нульової) звітності за останній звітний період (рік,
                  квартал)
                </li>
              </ul>
            </div>
            <div class="list-col">
              <div class="subtitle">«ОКСІ-Швидкий»</div>
              <ul>
                <li>Паспорт громадянина України / ID картка</li>
                <li>
                  Довідка про присвоєння ідентифікаційного номеру / реєстраційний номер облікової
                  картки платника податків (ІПН)
                </li>
              </ul>
            </div>
          </b-card-text>
        </b-card-body>
      </b-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
@Component
export default class StandartsBlock extends Vue {
  @Prop({ type: Object, required: true }) readonly standart!: {
    blocks: {
      title: string;
      descr: string;
    };
    right: {
      title: string;
      descr: string;
    };
  }[];
}
</script>
