<template>
  <b-card no-body class="table-add-info">
    <b-card-body class="table-add-info_content">
      <div v-for="(info, i) in tableAddInfo" :key="i" class="table-add-info_content__text">
        <p class="table-title">{{ info.title }}</p>
        <p class="table-subtitle">{{ info.undertitle }}</p>
      </div>
      <div>
        <DocLinks :slice="slice"></DocLinks>
      </div>
    </b-card-body>
  </b-card>
</template>

<script>
import DocLinks from '~/slices/DocLinks';
export default {
  components: {
    DocLinks,
  },
  props: {
    tableAddInfo: {
      type: Array,
      default() {
        return [];
      },
    },
    slice: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>
