<template>
  <div>
    <b-table-simple responsive class="credits-table">
      <b-tbody>
        <b-tr v-for="row in table.tableRows" :key="row.id" class="credits-table__row">
          <b-td class="row-title credits-table__row__left">{{ row.leftValue }}</b-td>
          <b-td class="credits-table__row__right">
            <p v-for="(text, i) in row.texts" :key="i">{{ text.title }}</p>
            <p>
              <span>{{ row.rightDescValue }}</span>
            </p>
          </b-td>
        </b-tr>
        <b-tr v-if="table.addInfo" class="">
          <b-td class="row-title bold">{{ table.addInfo.title }}</b-td>
          <b-td
            ><span> <DocLinks :slice="slice"></DocLinks></span
          ></b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
  </div>
</template>

<script>
import DocLinks from '~/slices/DocLinks';
export default {
  components: {
    DocLinks,
  },
  props: {
    table: {
      type: Object,
      default() {
        return {};
      },
    },
    slice: {
      type: Object,
      default() {
        return {};
      },
    },
  },
};
</script>
