<template>
  <div>
    <b-table-simple responsive class="deposits-table">
      <b-tbody>
        <b-tr class="big">
          <b-td class="sr-only"></b-td>
          <b-td>Відсоткова ставка</b-td>
          <b-td>Дострокове розірвання</b-td>
        </b-tr>
        <b-tr class="subheader subheader--r">
          <b-td colspan="3">
            <div class="ct">
              <div class="left">UAH</div>
              <div class="right"><span>Мінімальна сума вкладу</span> 10 000 грн</div>
            </div>
          </b-td>
        </b-tr>
        <b-tr v-for="value in objectUAH" :key="value.id" class="">
          <b-td class="row-title">{{ value.date }}</b-td>
          <b-td>{{ value.percent1 }}% <span>річних</span></b-td>
          <b-td>{{ value.percent2 }}% <span>річних</span></b-td>
        </b-tr>
        <b-tr class="subheader subheader--r">
          <b-td colspan="3">
            <div class="ct">
              <div class="left">USD</div>
              <div class="right"><span>Мінімальна сума вкладу</span> 5 000 доларів</div>
            </div>
          </b-td>
        </b-tr>
        <b-tr v-for="value in objectUSD" :key="value.id" class="">
          <b-td class="row-title">{{ value.date }}</b-td>
          <b-td>{{ value.percent1 }}% <span>річних</span></b-td>
          <b-td>{{ value.percent2 }}% <span>річних</span></b-td>
        </b-tr>
        <b-tr class="subheader subheader--r">
          <b-td colspan="3">
            <div class="ct">
              <div class="left">EUR</div>
              <div class="right"><span>Мінімальна сума вкладу</span> 5 000 євро</div>
            </div>
          </b-td>
        </b-tr>
        <b-tr v-for="value in objectEUR" :key="value.id" class="">
          <b-td class="row-title">{{ value.date }}</b-td>
          <b-td>{{ value.percent1 }}% <span>річних</span></b-td>
          <b-td>{{ value.percent2 }}% <span>річних</span></b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
  </div>
</template>

<script>
import { Vue, Component } from 'vue-property-decorator';

@Component
export default class TableDeposits extends Vue {}
</script>
