<template>
  <div>
    <b-table-simple responsive class="credits-table credits-table--full">
      <b-tbody>
        <b-tr v-for="row in table.tableRows" :key="row.id" class="credits-table__row">
          <b-td class="row-title credits-table__row__left">{{ row.leftValue }}</b-td>
          <b-td class="credits-table__row__right">
            <p v-for="(text, i) in row.texts" :key="i">{{ text.title }}</p>
            <p>
              <span v-for="(descr, i) in row.descrs" :key="i">{{ descr.subtext }}</span>
            </p>
          </b-td>
        </b-tr>
        <b-tr v-if="table.addInfo" class="">
          <b-td class="row-title bold">{{ table.addInfo.title }}</b-td>
          <b-td
            ><span>
              <a target="_blank" class="doc-download-link" :href="table.addInfo.source">{{
                table.addInfo.link
              }}</a></span
            ></b-td
          >
        </b-tr>
      </b-tbody>
    </b-table-simple>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
@Component
export default class TableCredits2 extends Vue {
  @Prop({ type: Object, required: true }) readonly table!: {
    tableRows: {
      leftValue: string;
    };
    addInfo: {
      title: string;
      link: string;
      source: string;
    };
  }[];
}
</script>
