<template>
  <div>
    <b-tabs>
      <b-tab v-for="tab in tabs" :key="tab.id" :title="tab.year">
        <div v-for="event in tab.events" :key="event.id" class="tab__content">
          <div class="tab__content__date">{{ event.date }}</div>
          <div class="tab__content__desc">{{ event.desc }}</div>
        </div>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
export default {
  props: {
    tabs: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>
