<template>
  <div class="card-blocks d-flex justify-content-md-between">
    <b-card v-for="card in cards" :key="card.id" no-body class="card5">
      <b-card-body>
        <div class="card5__text">
          <b-card-title class="title title-s">{{ card.title }}</b-card-title>
          <b-card-text>
            {{ card.desc }}
          </b-card-text>
        </div>
        <div class="card5__img">
          <b-card-img
            :src="require('~/assets/images/cards/card5/' + card.imgSrc)"
            alt="Image"
          ></b-card-img>
        </div>
      </b-card-body>
    </b-card>
  </div>
</template>
<script>
export default {
  props: {
    cards: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
