<template>
  <b-card md="6" no-body class="overflow-hidden card3 card" style="max-width: 576px">
    <b-card-body class="bg-primary text-light">
      <b-row no-gutters align-items="center">
        <b-col md="8">
          <b-card-body title="Відкриття поточного рахунку">
            <b-card-text>
              За 30 хвилин з моменту подання в банк всіх документів, згідно вимогам Національного
              банку України.
            </b-card-text>
            <b-link
              variant="link"
              to="/business/cash-and-settlement-payments#documents"
              class="card3-link text-light"
              >Які документи потрібно?</b-link
            >
          </b-card-body>
        </b-col>
        <b-col md="4">
          <b-card-img
            src="~/assets/images/bussiness-main/timer.png"
            alt="Image"
            class="rounded-0"
            align="center"
          ></b-card-img>
        </b-col>
      </b-row>
    </b-card-body>
  </b-card>
</template>

<script>
export default {};
</script>
