<template>
  <b-card md="6" no-body class="overflow-hidden card2 card" style="max-width: 576px">
    <b-card-body>
      <b-row no-gutters align-items="center">
        <b-card-body title="Тарифні пакети РКО">
          <b-card-text>
            <ul>
              <li>Безкоштовне внесення готівки на поточний рахунок</li>
              <li>
                Три тарифні пакети: підприємницький (150 грн/місяць), бізнес М (200 грн/місяць),
                бізнес (300 грн/місяць)
              </li>
            </ul>
          </b-card-text>
          <b-button variant="primary">
            <nuxt-link to="/business/cash-and-settlement-payments#tariffs"
              >Тарифи на послуги</nuxt-link
            ></b-button
          >
        </b-card-body>
        <b-card-img
          src="~/assets/images/bussiness-main/speed.png"
          alt="Image"
          class="rounded-0 card2_img"
          align="center"
        ></b-card-img>
      </b-row>
    </b-card-body>
  </b-card>
</template>

<script>
export default {};
</script>
