<template>
  <b-card class="overlay-card card" overlay :title="title" :img-src="bgImgSrc">
    <b-button>
      <nuxt-link :to="link">
        <slot></slot>
      </nuxt-link>
    </b-button>
  </b-card>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    link: {
      type: String,
      default: '',
    },
    bgImgSrc: {
      type: String,
      default: '',
    },
  },
};
</script>
