<template>
  <div class="card-blocks d-flex justify-content-md-between">
    <b-card v-for="card in simpleCards" :key="card.id" no-body class="card6">
      <b-card-body>
        <b-card-title class="title title-s">{{ card.title }}</b-card-title>
      </b-card-body>
    </b-card>
  </div>
</template>
<script>
export default {
  props: {
    simpleCards: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
