<template>
  <b-card no-body class="card-links-download">
    <a
      v-for="(link, i) in downloadLinks"
      :key="i"
      :href="link.file"
      target="_blank"
      class="card-links-download__link doc-download-link"
      >{{ link.name }}</a
    >
  </b-card>
</template>

<script>
export default {
  props: {
    downloadLinks: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
