<template>
  <div class="page-container sportbank">
    <b-container>
      <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      <b-card no-body class="overflow-hidden main-screen main-screen-sportbank">
        <b-card-body class="main-screen_text">
          <b-card-text class="main-screen_title">
            <h1>sportbank</h1>
          </b-card-text>
          <b-card-text class="main-screen_conditions">
            <p class="main-screen_conditions_first">
              <span class="main-screen_conditions__title">Кредитний ліміт</span>
              <span class="main-screen_conditions__desc">до 100 000 грн</span>
            </p>
            <p class="main-screen_conditions_second">
              <span class="main-screen_conditions__title">Cпорткешбек на товари та послуги</span>
              <span class="main-screen_conditions__desc">до 10%</span>
            </p>
          </b-card-text>
          <b-card-text class="main-screen_description">
            Мобільний банк для тих, хто любить спорт.
          </b-card-text>
          <b-card-text class="main-screen_links">
            <nuxt-link
              v-for="(link, i) in mainScreen.links"
              :key="i"
              :to="link.to"
              class="card-link"
              >{{ link.name }}</nuxt-link
            >
          </b-card-text>
        </b-card-body>
        <b-card-body class="main-screen_img">
          <b-card-img
            src="~/assets/images/main-screen/sportbank.png"
            alt="Image"
            class="rounded-0"
          ></b-card-img>
        </b-card-body>
      </b-card>
      <a id="sportbank-services"></a>
      <b-row class="row-container">
        <div class="block-title title title-l">Послуги sportbank</div>
        <b-col md="12">
          <b-card class="card-pm">
            <b-row>
              <b-col md="6">
                <ul class="simple-list">
                  <li>безкоштовне онлайн-оформлення та обслуговування картки;</li>
                  <li>безкоштовна доставка картки кур'єром;</li>
                  <li>інформаційна підтримка 24/7;</li>
                  <li>
                    до 100 000 грн кредитний ліміт з першим пільговим грейс-періодом до 120 днів і
                    подальшим – до 62 днів;
                  </li>
                  <li>кешбек на спортивні товари та послуги – 10%;</li>
                  <li>
                    реферальна програма: за кожного запрошеного друга клієнт отримує грошовий бонус
                    від 55 до 105 грн, а друг – 55 грн;
                  </li>
                  <li>безкоштовні перекази з картки на картку (P2P-перекази);</li>
                  <li>безкоштовне поповнення мобільного до 10 разів на місяць;</li>
                  <li>оплата Apple Pay та Google Pay.</li>
                </ul>
              </b-col>
              <b-col md="1"></b-col>
              <b-col md="4">
                <div class="sportbank-services__img">
                  <img src="~/assets/images/partners/sport-bank/sb-services.png" />
                </div>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
      <a id="sportbank-tariffs"></a>
      <b-row class="row-container">
        <div class="block-title title title-l">Тарифи</div>
        <b-col md="9"><TableCredits :table="table"></TableCredits></b-col>
        <b-col md="3">
          <section v-for="slice in slices" :key="slice.index">
            <template v-if="slice.slice_type === 'table_add_info'">
              <TableAddInfoSlice :slice="slice"></TableAddInfoSlice>
            </template></section
        ></b-col>
      </b-row>
      <a id="credit-calculator"></a>
      <b-row class="row-container">
        <div class="block-title title title-l">Кредитний калькулятор</div>
        <b-col md="12">
          <LinksDownload :download-links="creditCalc"></LinksDownload>
        </b-col>
      </b-row>
      <a id="public-offers"></a>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'main_row_links'">
          <MainRowLinks :slice="slice" />
        </template>
        <template v-if="slice.slice_type === 'tab_doc'">
          <TabDoc :slice="slice" />
        </template>
      </section>
    </b-container>
  </div>
</template>

<script>
import LinksDownload from '~/components/Cards/LinksDownload.vue';
import TabDoc from '~/slices/TabDoc';
import TableAddInfoSlice from '~/slices/TableAddInfoSlice';
export default {
  components: {
    LinksDownload,
    TabDoc,
    TableAddInfoSlice,
  },
  async asyncData({ $prismic, error }) {
    const sportbank = await $prismic.api.getByUID('partner', 'sportbank');
    if (sportbank) {
      return {
        sportbank,
        slices: sportbank.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      mainScreen: {
        links: [
          {
            name: 'Послуги sportbank',
            to: '#sportbank-services',
          },
          {
            name: 'Тарифи',
            to: '#sportbank-tariffs',
          },
          {
            name: 'Публічні оферти',
            to: '#public-offers',
          },
        ],
      },
      breadcrumbs: [
        {
          text: 'Про банк',
          to: '/about-bank',
        },
        {
          text: 'Партнери',
          to: '#',
        },
        {
          text: 'Sportbank',
          active: true,
        },
      ],
      TableAddInfoSlice: [
        {
          title: 'Допоміжні документи ',
          undertitle: '',
        },
      ],
      downloadDocs: [
        {
          docSource: 'https://drive.google.com/file/d/1ipGsdFkqoh3BApg0ykNiM3yECCIKLw61/view',
          docTitle: 'Тарифи АТ «Оксі Банк» за картками sportbank',
        },
        {
          docSource: 'https://drive.google.com/file/d/1cnPZB7J55-SU_pQSE2vDsaOmpaxfR9aB/view',
          docTitle: 'Правила безпеки використання платіжної картки',
        },
      ],
      creditCalc: [
        {
          name: 'Розрахунок вартості кредиту для картки sportbank',
          file: 'https://drive.google.com/file/d/1Ncx9BYjEUKvOKVyvL29tfL59NEHo_CM7/view',
        },
      ],
      table: {
        tableRows: [
          {
            leftValue: 'Поповнення картки',
            texts: [
              {
                title: 'Безкоштовно',
              },
            ],
            rightDescValue: '',
          },
          {
            leftValue: 'Поповнення мобільного',
            texts: [
              {
                title: 'Не тарифікується — 10 разів на місяць',
              },
            ],
            rightDescValue: 'далі — 2% від суми поповнення',
          },
          {
            leftValue: 'Перекази на картки інших банків',
            texts: [
              {
                title: 'Не тарифікуються — 10 разів на місяць',
              },
            ],
            rightDescValue: 'далі — 2% від суми операції (4,9% за рахунок кредитних коштів)',
          },
          {
            leftValue: 'Перекази між картками sportbank',
            texts: [
              {
                title: 'Не тарифікуються',
              },
            ],
            rightDescValue: '',
          },
          {
            leftValue: 'Платежі за реквізитами на рахунки в інших банках',
            texts: [
              {
                title: 'Безкоштовно до 10 000 грн на місяць',
              },
            ],
            rightDescValue: 'далі — 0,75% від суми (4,9% за рахунок кредитних коштів)',
          },
          {
            leftValue: 'Зняття готівки в банкоматах в Україні',
            texts: [
              {
                title: 'Не тарифікується — 5 разів на місяць',
              },
            ],
            rightDescValue: 'далі — 2% від суми операції (4,9% за рахунок кредитних коштів)',
          },
          {
            leftValue: '% на залишок',
            texts: [
              {
                title: '1,8% (ОКСІ БАНК)',
              },
            ],
            rightDescValue: '',
          },
        ],
      },
    };
  },
  head() {
    return {
      title: this.sportbank.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.sportbank.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
