<template>
  <div class="page-container service-page">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/private-credits/4.png')"
        :main-screen="mainScreen"
        class="main-screen--pc-4"
      ></MainScreen>

      <Card5 :cards="cards"></Card5>
      <a id="conditions"></a>
      <div class="row-title title title-l">Умови надання кредиту</div>
      <TableCredits2 :table="table"></TableCredits2>
      <a id="requirments"></a>
      <div class="row-title title title-l">Вимоги до позичальника</div>
      <StandartsBlock :standart="standart"></StandartsBlock>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'add_info_links'">
          <AddInfoLinks :slice="slice" />
        </template>
      </section>
      <a id="contact-form"></a>
      <Form1 :form-data="form"></Form1>
    </b-container>
  </div>
</template>

<script>
import MainScreen from '~/components/MainScreen.vue';
import Card5 from '~/components/Cards/Card5.vue';
import TableCredits2 from '~/components/TableCredits2.vue';
import StandartsBlock from '~/components/StandartsBlock.vue';
import AddInfoLinks from '~/slices/AddInfoLinks';
import Form1 from '~/components/Forms/Form1';
export default {
  components: {
    MainScreen,
    Card5,
    TableCredits2,
    StandartsBlock,
    AddInfoLinks,
    Form1,
  },
  async asyncData({ $prismic, error }) {
    const consumerCarLoan = await $prismic.api.getByUID(
      'private-loan',
      'consumer-car-secured-loan'
    );
    if (consumerCarLoan) {
      return {
        consumerCarLoan,
        slices: consumerCarLoan.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Приватним особам',
          to: '/',
        },
        {
          text: 'Кредити',
          to: '/private/loans',
        },
        {
          text: 'Споживчий кредит під заставу авто',
          active: true,
        },
      ],
      mainScreen: {
        type: 'gray',
        title: 'Споживчий кредит під заставу авто',
        description: 'Кредит на задоволення споживчих потреб позичальника.',
        conditions: {
          first: {
            title: 'Ставка',
            desc: 'від 13,5% річних',
          },
          second: {
            title: 'Строк',
            desc: 'до 5 років',
          },
        },
        links: [
          {
            to: '#conditions',
            name: 'Умови кредитування',
          },
          {
            to: '#requirments',
            name: 'Вимоги до позичальника',
          },
          {
            to: '#contact-form',
            name: 'Заявка на кредит',
          },
        ],
      },
      form: {
        title: 'Онлайн-заявка на кредит',
        place:
          'Знайдіть найближче до вас відділення, де наші менеджери допоможуть вам з оформленням кредиту. ',
        subject: '[OXI-site] Private - Заявка на кредит',
      },
      cards: [
        {
          title: 'На що видаємо кредит',
          desc: 'На власні потреби',
          imgSrc: '1.png',
        },
        {
          title: 'Як видаємо кредит',
          desc: 'Безготівковим зарахуванням на поточний рахунок',
          imgSrc: '2.png',
        },
        {
          title: 'Як погасити кредит',
          desc: 'Щомісячно за встановленим графіком',
          imgSrc: '3.png',
        },
      ],
      standart: {
        blocks: [
          {
            title: 'Місце проживання',
            descr:
              'Постійно проживає на території України і є правоздатною та дієздатною фізичною особою.',
          },
          {
            title: 'Вік',
            descr:
              'Від 21 року на момент отримання кредиту до 65 років на момент закінчення строку кредиту.',
          },
          {
            title: 'Зайнятість',
            descr:
              'Не менше 6 місяців працює на нинішньому місці роботи або здійснює підприємницьку діяльність.',
          },
          {
            title: 'Кредитна історія',
            descr:
              'Немає простроченої заборгованості більше 90 днів в минулому та більше 30 днів за останні 12 місяців, відсутня реструктуризація за останній рік.',
          },
        ],
        right: {
          title: 'Мінімальний пакет документів',
        },
      },
      table: {
        tableRows: [
          {
            leftValue: 'Строк кредитування',
            texts: [
              {
                title: 'Від 1 до 5 років',
              },
            ],
          },
          {
            leftValue: 'Валюта',
            texts: [
              {
                title: 'гривня',
              },
            ],
          },
          {
            leftValue: 'Сума',
            texts: [
              {
                title: 'min 50 000 грн',
              },
              {
                title: 'max 400 000 грн',
              },
            ],
            descrs: [
              {
                subtext: 'Максимальний кредит - до 50% ринкової вартості автомобіля',
              },
            ],
          },
          {
            leftValue: 'Ставка',
            texts: [
              {
                title: '13,5%',
              },
            ],
            descrs: [
              {
                subtext: 'річних',
              },
              {
                subtext: 'Починаючи з 4-го року кредитування — змінювана ставка UIRD 3M*+6%.',
              },
              {
                subtext:
                  '*UIRD (Ukrainian Index of Retail Deposit Rates) – український індекс ставок за депозитами фізичних осіб',
              },
            ],
          },
          {
            leftValue: 'Забезпечення',
            descrs: [
              {
                subtext:
                  'Легковий автомобіль некомерційного призначення, майнова та/або фінансова порука',
              },
            ],
          },
          {
            leftValue: 'Комісії',
            texts: [
              {
                title: '0,3% — щомісячно від початкової суми кредиту',
              },
              {
                title: '1% — одноразово від суми кредиту',
              },
            ],
          },
          {
            leftValue: 'Погашення заборгованості',
            texts: [
              {
                title: 'Погашення рівними частинами протягом усього строку кредитування',
              },
              {
                title: 'Щомісячні платежі, що зменшуються',
              },
            ],
          },
          {
            leftValue: 'Страхування ризиків',
            descrs: [
              {
                subtext:
                  'Обов’язкове страхування предмету застави (повне КАСКО та цивільна відповідальність)',
              },
              {
                subtext: 'Обов’язкове страхування позичальника від нещасного випадку',
              },
            ],
          },
        ],
      },
      downloadLinks: [
        {
          name:
            'Істотні характеристики послуги з надання споживчого кредиту: Кредит під заставу автотранспортних засобів для фізичних осіб',
          file: `${this.$config.storageDomain}/private/loans/consumer-car-secured/info_autozastava.docx`,
        },
        {
          name: 'Калькулятор для розрахунку повної суми кредиту',
          file: `${this.$config.storageDomain}/private/loans/consumer-car-secured/calculation_zastava_avto.xlsm`,
        },
        {
          name: 'Договір',
          file: `${this.$config.storageDomain}/private/loans/consumer-car-secured/dogovir_zastava_avto.doc`,
        },
        {
          name: 'Розрахунок сукупної вартості Кредиту і реальної процентної ставки',
          file: `${this.$config.storageDomain}/private/loans/consumer-car-secured/rozrahunok_vartosti_avto.docx`,
        },
        {
          name: 'Попередження відповідно до Постанови НБУ',
          file: `${this.$config.storageDomain}/private/loans/consumer-car-secured/warning_avto.docx`,
        },
      ],
    };
  },
  head() {
    return {
      title: this.consumerCarLoan.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.consumerCarLoan.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
