<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <h2 class="page-title">Кредити для приватних клієнтів</h2>
      <div v-for="value in object" :key="value.id" class="service-blocks">
        <b-card no-body class="overflow-hidden service-block service-block--calc">
          <b-link :to="value.link" class="service-block__link">
            <div class="d-md-flex">
              <b-card-img
                :src="require('~/assets/images/service-blocks/private/credits/' + value.img)"
                alt="Image"
                class="rounded-0"
              ></b-card-img>
              <b-card-body :title="value.title">
                <div class="service-block__details d-flex">
                  <div class="service-block__detail">
                    <div class="service-block__title">Ставка</div>
                    <div class="service-block__value">
                      {{ value.percent }}
                    </div>
                  </div>
                  <div class="service-block__detail">
                    <div class="service-block__title">Строк</div>
                    <div class="service-block__value">
                      {{ value.period }}
                    </div>
                  </div>
                </div>
                <div class="btns-ct">
                  <b-button class="btn-gray"
                    ><b-link :to="`${value.link}#contact-form`">Залишити заявку</b-link></b-button
                  >
                  <b-link :to="value.link" class="link">Детальніше</b-link>
                </div>
              </b-card-body>
            </div>
          </b-link>
        </b-card>
      </div>

      <LinksDownload
        :download-links="downloadLinks"
        class="card-links-download__gray"
      ></LinksDownload>
    </b-container>
  </div>
</template>

<script>
import LinksDownload from '~/components/Cards/LinksDownload.vue';
export default {
  components: {
    LinksDownload,
  },
  data() {
    return {
      downloadLinks: [
        {
          name: 'Повідомлення про включення інформації до Кредитного реєстру',
          file: 'https://drive.google.com/file/d/1g_IVKOx-sUJ3qrT4gVceXxs6SmEqtiIq/view',
        },
      ],
      items: [
        {
          text: 'Приватним особам',
          to: '/',
        },
        {
          text: 'Кредити',
          active: true,
        },
      ],
      object: [
        {
          link: '/private/loans/mortgage',
          img: '1.png',
          title: 'Житло в кредит',
          percent: 'від 13,5% річних',
          period: 'до 10 років',
        },
        {
          link: '/private/loans/consumer-residential-mortgage-loan',
          img: '2.png',
          title: 'Споживчий кредит під заставу нерухомості',
          percent: 'від 13,5% річних',
          period: 'до 10 років',
        },
        {
          link: '/private/loans/car-loan',
          img: '3.png',
          title: 'Авто в кредит',
          percent: 'від 13,5% річних',
          period: 'до 5 років',
        },
        {
          link: '/private/loans/consumer-car-secured-loan',
          img: '4.png',
          title: 'Споживчий кредит під заставу авто',
          percent: 'від 13,5% річних',
          period: 'до 5 років',
        },
      ],
    };
  },
};
</script>
