<template>
  <section>
    <a v-if="slice.primary.anchor" :id="$prismic.asText(slice.primary.anchor)"></a>
    <b-row class="row-container card-height">
      <b-col md="12">
        <b-card class="card-block">
          <b-card-text class="card-block__text">
            <p class="title title-l">{{ $prismic.asText(slice.primary.title) }}</p>
            <prismic-rich-text :field="slice.primary.description" />
          </b-card-text>
          <div class="card-block__img">
            <prismic-image :field="slice.primary.image" />
          </div>
        </b-card>
      </b-col>
    </b-row>
  </section>
</template>

<script>
export default {
  name: 'CardBlock',
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>
