<template>
  <b-col md="12">
    <div
      class="blog-poster"
      :style="{ backgroundImage: `url(${slice.primary.blogPostBanner.url})` }"
    >
      <h1 class="blog-poster__title">{{ $prismic.asText(slice.primary.blogPostTitle) }}</h1>
      <prismic-image class="blog-poster__img" :field="slice.primary.blogPostImg" />
    </div>
    <prismic-rich-text class="blog-text" :field="slice.primary.blogPostContent" />
  </b-col>
</template>

<script>
export default {
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {};
  },
};
</script>
