<template>
  <section class="section">
    <a v-if="slice.primary.blockAnchor" :id="$prismic.asText(slice.primary.blockAnchor)"></a>
    <b-row class="row-container">
      <prismic-rich-text class="row-title title title-l" :field="slice.primary.blockTitle" />
      <b-col md="12">
        <b-card class="text-link-card">
          <b-col md="10" sm="12">
            <div v-for="(item, i) in slice.items" :key="`slice-item-${i}`">
              <prismic-rich-text class="card-text" :field="item.cardText" />
              <prismic-link download class="doc-download-link" :field="item.cardLink">
                <prismic-rich-text :field="item.cardLinkLabel"></prismic-rich-text>
              </prismic-link>
            </div>
          </b-col>
        </b-card>
      </b-col>
    </b-row>
  </section>
</template>

<script>
export default {
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>
