<template>
  <b-card no-body class="overflow-hidden main-screen main-screen_dark">
    <div class="main-screen_text">
      <div class="main-screen_title">
        <h1><prismic-rich-text :field="slice.primary.title" /></h1>
      </div>
      <p class="main-screen_description">
        <prismic-rich-text :field="slice.primary.description" />
      </p>
      <p class="main-screen_subdescription">
        <prismic-rich-text :field="slice.primary.subdescription" />
      </p>
      <div class="main-screen_button">
        <b-button :to="$prismic.asText(slice.primary.buttonLink)">
          <prismic-rich-text :field="slice.primary.buttonLabel" />
        </b-button>
      </div>
      <p class="main-screen_links">
        <nuxt-link
          v-for="(item, i) in slice.items"
          :key="`slice-item-${i}`"
          :to="$prismic.asText(item.anchorLink)"
          class="card-link"
        >
          <prismic-rich-text :field="item.anchorLinkLabel" />
        </nuxt-link>
      </p>
    </div>
    <div class="main-screen_img temp-img">
      <b-card-img :src="slice.primary.image.url" alt="Image" class="rounded-0"></b-card-img>
    </div>
  </b-card>
</template>

<script>
export default {
  name: 'MainScreen',
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>
