<template>
  <nuxt-link class="card blog-post__preview" :to="link">
    <div v-for="(slice, index) in post.data.body" :key="'slice' + index">
      <p class="blog-post__preview__date">{{ slice.primary.blogPostDate }}</p>
      <p class="title title-s">{{ $prismic.asText(slice.primary.blogPostTitle) }}</p>
      <prismic-rich-text
        class="card-text blog-post__preview__text"
        :field="slice.primary.blogPostPreview"
      />
    </div>
    <p class="blog-post__preview__link">Детальніше</p>
  </nuxt-link>
</template>

<script>
import LinkResolver from '@/plugins/link-resolver.js';
export default {
  props: {
    post: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      link: '',
    };
  },
  created() {
    this.link = LinkResolver(this.post);
  },
};
</script>
