<template>
  <div id="main">
    <ResponsiveHeader v-if="windowWidth && windowWidth >= 768" />
    <MobileHeader v-else />
    <Nuxt />
    <AppFooter />
  </div>
</template>

<script lang="ts">
import { vueWindowSizeMixin } from 'vue-window-size';

import AppFooter from '../components/AppFooter.vue';
import MobileHeader from './header/MobileHeader.vue';
import ResponsiveHeader from './header/ResponsiveHeader.vue';

export default {
  components: { AppFooter, MobileHeader, ResponsiveHeader },
  mixins: [vueWindowSizeMixin],
};
</script>
