<template>
  <div style="display: flex">
    <b-nav-item-dropdown
      class="position-static full-width-menu"
      menu-class="w-100 full-width-menu"
      text="Кредити"
    >
      <b-container>
        <div>
          <b-dropdown-item>Житло в кредит</b-dropdown-item>
          <b-dropdown-item>Споживчий кредит під заставу майна</b-dropdown-item>
          <b-dropdown-item>Авто в кредит</b-dropdown-item>
          <b-dropdown-item>Споживчий кредит під заставу авто</b-dropdown-item>
          <b-dropdown-item>Кредит “Готівочка”</b-dropdown-item>
        </div>
        <div>
          <div>
            <b-card
              style="height: 292px; width: 292px; background: #e6f2fe"
              text-variant="dark"
              title="Споживчий кредит під заставу нерухомості"
            >
              <b-button href="#" variant="text">Детальніше</b-button>
            </b-card>
          </div>
        </div>
      </b-container>
    </b-nav-item-dropdown>
    <b-nav-item>Депозити</b-nav-item>
    <b-nav-item>Платежі та перекази</b-nav-item>
    <b-nav-item>Картки</b-nav-item>
    <b-nav-item>Страхування</b-nav-item>
  </div>
</template>

<script>
export default {
  name: 'AppPrivateMenu',
}
</script>
