<template>
  <div class="page-container">
    <b-container>
      <b-row class="row-container">
        <div v-for="(slice, index) in slices" :key="'slice-' + index">
          <BlogPost :slice="slice"></BlogPost>
        </div>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import BlogPost from '@/slices/BlogPost';
export default {
  name: 'Post',
  components: {
    BlogPost,
  },
  async asyncData({ $prismic, params, error }) {
    const document = await $prismic.api.getByUID('blog', params.uid);
    if (document) {
      return { document, slices: document.data.body };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
};
</script>
