<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      <b-row>
        <b-col md="6">
          <h1 class="row-title title title-xl">Новини та акції</h1>
        </b-col>
      </b-row>
      <b-row class="justify-content-between">
        <div v-for="(post, index) in posts" :key="'post-' + index" class="blog-post col-md-6">
          <PostPreview :post="post"></PostPreview>
        </div>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import PostPreview from '~/components/blog/PostPreview';
export default {
  components: {
    PostPreview,
  },
  async asyncData({ $prismic, error }) {
    const document = await $prismic.api.query($prismic.predicates.at('document.type', 'blog'), {
      orderings: '[document.first_publication_date desc]',
    });
    if (document) {
      return {
        document,
        posts: document.results,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      link: '',
      breadcrumbs: [
        {
          text: 'Новини та акції',
          active: true,
        },
      ],
    };
  },
};
</script>
