<template>
  <section class="section">
    <a v-if="slice.primary.blockAnchor" :id="$prismic.asText(slice.primary.blockAnchor)"></a>
    <b-row class="row-container five-col__row card-height">
      <h4 class="row-title title title-l">{{ $prismic.asText(slice.primary.blockTitle) }}</h4>
      <b-col v-for="(item, i) in slice.items" :key="i" class="five-col">
        <b-card class="five-col__item">
          <prismic-image class="five-col__item__img" :field="item.image" />
        </b-card>
        <prismic-rich-text class="five-col__item__label" :field="item.cardTitle" />
      </b-col>
    </b-row>
  </section>
</template>

<script>
export default {
  name: 'FiveColumnsCards',
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>
