<template>
  <div class="map-container">
    <div class="map-header">
      <h1 class="map-header__title title title-l">Мережа відділень та банкоматів</h1>
      <ul id="test"></ul>
    </div>
    <div class="map-filters">
      <div class="map-filter-display">
        <b-form-checkbox
          v-model="checkedDisplay"
          class="map-filter-display_item"
          value="map"
          unchecked-value="list"
          name="checkbox-1"
          :class="{ active: checkedDisplay == 'map' }"
          @click="checkedDisplay = 'map'"
        >
          На карті
        </b-form-checkbox>
        <b-form-checkbox
          v-model="checkedDisplay"
          class="map-filter-display_item"
          value="list"
          unchecked-value="map"
          name="checkbox-2"
          :class="{ active: checkedDisplay == 'list' }"
          @click="checkedDisplay = 'list'"
        >
          Списком
        </b-form-checkbox>
      </div>
      <autocomplete
        v-show="checkedDisplay == 'map'"
        class="map-filter-compl"
        :search="search"
        placeholder="Пошук за адресою (Київ)"
        aria-label="Пошук за адресою (Київ)"
        :get-result-value="getResultValue"
        @submit="onSubmit"
      ></autocomplete>
      <div class="map-filter-check">
        <b-form-checkbox
          v-model="checkedBranch"
          class="map-filter-check_item"
          value="branch"
          name="checkbox-1"
          @change="toggleMarkersBranch('branch')"
        >
          Відділення
        </b-form-checkbox>
        <b-form-checkbox
          v-model="checkedAtm"
          class="map-filter-check_item"
          value="atm"
          name="checkbox-2"
          @change="toggleMarkersAtm('atm')"
        >
          Банкомати
        </b-form-checkbox>
      </div>
    </div>
    <div v-show="checkedDisplay == 'map'" class="map-body">
      <div id="map" ref="map" class="map-body"></div>
    </div>
    <div v-show="checkedDisplay == 'list'" class="map-list">
      <b-table-simple responsive class="map-table table row-top">
        <b-tr class="header">
          <b-td colspan="3" class="">Назва</b-td>
          <b-td colspan="3" class="">Адреса</b-td>
          <b-td colspan="3" class="">Графік роботи</b-td>
          <b-td colspan="3" class="">Послуги</b-td>
        </b-tr>
        <b-tr v-for="item in locations" :key="item.id">
          <b-td colspan="3">
            <p>{{ item.name }}</p>
          </b-td>
          <b-td colspan="3" class="">
            <p>{{ item.address }}</p>
          </b-td>
          <b-td colspan="3" class="">
            <p>{{ item.workTime.days }} {{ item.workTime.daysTime }}</p>
            <p>{{ item.workTime.cashDesk }} {{ item.workTime.cashDeskTime }}</p>
            <p>{{ item.workTime.break }} {{ item.workTime.breakTime }}</p>
          </b-td>
          <b-td colspan="3" class="">
            <ul>
              <li v-for="service in item.services" :key="service.id">
                {{ service }}
              </li>
            </ul>
          </b-td>
        </b-tr>
      </b-table-simple>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-undef */
import data from './locations.json';
import countries from './countries.json';
import styles from './mapStyles.json';
export default {
  data() {
    return {
      locations: data.locations,
      countriesList: countries.countries,
      categories: ['branch', 'map'],
      mapStyles: styles,
      checked: '',
      checkedAtm: '',
      checkedBranch: 'branch',
      selected: false,
      addMessageOpen: true,
      markers: [],
      center: { lat: 50.451956809395504, lng: 30.5260360755913 },
      map: null,
      services: [],
      checked1: false,
      checked2: false,
      state3: false,
      checkedDisplay: 'map',
    };
  },
  mounted() {
    this.initMap();
    this.show('branch');
  },
  methods: {
    search(input) {
      return this.countriesList.filter((country) => {
        return country.region.toLowerCase().startsWith(input.toLowerCase());
      });
    },
    onSubmit(result) {
      this.setCenter(result.coordinates);
      this.map.setZoom(8);
    },
    getResultValue(result) {
      return result.region;
    },
    toggleMarkersAtm(value) {
      if (this.checkedAtm) {
        this.show(value);
      } else {
        this.hide(value);
      }
    },
    toggleMarkersBranch(value) {
      if (this.checkedBranch) {
        this.show(value);
      } else {
        this.hide(value);
      }
    },
    setCenter(coordinates) {
      this.map.setCenter(new google.maps.LatLng(coordinates.lat, coordinates.lng));
    },
    initMap() {
      this.map = new google.maps.Map(document.getElementById('map'), {
        zoom: 6,
        minZoom: 6,
        maxZoom: 20,
        zoomControl: true,
        center: this.center,
        disableDefaultUI: true,
        styles: this.mapStyles,
        fullscreenControl: true,
        mapTypeControl: true,
      });

      const iconSrc = {};
      iconSrc.atm = require('~/assets/images/maps/atm.svg');
      iconSrc.branch = require('~/assets/images/maps/branch.svg');
      let content;
      let servicesText = [];
      for (const i in this.locations) {
        for (const j in this.locations[i].services) {
          servicesText += '<li>' + this.locations[i].services[j] + '</li>';
        }
        if (this.locations[i].type === 'branch') {
          content =
            '<div class="info-window-custom branch"><h6 class="title title-s">' +
            this.locations[i].name +
            '</h6> <div class="left-side"><p>' +
            this.locations[i].address +
            '</p><div><p><span class="text-bold">' +
            this.locations[i].workTime.days +
            '</span><span>' +
            this.locations[i].workTime.daysTime +
            '</span></p><p><span class="text-bold">' +
            this.locations[i].workTime.cashDesk +
            '</span><span>' +
            this.locations[i].workTime.cashDeskTime +
            '</span></p><p><span class="text-bold">' +
            this.locations[i].workTime.break +
            '</span><span>' +
            this.locations[i].workTime.breakTime +
            '</span></p></div></div><div class="right-side"><ul id="content">' +
            servicesText +
            '</ul></div></div>';
        } else if (this.locations[i].type === 'atm') {
          content =
            '<div class="info-window-custom atm"><h6 class="title title-s">' +
            this.locations[i].name +
            '</h6> <div class="left-side"><p>' +
            this.locations[i].address +
            '</p><p>Час роботи: ' +
            this.locations[i].workTime +
            '</p></div></div>';
        }
        servicesText = [];
        const marker = new google.maps.Marker({
          position: {
            lat: parseFloat(this.locations[i].lat),
            lng: parseFloat(this.locations[i].lng),
          },
          map: this.map,
          icon: iconSrc[this.locations[i].type],
        });
        this.markers.push(marker);
        marker.addListener('click', () => {
          this.map.setZoom(this.map.getZoom() * 1.2);
          this.map.setCenter(marker.getPosition());
        });
        const infowindow = new google.maps.InfoWindow({
          content,
          maxWidth: 670,
          class: 'map-add-info',
        });
        marker.addListener('click', () => {
          infowindow.open(map, marker);
        });
      }
      this.hide('branch');
      this.hide('atm');
    },
    closeAddMessage() {
      this.addMessageOpen = false;
    },
    show(category) {
      for (const i in this.locations) {
        if (this.locations[i].type === category) {
          this.markers[i].setVisible(true);
        }
      }
    },
    hide(category) {
      for (const i in this.locations) {
        if (this.locations[i].type === category) {
          this.markers[i].setVisible(false);
        }
      }
    },
  },
};
</script>
