<template>
  <div class="page-container about-bank">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/about-bank.png')"
        :main-screen="mainScreen"
      ></MainScreen>
      <b-card no-body class="card about-bank__desc-card row-container">
        <b-row>
          <b-col md="12">
            <h4 class="title title-l">ОКСІ БАНК</h4>
            <b-card-text>
              Банк активно розвивається. Основні напрями роботи — співпраця з міжнародними
              платіжними системами та НПС ПРОСТІР, системами переказів коштів, створення мобільного
              банкінгу, депозитних та кредитних програм. Наша мета — впроваджувати інноваційні
              сервіси для малого та середнього бізнесу, створювати та розвивати нові продукти для
              приватних клієнтів.
            </b-card-text>
            <ZoomImg
              class="image sertificate about-license"
              src="/uploads/sertificates/licenses/oksi-bank-nbu-license.png"
              >Ліцензія НБУ №247 від 15.11.2011</ZoomImg
            >
          </b-col>
        </b-row>
        <b-row class="about-bank__desc-card__list">
          <b-col md="6">
            <div>
              <p class="title">Послуги для юридичних осіб:</p>
              <ul class="list">
                <li>інтернет-еквайринг;</li>
                <li>кредити в національній та іноземній валютах;</li>
                <li>гарантії, поручительства;</li>
                <li>фінансовий лізинг;</li>
                <li>факторинг;</li>
                <li>депозити в національній та іноземній валютах;</li>
                <li>розрахунково-касове обслуговування;</li>
                <li>обслуговування зовнішньоекономічної діяльності.</li>
              </ul>
            </div>
          </b-col>
          <b-col md="6">
            <div>
              <p class="title">Послуги для фізичних осіб:</p>
              <ul class="list">
                <li>сучасний мобільний додаток (digital banking);</li>
                <li>перекази з поточних рахунків;</li>
                <li>обслуговування переказів міжнародних платіжних систем;</li>
                <li>кредити в національній валюті;</li>
                <li>депозити в національній та іноземній валютах;</li>
                <li>валютно-обмінні операції;</li>
                <li>випуск і обслуговування платіжних карток Mastercard та ПРОСТІР;</li>
                <li>операції з банківськими металами;</li>
                <li>оренда індивідуальних сейфів.</li>
              </ul>
            </div>
          </b-col>
        </b-row>
      </b-card>
      <b-row class="row-container">
        <div class="row-title title title-l">Історія банку</div>
        <Tabs :tabs="tabs"></Tabs>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">Керівництво банку</div>
        <b-col md="12">
          <b-card no-body class="about-bank__leaders-card">
            <div class="about-bank__leaders-card_item">
              <div v-for="leader in leaders.board" :key="leader.id">
                <p class="title">{{ leader.name }}</p>
                <p>{{ leader.position }}</p>
              </div>
            </div>
            <div class="about-bank__leaders-card_item">
              <div v-for="leader in leaders.supervisoryBoard" :key="leader.id">
                <p class="title">{{ leader.name }}</p>
                <p>{{ leader.position }}</p>
              </div>
            </div>
            <div class="about-bank__leaders-card_item">
              <div v-for="leader in leaders.accountant" :key="leader.id">
                <p class="title">{{ leader.name }}</p>
                <p>{{ leader.position }}</p>
              </div>
            </div>
          </b-card>
        </b-col>
      </b-row>
      <b-row class="row-container card-height">
        <b-col md="12">
          <div class="row-title title title-l">Додаткові відомості</div>
        </b-col>
        <b-col v-for="item in moreInfo" :key="item.id" md="3">
          <div class="link-block card">
            <nuxt-link :to="item.link">{{ item.title }}</nuxt-link>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Tabs from '~/components/Tabs';
import ZoomImg from '~/components/ZoomImg';
export default {
  async asyncData({ $prismic, error }) {
    const aboutBank = await $prismic.api.getSingle('about-bank');
    if (aboutBank) {
      return {
        aboutBank,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      components: {
        Tabs,
        ZoomImg,
      },
      items: [
        {
          text: 'Про банк',
          active: true,
        },
      ],
      mainScreen: {
        type: 'light',
        title: 'Про банк',
        description:
          'АТ «ОКСІ БАНК» — це український банк, який з 2008 року надає класичні банківські послуги для фізичних та юридичних осіб, а також фізичних осіб-підприємців. Відділення банку працюють у Києві, Львові, Харкові, Хмельницькому та Ужгороді.',
      },
      tabs: [
        {
          year: '2021',
          events: [
            {
              date: '20.02.2021',
              desc:
                'Оксі Банк став переможцем рейтингу «Банки року – 2021» у номінації «Роздрібний банк» серед невеликих фінансових установ з українським капіталом.',
            },
            {
              date: '03.03.2021',
              desc:
                'Оксі Банк став найкращим банком у номінації «Динамічний розвиток» за версією журналу «ТОП-100. Рейтинги найбільших».',
            },
          ],
        },
        {
          year: '2020',
          events: [
            {
              date: '01.02.2020',
              desc:
                'столичне відділення АТ «ОКСІ БАНК» переїхало у приміщення за адресою: м. Київ, вул. Хрещатик, 8.',
            },
            {
              date: '25.11.2020',
              desc:
                'IBI-Rating підтвердив кредитний рейтинг АТ «ОКСІ БАНК» на рівні uaA– з прогнозом «позитивний», рейтинг надійності банківських вкладів — на рівні «4» (висока надійність).',
            },
            {
              date: '15.07.2020',
              desc:
                'кінцевий власник ТОВ «УКРКАРТ» Ігор Фісун збільшив частку в статутному капіталі АТ «ОКСІ БАНК» до 9,95%.',
            },
            {
              date: '04.06.2020',
              desc:
                'продовження програми реструктуризації кредитної заборгованості для позичальників АТ «ОКСІ БАНК».',
            },
            {
              date: '06.04.2020',
              desc:
                'початок програми реструктуризації кредитної заборгованості для позичальників АТ «ОКСІ БАНК».',
            },
            {
              date: '30.03.2020',
              desc:
                ' у зв’язку з карантином скорочено час операційного обслуговування клієнтів АТ «ОКСІ БАНК» (з 10:00 до 16:00). ',
            },
          ],
        },
        {
          year: '2019',
          events: [
            {
              date: '04.12.2019',
              desc:
                'IBI-Rating підтвердив кредитний рейтинг АТ «ОКСІ БАНК» на рівні uaA– з прогнозом «стабільний», рейтинг надійності банківських вкладів — на рівні «4» (висока).',
            },
            {
              date: '24.07.2019',
              desc: 'початок роботи АТ «ОКСІ БАНК» у стандарті IBAN.',
            },
            {
              date: '19.06.2019',
              desc:
                'агентство IBI-Rating підвищило кредитний рейтинг АТ «ОКСІ БАНК» до рівня uaA– з прогнозом «стабільний». Рейтинг надійності банківських вкладів підтверджено на рівні «4» (висока).',
            },
            {
              date: '05.03.2019',
              desc: 'запуск мобільного банку sportbank на базі ліцензії АТ «ОКСІ БАНК».',
            },
            {
              date: '15.01.2019',
              desc:
                'АТ «ОКСІ БАНК» увійшов до ТОП-30 найнадійніших банків України за версією Obozrevatel та журналу «Рейтинг. Бізнес в офіційних цифрах».',
            },
          ],
        },
        {
          year: '2018',
          events: [
            {
              date: '12.12.2018',
              desc:
                'агентство IBI-Rating підтвердило кредитний рейтинг ПАТ «ОКСІ БАНК» на рівні uaBBB з прогнозом «стабільний», рейтинг надійності банківських вкладів — на рівні «4» (висока надійність)',
            },
            {
              date: '02.07.2018',
              desc:
                'агентство IBI-Rating підтвердило кредитний рейтинг ПАТ «ОКСІ БАНК» на рівні uaBBB з прогнозом «стабільний», рейтинг надійності банківських вкладів — на рівні «4» (висока надійність).',
            },
          ],
        },
        {
          year: '2017',
          events: [
            {
              date: '13.12.2017',
              desc:
                ' агентство IBI-Rating підтвердило кредитний рейтинг ПАТ «ОКСІ БАНК» на рівні uaBBB з прогнозом «стабільний», рейтинг надійності банківських вкладів — на рівні «4» (висока).',
            },
            {
              date: '26.06.2017',
              desc:
                'агентство IBI-Rating підвищило кредитний рейтинг ПАТ «ОКСІ БАНК» до рівня uaBBB зі зміною прогнозу на «стабільний». Рейтинг надійності банківських вкладів підтверджено на рівні «4» (висока).',
            },
            {
              date: '31.03.2017',
              desc:
                'підписано Генеральну угоду про співробітництво між департаментом економічної політики ЛОДА та ПАТ «ОКСІ БАНК» про кредитування бізнесу для учасників АТО.',
            },
            {
              date: '03.01.2017',
              desc:
                'агентство IBI-Rating підтвердило кредитний рейтинг ПАТ «ОКСІ БАНК» на рівні «uaBBB-» зі зміною прогнозу зі «стабільного» на «у розвитку», рейтинг депозитів — на рівні «4» (висока). ',
            },
          ],
        },
        {
          year: '2016',
          events: [
            {
              date: '27.12.2016',
              desc:
                'агентство IBI-Rating підтвердило кредитний рейтинг ПАТ «ОКСІ БАНК» на рівні uaВВВ- зі зміною прогнозу від «стабільний» до «в розвитку», рейтинг надійності вкладів — на рівні «4» (висока).',
            },
            {
              date: '26.12.2016',
              desc: 'ПАТ «ОКСІ БАНК» підключив картки MasterCard до технології 3D Secure.',
            },
            {
              date: '25.12.2016',
              desc:
                'ПАТ «ОКСІ БАНК» відновив роботу із беззаставного кредитування фізичних осіб готівкою.',
            },
            {
              date: '12.07.2016',
              desc:
                'агентство IBI-Rating підтвердило кредитний рейтинг ПАТ «ОКСІ БАНК» на рівні uaBBB-, з прогнозом «стабільний».',
            },
            {
              date: '11.04.2016',
              desc:
                'Франківське відділення ПАТ «ОКСІ БАНК» у Львові переїхало у приміщення за адресою: вул. С. Бандери, 43.',
            },
          ],
        },
        {
          year: '2014',
          events: [
            {
              date: '07.01.2014',
              desc: 'Пенсійний фонд України продовжив дію договору з ПАТ «ОКСІ БАНК».',
            },
            {
              date: '19.06.2014',
              desc:
                'агентство IBI-Rating підтвердило довгостроковий кредитний рейтинг ПАТ «ОКСІ БАНК» на рівні інвестиційного.',
            },
          ],
        },
      ],
      leaders: {
        board: [
          {
            name: 'Романюк Арсен Вікторович',
            position: 'Голова Правління',
          },
          {
            name: 'Павлишин Роман Орестович',
            position: 'Заступник Голови Правління',
          },
          {
            name: 'Чиж Регіна Едуардівна',
            position: 'Член Правління',
          },
          {
            name: 'Гончаров Ігор Володимирович',
            position: 'Член Правління',
          },
        ],
        supervisoryBoard: [
          {
            name: 'Жук Олександр Володимирович',
            position: 'Голова Наглядової Ради',
          },
          {
            name: 'Баляш Олег Григорійович',
            position: 'Заступник Голови Наглядової ради',
          },
          {
            name: 'Бачало Іван Богданович',
            position: 'Член Наглядової ради - незалежний директор',
          },
          {
            name: 'Короташ Ярослав Олександрович',
            position: 'Член Наглядової ради - незалежний директор',
          },
          {
            name: 'Штанько Віктор Михайлович',
            position: 'Член Наглядової ради - незалежний директор',
          },
        ],
        accountant: [
          {
            name: 'Позичайло Лариса Миколаївна',
            position: 'Головний бухгалтер',
          },
        ],
      },
      moreInfo: [
        {
          link: '/corporate-governance',
          title: 'Корпоративне управління',
        },
        {
          link: '/legal-structure',
          title: 'Структура власності',
        },
        {
          link: '/financial-statements',
          title: 'Звітність',
        },
        {
          link: '/licenses',
          title: 'Ліцензії',
        },
      ],
    };
  },
  head() {
    const mainTitle = process.env.MAIN_TITLE;
    const pageTitle = this.aboutBank.data.body[0].primary.title[0].text;
    return {
      title: pageTitle || mainTitle,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.aboutBank.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>

<style scoped lang="scss">
.about-bank {
  .main-screen {
    &_img {
      img {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
</style>
