<template>
  <div class="page-container">
    <b-container>
      <b-card no-body class="overflow-hidden main-screen main-screen_light main-screen-bankID">
        <b-card-body class="main-screen_text">
          <b-card-text class="main-screen_title">
            <h1>Авторизація через Bank ID</h1>
          </b-card-text>
          <b-card-text class="main-screen_description">
            Верифікація громадян через українські банки для надання адміністративних та iнших послуг
            через Інтернет.
          </b-card-text>
          <b-form-checkbox
            id="checkbox-1"
            v-model="status"
            class="main-screen-bankID__checkbox"
            name="checkbox-1"
            value="accepted"
            unchecked-value="not_accepted"
          >
            Згода на обробку персональних даних
          </b-form-checkbox>
          <b-button variant="primary">Ідентифікація та верифікація через  Bank ID</b-button>
        </b-card-body>
        <b-card-body class="main-screen_img">
          <b-card-img
            src="~/assets/images/main-screen/bankID.svg"
            alt="Image"
            class="rounded-0"
          ></b-card-img>
        </b-card-body>
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      status: 'accepted',
    };
  },
};
</script>
