<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <Map></Map>
    </b-container>
  </div>
</template>

<script>
import Map from '~/components/Map/Map';
export default {
  components: { Map },
  async asyncData({ $prismic, error }) {
    const branchAtm = await $prismic.api.getSingle('branch-atm');
    if (branchAtm) {
      return {
        branchAtm,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Відділення та банкомати',
          active: true,
        },
      ],
    };
  },
  head() {
    return {
      title: this.branchAtm.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.branchAtm.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
