<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      <b-row class="row-container main-row">
        <div class="row-title title title-l">Контроль комплаєнс-ризиків</div>
        <b-col md="12">
          <b-card no-body class="card-dark">
            <b-row>
              <b-col md="6">
                <b-card-text>
                  АТ "ОКСІ БАНК" високо цінує свою репутацію надійної та прозорої фінансової
                  установи та усвідомлює, що клієнти й партнери Банку очікують чесного,
                  справедливого і неупередженого виконання посадовими особами Банку своїх
                  функціональних обов’язків. Довіра клієнтів ґрунтується на впевненості в тому, що
                  всі послуги надаються з дотриманням основ професійної етики і виконуються згідно з
                  найвищими стандартами якості. Із цією метою в Банку впроваджено ефективну систему
                  управління комплаєнс-ризиками.
                </b-card-text>
                <b-card-text>
                  Ризик комплаєнс визначається як ризик юридичних санкцій, фінансових збитків або
                  втрати репутації внаслідок невиконання банком вимог законодавства України,
                  нормативно-правових актів, внутрішніх положень і правил, а також стандартів
                  саморегулюючих організацій, що застосовуються до його діяльності. Нездатність
                  передбачати вплив неналежних дій працівників банку може призвести до негативного
                  суспільного резонансу та завдати шкоди репутації банку, навіть якщо не було
                  порушено вимог законодавства України.
                </b-card-text>
              </b-col>
              <b-col md="6">
                <b-card-text>
                  У Банку затверджено один з основних документів, спрямованих на управління
                  комплаєнс-ризиком – Кодекс корпоративної етики. Це документ, яким затверджені
                  правила і норми корпоративної поведінки, і який відображає ключові принципи і
                  стандарти роботи Банку.
                </b-card-text>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <b-col md="12">
          <b-card class="card-pad card-col">
            <b-card-text
              >Якщо Вам відомі факти неналежної поведінки наших працівників (порушення Кодексу
              етики), порушення законодавства або інші факти, які можуть зашкодити інтересам
              клієнтів та/або банку, Ви можете проінформувати нас про це, направивши відповідне
              повідомлення.</b-card-text
            >
            <div class="list-container">
              <p class="title title-s">Як повідомити про комплаєнс-інцидент:</p>
              <ul class="simple-list">
                <li>електронним листом за адресою: compliance@okcibank.com.ua;</li>
                <li>
                  поштовим листом за адресою: 79019, м. Львів, вул. Газова, 17 з приміткою «Для
                  Служби комплаєнс»;
                </li>
                <li>заповнити форму зворотнього зв’язку нижче.</li>
              </ul>
            </div>
          </b-card>
        </b-col>
      </b-row>
      <Form3></Form3>
    </b-container>
  </div>
</template>

<script>
import Form3 from '~/components/Forms/Form3';
export default {
  components: {
    Form3,
  },
  async asyncData({ $prismic, error }) {
    const compliance = await $prismic.api.getSingle('complaince-risk-control');
    if (compliance) {
      return {
        compliance,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: 'Про банк',
          to: '/about-bank',
        },
        {
          text: 'Контроль комплаєнс-ризиків',
          active: true,
        },
      ],
    };
  },
  head() {
    return {
      title: this.compliance.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.compliance.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
