<template>
  <div class="page-container corporative-management">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'main_row_links'">
          <MainRowLinks :slice="slice" />
        </template>
        <template v-if="slice.slice_type === 'tab_doc'">
          <TabDoc :slice="slice" />
        </template>
      </section>
      <a id="required-info"></a>
      <b-row class="row-container">
        <div class="row-title title title-l">Обов’язкова інформація</div>
        <b-col md="12">
          <b-card class="corporative-management__sertificates card-pad card-row">
            <ZoomImg class="image sertificate" src="/uploads/sertificates/oksi-bank-register.png"
              >Свідоцтво про держреєстрацію</ZoomImg
            >
            <SertificatePdf :sertificate-pdf="sertShares"></SertificatePdf>
            <SertificatePdf :sertificate-pdf="sertEntrepreneur"></SertificatePdf>
          </b-card>
        </b-col>
      </b-row>
      <a id="management"></a>
      <b-row class="row-container">
        <div class="row-title title title-l">Керівництво банку</div>
        <b-col md="12">
          <b-card no-body class="about-bank__leaders-card">
            <div class="about-bank__leaders-card_item">
              <div v-for="leader in leaders.board" :key="leader.id">
                <p class="title">{{ leader.name }}</p>
                <p>{{ leader.position }}</p>
              </div>
            </div>
            <div class="about-bank__leaders-card_item">
              <div v-for="leader in leaders.supervisoryBoard" :key="leader.id">
                <p class="title">{{ leader.name }}</p>
                <p>{{ leader.position }}</p>
              </div>
            </div>
            <div class="about-bank__leaders-card_item">
              <div v-for="leader in leaders.accountant" :key="leader.id">
                <p class="title">{{ leader.name }}</p>
                <p>{{ leader.position }}</p>
              </div>
            </div>
          </b-card>
        </b-col>
      </b-row>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'add_info_links'">
          <AddInfoLinks :slice="slice" />
        </template>
      </section>
    </b-container>
  </div>
</template>

<script>
import AddInfoLinks from '~/slices/AddInfoLinks';
import DocsTabs from '~/components/DocsTabs';
import SertificatePdf from '~/components/SertificatePdf';
import ZoomImg from '~/components/ZoomImg';
import TabDoc from '~/slices/TabDoc';
import MainRowLinks from '~/slices/MainRowLinks';
export default {
  components: {
    AddInfoLinks,
    TabDoc,
    MainRowLinks,
  },
  async asyncData({ $prismic, error }) {
    const corporativeGovernance = await $prismic.api.getSingle('corporative-governance');
    if (corporativeGovernance) {
      return {
        corporativeGovernance,
        slices: corporativeGovernance.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      slices: {
        TabDoc,
      },
      components: {
        DocsTabs,
        SertificatePdf,
        ZoomImg,
      },
      sertificatesImg: {
        imgSrc: '/uploads/sertificates/oksi-bank-register.png',
        title: 'Свідоцтво про держреєстрацію',
      },
      sertEntrepreneur: {
        imgSrc: '/uploads/sertificates/shares-register.png',
        pdfSrc: '/uploads/sertificates/shares-register.pdf',
        title: 'Свідоцтво ДКЦПФР про реєстрацію випуску акцій',
      },
      sertShares: {
        imgSrc: '/uploads/sertificates/entrepreneur.png',
        pdfSrc: '/uploads/sertificates/entrepreneur.pdf',
        title: 'Виписка з ЄДР юридичних осіб та фізичних осіб-підприємців',
      },
      items: [
        {
          text: 'Про банк',
          to: '/about-bank',
        },
        {
          text: 'Корпоративне управління',
          active: true,
        },
      ],
      leaders: {
        board: [
          {
            name: 'Романюк Арсен Вікторович',
            position: 'Голова Правління',
          },
          {
            name: 'Павлишин Роман Орестович',
            position: 'Заступник Голови Правління',
          },
          {
            name: 'Чиж Регіна Едуардівна',
            position: 'Член Правління',
          },
          {
            name: 'Гончаров Ігор Володимирович',
            position: 'Член Правління',
          },
        ],
        supervisoryBoard: [
          {
            name: 'Жук Олександр Володимирович',
            position: 'Голова Наглядової Ради',
          },
          {
            name: 'Баляш Олег Григорійович',
            position: 'Заступник Голови Наглядової ради',
          },
          {
            name: 'Бачало Іван Богданович',
            position: 'Член Наглядової ради - незалежний директор',
          },
          {
            name: 'Короташ Ярослав Олександрович',
            position: 'Член Наглядової ради - незалежний директор',
          },
          {
            name: 'Штанько Віктор Михайлович',
            position: 'Член Наглядової ради - незалежний директор',
          },
        ],
        accountant: [
          {
            name: 'Позичайло Лариса Миколаївна',
            position: 'Головний бухгалтер',
          },
        ],
      },
    };
  },
  head() {
    return {
      title: this.corporativeGovernance.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.corporativeGovernance.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
