<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/data-security.png')"
        :main-screen="mainScreen"
      ></MainScreen>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'text_link_card'">
          <TextLinkCard :slice="slice" />
        </template>
      </section>
    </b-container>
  </div>
</template>

<script>
import TextLinkCard from '~/slices/TextLinkCard';
export default {
  components: {
    TextLinkCard,
  },
  async asyncData({ $prismic, error }) {
    const dataSafety = await $prismic.api.getSingle('data-safety');
    if (dataSafety) {
      return {
        dataSafety,
        slices: dataSafety.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: 'Безпека даних',
          active: true,
        },
      ],
      mainScreen: {
        type: 'light',
        title: 'Безпека даних',
        description:
          'АТ «ОКСІ БАНК» вживає всіх можливих заходів в межах чинного законодавства щодо захисту конфіденційної інформації клієнтів. Для максимальної захищеності ми закликаємо завжди бути пильними і дотримуватися простих правил безпеки під час використання електронних платіжних засобів.',
        links: [
          {
            to: '#personal-data-security',
            name: 'Захист персональних даних',
          },
          {
            to: '#info-security',
            name: 'Інформаційна безпека',
          },
        ],
      },
    };
  },
  head() {
    return {
      title: this.dataSafety.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.dataSafety.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
