<template>
  <div class="page-container deposit-guarantee">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/fvgo.png')"
        :main-screen="mainScreen"
      ></MainScreen>
      <a id="guarantee-of-deposits"></a>
      <b-card class="card deposit-guarantee___card card-pad">
        <b-row>
          <b-col md="7">
            <div class="deposit-guarantee___card__sert-desc">
              <div>
                <p>
                  Ваш депозит в Оксі Банку надійно захищений. Фонд гарантує кожному вкладникові
                  банку відшкодування коштів у розмірі його вкладу разом з відсотками, нарахованими
                  на день початку процедури виведення банку з ринку.
                </p>
                <p>
                  Максимальна сума відшкодування за всіма вкладами — 200 тисяч гривень. Кошти за
                  депозитами в іноземній валюті Фонд відшкодовує в гривні за офіційним курсом НБУ.
                </p>
              </div>
              <div class="deposit-guarantee___card__links">
                <b-link
                  target="_blank"
                  class="doc-download-link"
                  href="https://drive.google.com/file/d/1oFf_8KdId-37-XWpdcyfr-MZ6HLIrCNJ/view"
                  >Реквізити ФГВФО та розмір гарантованої суми відшкодування</b-link
                >
                <b-link
                  target="_blank"
                  class="doc-download-link"
                  href="https://drive.google.com/file/d/1KPhmfwEYUkIt53CTaVisrT44DmOrRRoA/view"
                  >Довідка про систему гарантування вкладів фізичних осіб</b-link
                >
              </div>
            </div>
          </b-col>
          <b-col md="1"></b-col>
          <b-col md="4">
            <div class="deposit-guarantee__sertificate">
              <ZoomImg
                class="image sertificate"
                src="/uploads/sertificates/deposit_guarantee-sertificate.png"
                >Свідоцтво учасника ФГВФО</ZoomImg
              >
            </div>
          </b-col>
        </b-row>
      </b-card>
      <a id="video"></a>
      <b-row class="row-container">
        <div class="row-title title title-l">Відеоролики про ФГВО</div>
        <b-col md="12">
          <b-card>
            <b-row>
              <b-col md="3">
                <div class="deposit-guarantee___card__video">
                  <iframe
                    src="https://www.youtube.com/embed/ya3MXF59GkY"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <p>Гарантія. Захист. Довіра. Фільм про Фонд</p>
              </b-col>
              <b-col md="3">
                <div class="deposit-guarantee___card__video">
                  <iframe
                    src="https://www.youtube.com/embed/Qz1vZDZLu3A"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <p>Вмів заробляти, вмій зберігати!</p>
              </b-col>
              <b-col md="3">
                <div class="deposit-guarantee___card__video">
                  <iframe
                    src="https://www.youtube.com/embed/J8e_8_P7q38"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <p>Гарантія сімейних заощаджень</p>
              </b-col>
              <b-col md="3">
                <div class="deposit-guarantee___card__video">
                  <iframe
                    src="https://www.youtube.com/embed/EBLKcTYLBCA"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <p>Умови гарантування банківських вкладів</p>
              </b-col>
              <b-col md="3">
                <div class="deposit-guarantee___card__video">
                  <iframe
                    src="https://www.youtube.com/embed/VPwUnbzedy4"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <p>Уважно читайте депозитний договір</p>
              </b-col>
              <b-col md="3">
                <div class="deposit-guarantee___card__video">
                  <iframe
                    src="https://www.youtube.com/embed/MbdEJp79rhA"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <p>Якщо банк визнано неплатоспроможним, знайте, як отримати відшкодування</p>
              </b-col>
              <b-col md="3">
                <div class="deposit-guarantee___card__video">
                  <iframe
                    src="https://www.youtube.com/embed/vuitSPizAbc"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <p>Якщо банк визнано неплатоспроможним, знайте, як отримати відшкодування</p>
              </b-col>
              <b-col md="3">
                <div class="deposit-guarantee___card__video">
                  <iframe
                    src="https://www.youtube.com/embed/mkpfxXBg3T8"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <p>Про систему гарантування вкладів фізичних осіб</p>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
      <a id="add-info"></a>
      <b-row class="row-container">
        <h4 class="row-title title title-l">Додаткова інформація</h4>
        <b-col md="12">
          <b-card class="deposit-guarantee___card__add-info-links">
            <div>
              <nuxt-link to="/private/deposits" class="card-link"
                >Депозити для фізичних осіб</nuxt-link
              >
              <nuxt-link to="/tariffs-and-typical-agreements" class="card-link"
                >Типові угоди</nuxt-link
              >
              <a
                href="https://zakon.rada.gov.ua/laws/show/z1548-12#Text"
                target="_blank"
                class="card-link"
                >Положення про порядок відшкодування Фондом гарантування вкладів фізичних осіб
                коштів за вкладами</a
              >
              <!-- <a
                href="https://zakon.rada.gov.ua/laws/show/4452-17#Text"
                target="_blank"
                class="card-link"
                >Закон України «Про систему гарантування вкладів фізичних осіб»</a
              > -->
              <a href="https://www.fg.gov.ua/" target="_blank" class="card-link"
                >Офіційний сайт Фонду гарантування вкладів фізичних осіб</a
              >
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import ZoomImg from '~/components/ZoomImg';

export default {
  async asyncData({ $prismic, error }) {
    const depositGuaranteeFund = await $prismic.api.getSingle('deposit-guarantee-fund');
    if (depositGuaranteeFund) {
      return {
        depositGuaranteeFund,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      components: {
        ZoomImg,
      },
      items: [
        {
          text: 'Фонд гарантування вкладів фізичних осіб',
          active: true,
        },
      ],
      mainScreen: {
        type: 'light',
        title: 'Фонд гарантування вкладів фізичних осіб',
        description:
          'АТ «ОКСІ БАНК» — постійний учасник Фонду гарантування вкладів фізичних осіб з 3 листопада 2008 року.',
        conditions: {
          first: {
            title: '',
            desc: '',
          },
          second: {
            title: '',
            desc: '',
          },
        },
        links: [
          {
            to: '#guarantee-of-deposits',
            name: 'Про гарантування вкладів',
          },
          {
            to: '#video',
            name: 'Відеоролики про ФГВО',
          },
          {
            to: '#add-info',
            name: 'Додаткова інформація',
          },
        ],
      },
    };
  },
  head() {
    return {
      title: this.depositGuaranteeFund.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.depositGuaranteeFund.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
