<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/contacts.png')"
        :main-screen="mainScreen"
      ></MainScreen>
      <a id="protect"></a>
      <b-row class="row-container protect-mechanisms-cards">
        <b-col md="12">
          <h3 class="row-title title title-l">
            Механізми захисту прав споживачів фінансових послуг
          </h3>
        </b-col>
        <b-col class="protect-mechanisms-cards_left" md="6">
          <b-card>
            <div>
              <div class="title title-m">Звернення до АТ «ОКСІ БАНК»</div>
              <div class="list-container">
                <p>
                  Якщо Ви маєте зауваження або скарги щодо якості обслуговування в АТ «ОКСІ БАНК»,
                  повідомте про це одним із наступних способів:
                </p>
                <ul class="non-style-list">
                  <li><span class="text-bold">Зателефонуйте нам: </span>(032) 232-37-35</li>
                  <li>
                    <span class="text-bold">Заповніть онлайн-форму: </span
                    ><nuxt-link class="card-link" to="/feedback#contact-form"
                      >форма зворотнього зв’язку</nuxt-link
                    >
                  </li>
                  <li>
                    <span class="text-bold">Залиште письмове звернення: </span>
                    у зручному для вас
                    <nuxt-link class="card-link" to="/branch-and-atm-network"
                      >відділенні АТ «ОКСІ БАНК»</nuxt-link
                    >
                  </li>
                  <li>
                    <span class="text-bold">Напишіть листа: </span> на адресу 79019, м. Львів, вул.
                    Газова, 17<br />
                    У листі зазначте прізвище, ім’я, по батькові, місце проживання та деталі
                    питання.
                  </li>
                </ul>
              </div>
            </div>
            <div class="line"></div>
            <div>
              <div class="list-container">
                <p>Звернення розглядаються і вирішуються у термін до:</p>
                <ul class="simple-list">
                  <li>15 днів від дня їх надходження</li>
                  <li>25 днів — якщо необхідні додаткові перевірки</li>
                  <li>
                    45 календарних днів в деяких випадках (згідно ЗУ «Про звернення громадян»).
                  </li>
                </ul>
              </div>
              <b-card-text class="title title-xs">
                Клієнт, який подав письмове звернення, обов’язково отримує письмову відповідь від
                Банку із результатами розгляду.
              </b-card-text>
              <b-card-text class="text-small">
                Посадові особи Банку несуть відповідальність за відмову в прийнятті та розгляді
                звернення, порушення терміну розгляду звернення та інші порушення прав клієнта на
                звернення згідно із законодавством України.
              </b-card-text>
            </div>
          </b-card>
        </b-col>
        <b-col class="protect-mechanisms-cards_right" md="6">
          <b-card class="card__gray protect-mechanisms-cards__item">
            <div class="title title-m">Особистий прийом клієнтів</div>
            <b-card-text
              >Банк проводить особистий прийом клієнтів за попереднім записом.</b-card-text
            >
            <b-card-text
              >Записатися на прийом можна не пізніше ніж
              <span class="text-bold">за 3 дні до дати прийому.</span></b-card-text
            >
            <ul class="non-style-list">
              <li><span class="text-bold">Записатись по телефону: </span>(032) 232-37-35</li>
              <li>
                <span class="text-bold">Записатись у відділенні: </span
                ><nuxt-link class="card-link" to="/branch-and-atm-network"
                  >список відділень АТ «ОКСІ БАНК»</nuxt-link
                >
              </li>
            </ul>
            <a
              href="https://drive.google.com/file/d/1ckLbMVr6F3LdtQjAGhwbhbSa0Hg9xRYI/view"
              target="_blank"
              class="doc-download-link"
              >Порядок розгляду звернень та проведення особистого прийому клієнтів в АТ «ОКСІ БАНК»
            </a>
          </b-card>
          <b-card class="protect-mechanisms-cards__item">
            <div class="title title-m">Звернення до Національного банку України</div>
            <b-card-text
              >Ви маєте право звернутися до НБУ щодо вирішення порушених у зверненні до Банку
              питань. Деталі — на сторінці офіційного сайту НБУ в розділі
              <a
                class="card-link"
                target="_blank"
                href="https://bank.gov.ua/ua/contacts-details#section-1"
                >«Звернення громадян».</a
              ></b-card-text
            >
          </b-card>
          <b-card class="protect-mechanisms-cards__item">
            <div class="title title-m">Звернення до суду</div>
            <b-card-text
              >Ви також маєте право звернутися до суду за захистом своїх прав та інтересів у
              порядку, визначеному законодавством України.</b-card-text
            >
          </b-card>
        </b-col>
      </b-row>
      <a id="contact-form"></a>
      <Form2></Form2>
    </b-container>
  </div>
</template>

<script>
import Form2 from '~/components/Forms/Form2';
export default {
  components: {
    Form2,
  },
  async asyncData({ $prismic, error }) {
    const feedback = await $prismic.api.getSingle('feedback');
    if (feedback) {
      return {
        feedback,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: 'Корпоративним клієнтам',
          to: '/business',
        },
        {
          text: 'Звернення громадян',
          active: true,
        },
      ],
      mainScreen: {
        type: 'light',
        title: 'Звернення громадян',
        description:
          'Клієнти - головна цінність АТ «ОКСІ БАНК».  Ми уважно розглядаємо кожну пропозицію (зауваження), заяву (клопотання) або скаргу щодо дій Банку чи його працівників.',
        conditions: {
          first: {
            title: '',
            desc: '',
          },
          second: {
            title: '',
            desc: '',
          },
        },
        links: [
          {
            to: '#protect',
            name: 'Механізми захисту прав споживачів фінансових послуг',
          },
          {
            to: '#contact-form',
            name: 'Задати питання',
          },
        ],
      },
    };
  },
  head() {
    return {
      title: this.feedback.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.feedback.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
