<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'main_row_links'">
          <MainRowLinks :slice="slice" />
        </template>
        <template v-if="slice.slice_type === 'tab_doc'">
          <TabDoc :slice="slice" />
        </template>
      </section>
    </b-container>
  </div>
</template>

<script>
import TabDoc from '~/slices/TabDoc';
import MainRowLinks from '~/slices/MainRowLinks';
export default {
  components: {
    TabDoc,
    MainRowLinks,
  },
  async asyncData({ $prismic, error }) {
    const financialStatements = await $prismic.api.getSingle('financial-statements');
    if (financialStatements) {
      return {
        financialStatements,
        slices: financialStatements.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Про банк',
          to: '/about-bank',
        },
        {
          text: 'Звітність',
          active: true,
        },
      ],
    };
  },
  head() {
    return {
      title: this.financialStatements.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.financialStatements.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
