<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      <b-row class="row-container main-row">
        <div class="row-title title title-l">Фінансовий моніторинг</div>
        <b-col md="12">
          <b-card no-body class="card-dark">
            <b-row>
              <b-col md="6">
                <b-card-text>
                  Фінансовий моніторинг – це діяльність із виявлення незаконно отриманих доходів та
                  запобігання фінансуванню тероризму та зброї масового знищення.
                </b-card-text>
                <b-card-text
                  >Здійснюючи фінансовий моніторинг, АТ «ОКСІ БАНК» належним чином вивчає клієнтів,
                  аналізує їхні фінансові операції та забезпечує виконання обов'язків суб'єкта
                  первинного фінансового моніторингу.</b-card-text
                >
              </b-col>
              <b-col md="6">
                <b-card-text>
                  Банк діє відповідно до Закону України «Про запобігання та протидію легалізації
                  (відмиванню) доходів, одержаних злочинним шляхом, фінансуванню тероризму та
                  фінансуванню розповсюдження зброї масового знищення», а також внутрішніх
                  нормативних документів.
                </b-card-text>
                <b-link class="card-link" to=""
                  >Політика АТ «ОКСІ БАНК» з питань запобігання та протидії легалізації (відмиванню)
                  доходів, одержаних злочинним шляхом...</b-link
                >
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="9">
          <p style="margin-top: 80px">
            Повідомте нам, якщо Вам стали відомі факти, що свідчать про використання послуг та/або
            продуктів банку для легалізації (відмивання) коштів, фінансування тероризму чи
            фінансування розповсюдження зброї масового знищення
          </p>
        </b-col>
        <b-col md="12">
          <a id="form"></a>
          <Form4></Form4>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <b-col md="12">
          <div class="row-title title title-l">Додаткова інформація</div>
          <b-card class="card-pad card-col gray-card">
            <b-link
              target="_blank"
              class="card-link"
              href="https://zakon.rada.gov.ua/laws/show/361-20#Text"
              >Закон України «Про запобігання та протидію легалізації (відмиванню) доходів,
              одержаних злочинним шляхом, фінансуванню тероризму та фінансуванню розповсюдження
              зброї масового знищення»</b-link
            >
            <b-link
              target="_blank"
              class="card-link"
              href="https://zakon.rada.gov.ua/laws/show/v0065500-20#n1334"
              >Порядок надання особами повідомлень про порушення у сфері ПВК/ФТ, порядок їх
              розгляду</b-link
            >
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Form4 from '~/components/Forms/Form4';
export default {
  components: {
    Form4,
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: 'Про банк',
          to: '/about-bank',
        },
        {
          text: 'Фінансовий моніторинг',
          active: true,
        },
      ],
    };
  },
};
</script>
