<template>
  <div class="page-container">
    <Slider :slides="slides" :is-autoplay="true" class="slider-bg--2" />
    <b-container>
      <b-row class="row-container pm-container">
        <div class="col" md="6">
          <b-card no-body class="overflow-hidden card-pm" style="max-width: 576px">
            <div class="bg-primary-8 text-light">
              <b-row no-gutters align-items="center">
                <b-col lg="6">
                  <b-card-body title="Платіжні картки">
                    <ul class="pl-0">
                      <li>
                        <nuxt-link to="/private/cards/private-card" class="card-link text-light"
                          >Приватна картка</nuxt-link
                        >
                      </li>
                      <li>
                        <nuxt-link to="/private/cards/salary-card" class="card-link text-light"
                          >Зарплатна картка</nuxt-link
                        >
                      </li>
                      <li>
                        <nuxt-link to="/private/cards/universal-card" class="card-link text-light"
                          >Універсальна картка</nuxt-link
                        >
                      </li>
                    </ul>
                    <b-link variant="link" to="/private/cards" class="card-link text-light"
                      >Всі картки</b-link
                    >
                  </b-card-body>
                </b-col>
                <b-col lg="6" class="d-flex align-items-center">
                  <b-card-img
                    src="~/assets/images/private-main/1.png"
                    alt="Image"
                    class="rounded-0"
                    align="center"
                  ></b-card-img>
                </b-col>
              </b-row>
            </div>
          </b-card>
        </div>
        <div class="col" md="6">
          <b-card no-body class="overflow-hidden card-pm card-p2p" style="max-width: 576px">
            <b-row no-gutters align-items="center">
              <b-col lg="6">
                <b-card-body
                  class="d-flex flex-column justify-content-between"
                  title="Миттєвий переказ коштів з картки на картку"
                >
                  <b-link variant="link" to="/private/cards" class="card-link">Перейти</b-link>
                </b-card-body>
              </b-col>
              <b-col lg="6" class="d-flex align-items-end justify-content-center">
                <b-card-img
                  src="~/assets/images/private-main/p2p.png"
                  alt="Image"
                  class="rounded-0"
                  align="center"
                ></b-card-img>
              </b-col>
            </b-row>
          </b-card>
        </div>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">Актуальні кредитні пропозиції</div>
        <div class="offer-cards d-flex col">
          <nuxt-link
            v-for="credit in credits"
            :key="credit.id"
            :to="credit.link"
            class="card-offer"
          >
            <b-card
              overlay
              :title="credit.title"
              :img-src="require('~/assets/images/private-main/credits/' + credit.bgImgSrc)"
            >
              <div>
                <div class="service-block__detail">
                  <div class="service-block__title">{{ credit.smallTitle }}</div>
                  <div class="service-block__value">
                    {{ credit.content }}
                  </div>
                </div>
                <b-button class="card-link">
                  {{ credit.linkText }}
                </b-button>
              </div>
            </b-card>
          </nuxt-link>
        </div>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">Актуальні депозитні пропозиції</div>
        <div class="offer-cards d-flex col">
          <nuxt-link
            v-for="deposit in deposits"
            :key="deposit.id"
            class="card-offer"
            :to="deposit.link"
          >
            <b-card
              overlay
              :title="deposit.title"
              :img-src="require('~/assets/images/private-main/deposits/' + deposit.bgImgSrc)"
            >
              <div>
                <div class="service-block__detail">
                  <div class="service-block__title">{{ deposit.smallTitle }}</div>
                  <div class="service-block__value">
                    {{ deposit.content }}
                  </div>
                </div>
                <b-button class="card-link">
                  {{ deposit.linkText }}
                </b-button>
              </div>
            </b-card>
          </nuxt-link>
        </div>
      </b-row>
      <div class="row-container">
        <b-card class="map-preview-card" img-alt="oxi-map-preview">
          <b-card-title class="title title-m">Відділення та банкомати</b-card-title>
          <b-card-text>
            Дізнайтеся адресу та режим роботи найближчого відділення, яке обслуговує юридичних осіб.
          </b-card-text>
          <b-button variant="primary-7">
            <nuxt-link to="/branch-and-atm-network">Відділення та банкомати</nuxt-link></b-button
          >
        </b-card>
      </div>
    </b-container>
  </div>
</template>

<script>
import Vue from 'vue';
import Slider from '~/components/Slider/Slider.vue';

export default Vue.extend({
  components: {
    Slider,
  },
  async asyncData({ $prismic, error }) {
    const mainPrivate = await $prismic.api.getSingle('main-private');
    if (mainPrivate) {
      return {
        mainPrivate,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      downloadLinks: [
        {
          name: 'Інформація для Клієнта про відкриття поточного рахунку',
          file: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
      ],
      slides: [
        {
          title: 'Готівкові кредити без застави',
          description: 'Беззаставні кредити на власні потреби.',
          image: 'private_main/1.png',
          button: { label: 'Всі кредити', link: '/private/loans' },
          thumb: {
            description: 'Готівкові кредити без застави',
          },
        },
        {
          title: 'Споживчі кредити під заставу нерухомості',
          description:
            'Розміщення коштів на депозитних рахунках з різним терміном дії в національній валюті України, у доларах США чи євро',
          image: 'private_main/2.png',
          button: { label: 'Всі кредити', link: '/private/loans' },
          thumb: {
            description: 'Споживчі кредити під заставу нерухомості',
          },
        },
        {
          title: 'sportbank',
          description: 'Твій мобільний спортивний банк',
          image: 'private_main/4.png',
          button: { label: 'Детальніше', link: '/partners/sportbank' },
        },
      ],
      credits: [
        {
          title: 'Житло в кредит',
          bgImgSrc: '1.png',
          smallTitle: 'Ставка',
          content: 'від 13,5%',
          link: '/private/loans/mortgage',
          linkText: 'Детальніше',
        },
        {
          title: 'Споживчий кредит під заставу нерухомості',
          bgImgSrc: '2.png',
          smallTitle: 'Ставка',
          content: 'від 13,5%',
          link: '/private/loans/consumer-residential-mortgage-loan',
          linkText: 'Детальніше',
        },
        {
          title: 'Авто в кредит',
          bgImgSrc: '3.png',
          smallTitle: 'Ставка',
          content: 'від 13,5%',
          link: '/private/loans/car-loan',
          linkText: 'Детальніше',
        },
        {
          title: 'Споживчий кредит під заставу авто',
          bgImgSrc: '4.png',
          smallTitle: 'Ставка',
          content: 'від 13,5%',
          link: '/private/loans/consumer-car-secured-loan',
          linkText: 'Детальніше',
        },
      ],
      deposits: [
        {
          title: 'Депозит Стандартний',
          bgImgSrc: '1.png',
          smallTitle: 'Ставка',
          content: '9,25% у грн',
          link: '/private/deposits/standard',
          linkText: 'Детальніше',
        },
        {
          title: 'Депозит Стандартний+',
          bgImgSrc: '2.png',
          smallTitle: 'Ставка',
          content: '9,5% у грн',
          link: '/private/deposits/standard-plus',
          linkText: 'Детальніше',
        },
        {
          title: 'Депозит Доступний +',
          bgImgSrc: '3.png',
          smallTitle: 'Ставка',
          content: 'до 7% у грн',
          link: '/private/deposits/affordable-plus',
          linkText: 'Детальніше',
        },
      ],
    };
  },
  head() {
    return {
      title: this.mainPrivate.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.mainPrivate.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
});
</script>
