<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      <b-row class="row-container main-row">
        <h1 class="row-title title title-xl">Структура власності</h1>
        <div>
          <img src="~/assets/images/about-bank/ownership-structure.svg" />
        </div>
      </b-row>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'add_info_links'">
          <AddInfoLinks :slice="slice" />
        </template>
      </section>
    </b-container>
  </div>
</template>

<script>
import AddInfoLinks from '~/slices/AddInfoLinks';
export default {
  components: {
    AddInfoLinks,
  },
  async asyncData({ $prismic, error }) {
    const legalStructure = await $prismic.api.getSingle('legal-structure');
    if (legalStructure) {
      return {
        legalStructure,
        slices: legalStructure.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: 'Про банк',
          to: '/about-bank',
        },
        {
          text: 'Структура власності',
          active: true,
        },
      ],
    };
  },
  head() {
    return {
      title: this.legalStructure.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.legalStructure.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
