<template>
  <div class="page-container licenses">
    <b-container>
      <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      <b-row class="row-container main-row">
        <h1 class="row-title title title-xl">Ліцензії</h1>
        <b-col md="12">
          <b-card class="licenses-block card-pad card-row">
            <b-row>
              <b-col md="6" sm="12">
                <b-card-text>
                  ПАТ «ОКСІ БАНК» має банківську ліцензію № 247 від 15.11.2011 , яку видано
                  Національним банком України. Цей документ дає право надавати різні види
                  банківських послуг в межах чинного законодавства.
                </b-card-text>
              </b-col>
              <b-col md="6" sm="12">
                <ZoomImg
                  class="image sertificate"
                  src="/uploads/sertificates/licenses/oksi-bank-nbu-license.png"
                  >Ліцензія НБУ №247 від 15.11.2011</ZoomImg
                >
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import ZoomImg from '~/components/ZoomImg';
export default {
  async asyncData({ $prismic, error }) {
    const licenses = await $prismic.api.getSingle('licenses');
    if (licenses) {
      return {
        licenses,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      components: {
        ZoomImg,
      },
      breadcrumbs: [
        {
          text: 'Про банк',
          to: '/about-bank',
        },
        {
          text: 'Ліцензії',
          active: true,
        },
      ],
    };
  },
  head() {
    return {
      title: this.licenses.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.licenses.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
