<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <b-row class="row-container main-row">
        <div class="row-title title title-xl">Документи для клієнтів</div>
        <b-col md="12">
          <div class="main-row-links">
            <nuxt-link class="card-link main-row__link" to="#mandatory-reporting"
              >Договори для приватних особ</nuxt-link
            >
            <nuxt-link class="card-link main-row__link" to="#financial-statements"
              >Договори для бізнес-клієнтів</nuxt-link
            >
            <nuxt-link class="card-link main-row__link" to="#issue-reporting"
              >Тарифи для приватних особ</nuxt-link
            >
            <nuxt-link class="card-link main-row__link" to="#reimbursement-fgvo"
              >Тарифи для бізнес-клієнтів</nuxt-link
            >
            <nuxt-link class="card-link main-row__link" to="#special-info">sportBank</nuxt-link>
            <nuxt-link class="card-link main-row__link" to="#reimbursement-fgvo"
              >Правилами користування електронним платіжним засобом</nuxt-link
            >
            <nuxt-link class="card-link main-row__link" to="#special-info">Акції</nuxt-link>
            <nuxt-link class="card-link main-row__link" to="#special-info"
              >Додаткова інформація</nuxt-link
            >
          </div>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">Договори для приватних особ</div>
        <b-col md="12">
          <LinksDownload class="fd-column" :download-links="privateContracts"></LinksDownload>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">Договори для бізнес-клієнтів</div>
        <b-col md="12">
          <LinksDownload class="fd-column" :download-links="businessContracts"></LinksDownload>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">Тарифи для приватних особ</div>
        <div class="row-title title title-s">Кредити</div>
        <b-col md="12">
          <DocsTabs :tabs="privateCreditsTariffs"></DocsTabs>
        </b-col>
        <div class="row-title title title-s">Депозити</div>
        <b-col md="12">
          <DocsTabs :tabs="privateDepositsTariffs"></DocsTabs>
        </b-col>
        <div class="row-title title title-s">Картки</div>
        <b-col md="12">
          <LinksDownload :download-links="privateCardsTariffs"></LinksDownload>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">Тарифи для бізнес-клієнтів</div>
        <div class="row-title title title-s">Кредити</div>
        <b-col md="12">
          <DocsTabs :tabs="businessCreditsTariffs"></DocsTabs>
        </b-col>
        <div class="row-title title title-s">Депозити</div>
        <b-col md="12">
          <DocsTabs :tabs="businessDepositsTariffs"></DocsTabs>
        </b-col>
        <div class="row-title title title-s">Картки</div>
        <b-col md="12">
          <LinksDownload :download-links="businessCardsTariffs"></LinksDownload>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">sportBank</div>
        <b-col md="12">
          <LinksDownload :download-links="sportbank"></LinksDownload>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">
          Правила користування електронним платіжним засобом
        </div>
        <b-col md="12">
          <LinksDownload :download-links="rules"></LinksDownload>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">Акції</div>
        <b-col md="12">
          <DocsTabs :tabs="promotions"></DocsTabs>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">Реквізити банку</div>
        <b-col md="12">
          <LinksDownload :download-links="bankDetails"></LinksDownload>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">Додаткова інформація</div>
        <b-col md="12">
          <LinksDownload :download-links="otherInfo"></LinksDownload>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import DocsTabs from '~/components/DocsTabs';
import LinksDownload from '~/components/Cards/LinksDownload.vue';
export default {
  components: {
    LinksDownload,
    DocsTabs,
  },
  data() {
    return {
      items: [
        {
          text: 'Про банк',
          to: '/about-bank',
        },
        {
          text: 'Документи для клієнтів',
          active: true,
        },
      ],
      privateContracts: [
        {
          name: 'Договір Житло в кредит',
          file: '',
        },
        {
          name: 'Договір Споживчий кредит під заставу нерухомості',
          file: '',
        },
        {
          name: 'Договір Авто в кредит / Споживчий кредит під заставу авто',
          file: '',
        },
        {
          name: 'Договір Кредит "Готівочка"',
          file: '',
        },
        {
          name:
            'ЗАЯВА-АНКЕТА на приєднання до Публічної пропозиції на укладення Договору про надання банківських, фінансових та інших послуг',
          file: '',
        },
        {
          name:
            'Публічна пропозиція (оферта) на укладення Договору про надання банківських, фінансових та інших послуг з 18.05.2021',
          file: '',
        },
        {
          name: 'ДОГОВІР банківського рахунку (поточний рахунок фізичної особи)',
          file: '',
        },
        {
          name:
            'ДОГОВІР про відкриття банківського рахунку та обслуговування електронного платіжного засобу (приватна картка, картка під депозит)',
          file: '',
        },
        {
          name:
            'ДОГОВІР про відкриття банківського рахунку та обслуговування електронного платіжного засобу (для виплати з/п)',
          file: '',
        },
        {
          name:
            'ДЕПОЗИТНИЙ ДОГОВІР на відкриття та обслуговування строкового вкладного рахунку "Стандартний"',
          file: '',
        },
        {
          name:
            'ДЕПОЗИТНИЙ ДОГОВІР на відкриття та обслуговування строкового вкладного рахунку "Стандартний+"',
          file: '',
        },
        {
          name: 'ДОГОВІР банківського рахунку "Доступний+"',
          file: '',
        },
      ],
      businessContracts: [
        {
          name: 'ДОГОВІР банківського рахунку (для юридичної особи)',
          file: '',
        },
        {
          name: 'ДОГОВІР банківського рахунку (для ФОП)',
          file: '',
        },
        {
          name:
            'ДОГОВІР на банківське обслуговування з використаннямпрограмно-технічного комплексу "Клієнт-Банк"',
          file: '',
        },
        {
          name:
            'ДОГОВІР про відкриття банківського рахунку та обслуговування електронного платіжного засобу (для Юр.осіб)',
          file: '',
        },
        {
          name:
            'ДОГОВІР про відкриття банківського рахунку та обслуговування електронного платіжного засобу (для ФОП)',
          file: '',
        },
        {
          name:
            'ГЕНЕРАЛЬНИЙ ДОГОВІР "Депозитна лінія" банківського строкового вкладу юридичної особи',
          file: '',
        },
        {
          name:
            'ДОГОВІР "Бізнес" банківського строкового вкладу юридичної особи (з щомісячною виплатою процентів)',
          file: '',
        },
        {
          name:
            'ДОГОВІР "Бізнес+" банківського строкового вкладу юридичної особи (з виплатою процентів в кінці строку)',
          file: '',
        },
        {
          name:
            'ДОГОВІР банківського вкладу (депозиту) юридичної особи "Зростаючий дохід" (з щомісячною виплатою процентів)',
          file: '',
        },
        {
          name: 'ДОДАТКОВИЙ ДОГОВІР до договору банківського вкладу (депозиту) юридичної особи',
          file: '',
        },
      ],
      privateCreditsTariffs: [
        {
          year: 'Житло в кредит',
          blocks: [
            {
              title: '',
              links: [
                {
                  title:
                    'Істотні характеристики послуги з надання споживчого кредиту: Житловий іпотечний кредит',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/info_ipoteka.docx`,
                },
                {
                  title: 'Калькулятор для розрахунку повної суми кредиту',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/calculation_zastava.xlsm`,
                },
                {
                  title: 'Договір',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/dogovir_ipoteka.doc`,
                },
                {
                  title: 'Розрахунок сукупної вартості Кредиту і реальної процентної ставки',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/rozrahunok_vartosti_ipoteka.docx`,
                },
                {
                  title: 'Попередження відповідно до Постанови НБУ',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/warning_ipoteka.docx`,
                },
              ],
            },
          ],
        },
        {
          year: 'Споживчий кредит під заставу нерухомості',
          blocks: [
            {
              title: '',
              links: [
                {
                  title:
                    'Істотні характеристики послуги з надання споживчого кредиту: Споживчий іпотечний кредит',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/info_ipoteka.docx`,
                },
                {
                  title: 'Калькулятор для розрахунку повної суми кредиту',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/calculation_zastava.xlsm`,
                },
                {
                  title: 'Договір',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/dogovir_ipoteka.doc`,
                },
                {
                  title: 'Розрахунок сукупної вартості Кредиту і реальної процентної ставки',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/rozrahunok_vartosti_ipoteka.docx`,
                },
                {
                  title: 'Попередження відповідно до Постанови НБУ',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/warning_ipoteka.docx`,
                },
              ],
            },
          ],
        },
      ],
      businessCreditsTariffs: [
        {
          year: 'Овердрафт',
        },
        {
          year: 'Беззаставний овердрафт',
        },
        {
          year: 'Кредит на придбання основних засобів',
        },
        {
          year: 'Кредит на поповнення обігових коштів',
        },
        {
          year: 'Кредит під депозит',
        },
      ],
      businessDepositsTariffs: [
        {
          year: 'Депозитна лінія',
          blocks: [
            {
              title: '',
              links: [
                {
                  title: 'Детальніше...',
                },
              ],
            },
          ],
        },
        {
          year: 'Бізнес',
          blocks: [
            {
              title: '',
              links: [
                {
                  title: 'Деталі депозитів...',
                },
              ],
            },
          ],
        },
        {
          year: 'Бізнес +',
          blocks: [
            {
              title: '',
              links: [
                {
                  title: 'Деталі депозитів...',
                },
              ],
            },
          ],
        },
        {
          year: 'Зростаючий  дохід',
          blocks: [
            {
              title: '',
              links: [
                {
                  title: 'Детальніше...',
                },
              ],
            },
          ],
        },
      ],
      privateDepositsTariffs: [
        {
          year: 'Стандартний',
          blocks: [
            {
              title: '',
              links: [
                {
                  title:
                    'Інформація про істотні характеристики послуги банківського вкладу "Стандартний"',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/info_ipoteka.docx`,
                },
                {
                  title: 'Вкладний (депозитний) калькулятор "Стандартний"',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/calculation_zastava.xlsm`,
                },
                {
                  title: 'Детальніше...',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/dogovir_ipoteka.doc`,
                },
              ],
            },
          ],
        },
        {
          year: 'Стандартний +',
          blocks: [
            {
              title: '',
              links: [
                {
                  title:
                    'Інформація про істотні характеристики послуги банківського вкладу "Стандартний +"',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/info_ipoteka.docx`,
                },
                {
                  title: 'Вкладний (депозитний) калькулятор "Стандартний +"',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/calculation_zastava.xlsm`,
                },
                {
                  title: 'Детальніше...',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/dogovir_ipoteka.doc`,
                },
              ],
            },
          ],
        },
        {
          year: 'Доступний +',
          blocks: [
            {
              title: '',
              links: [
                {
                  title:
                    'Інформація про істотні характеристики послуги банківського вкладу "Доступний +"',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/info_ipoteka.docx`,
                },
                {
                  title: 'Вкладний (депозитний) калькулятор "Доступний +"',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/calculation_zastava.xlsm`,
                },
                {
                  title: 'Детальніше...',
                  file: `${this.$config.storageDomain}/private/loans/mortgage/dogovir_ipoteka.doc`,
                },
              ],
            },
          ],
        },
      ],
      privateCardsTariffs: [
        {
          name:
            'Тарифи на обслуговування фізичних осіб за рахунками з використанням банківських платіжних карток в рамках пакетів послуг',
          file: '',
        },
        {
          name:
            'Тарифи на обслуговування суб`єктів господарювання за рахунками з використанням банкіських платіжних карток',
          file: '',
        },
        {
          name: 'Тарифи продукту sportbank',
          file: '',
        },
      ],
      businessCardsTariffs: [
        {
          name: 'Публічна оферта',
          file: '',
        },
      ],
      sportbank: [
        {
          name:
            'Інформація про істотні характеристики послуги з надання споживчого кредиту по продукту «Кредитна картка Sportbank»',
          file: 'Заява-анкета',
        },
        {
          name: 'Заява-анкета',
          file: '',
        },
        {
          name: 'Правила безпеки використання платіжної картки',
          file: '',
        },
        {
          name: 'Тарифи продукту sportbank',
          file: '',
        },
      ],
      rules: [
        {
          name: 'Правила користування електронним платіжним засобом',
          file: '',
        },
      ],
      promotions: [
        {
          year: '2021',
          blocks: [
            {
              title: '',
              links: [
                {
                  title:
                    'Офіційні умови акції "Подарунок за транзакції" з 01.05.2021 по 31.05.2021',
                  file: '',
                },
                {
                  title:
                    'Офіційні умови акції "Безкоштовні СЕП-перекази в межах sportbank" з 26.03.2021 по 26.06.2021',
                  file: '',
                },
                {
                  title: 'Офіційні умови акції "Фітнес в подарунок" з 01.03.2021 по 31.01.2022',
                  file: '',
                },
                {
                  title: 'Офіційні умови акції "Готівка без комісії" з 01.12.2020 по 31.01.2021',
                  file: '',
                },
              ],
            },
          ],
        },
        {
          year: '2020',
          blocks: [
            {
              title: '',
              links: [
                {
                  title: 'Офіційні умови акції "Безкоштовна готівка" з 09.11.2020 по 08.12.2020',
                  file: '',
                },
                {
                  title: 'Офіційні умови акції "Додатковий кешбек" з 01.11.2020 по 30.11.2020',
                  file: '',
                },
                {
                  title: 'Офіційні умови акції "Додатковий кешбек" з 01.10.2020 по 31.10.2020',
                  file: '',
                },
                {
                  title: 'Офіційні умови акції "Додатковий кешбек" з 01.09.2020 по 30.09.2020',
                  file: '',
                },
                {
                  title: 'Офіційні умови акції "Додатковий кешбек" з 01.07.2020 по 31.08.2020',
                  file: '',
                },
                {
                  title: 'Офіційні умови акції "Додатковий кешбек" з 01.06.2020 по 30.06.2020',
                  file: '',
                },
                {
                  title: 'Офіційні умови акції "Додатковий кешбек" з 17.03.2020 по 31.05.2020',
                  file: '',
                },
              ],
            },
          ],
        },
      ],
      bankDetails: [
        {
          name: 'Стандартні платіжні інструкції банку',
          file: '',
        },
      ],
      otherInfo: [
        {
          name: 'Повідомлення про включення інформації до Кредитного реєстру',
          file: '',
        },
        {
          name: 'Правила користування електронним платіжним засобом',
          file: '',
        },
        {
          name: 'Попередження відповідно до Постанови НБУ',
          file: '',
        },
      ],
    };
  },
};
</script>
