<template>
  <section>
    <a v-if="slice.primary.blockAnchor" :id="$prismic.asText(slice.primary.blockAnchor)"></a>
    <b-row class="row-container">
      <h4 class="row-title title title-l">{{ $prismic.asText(slice.primary.blockTitle) }}</h4>
      <b-col md="12">
        <b-card
          v-for="(item, i) in slice.items"
          :key="i"
          img-right
          :img-src="item.bigImg.url"
          class="integration-card"
        >
          <b-card-text>
            <prismic-rich-text :field="item.text" />
            <div class="integration-variants">
              <nuxt-link to="#">
                <img :src="item.linkImg.url" />
                <prismic-rich-text class="title title-s" :field="item.linkLabel" />
              </nuxt-link>
              <nuxt-link to="#">
                <img :src="item.linkImg2.url" />
                <prismic-rich-text class="title title-s" :field="item.linkLabel2" />
              </nuxt-link>
            </div>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </section>
</template>

<script>
export default {
  name: 'TextImgLink',
  props: {
    slice: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
};
</script>
