<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/private-deposits/3.png')"
        :main-screen="mainScreen"
      ></MainScreen>
      <a id="conditions"></a>
      <div class="row-title title title-l">Умови отримання депозиту</div>
      <b-table-simple responsive class="credits-table credits-table--full pd-table">
        <b-tr class="big">
          <b-td class="title-big">Ставка</b-td>
          <b-td class="title-m" align="center">UAH</b-td>
          <b-td class="title-m" align="center">USD</b-td>
          <b-td class="title-m" align="center">EUR</b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>до 499</p></b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>0%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>0%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>0%</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>від 500</p></b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>5,0%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>0,1%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>0,1%</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>від 1 000 000, 01</p></b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>7,0%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>0,1%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>0,1%</p>
          </b-td>
        </b-tr>
        <b-tr class="big-2">
          <b-td class="title-big" colspan="4">Додаткова інформація</b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>Мінімальна сума вкладу</p></b-td>
          <b-td align="center" class="credits-table__row__right" colspan="3">
            <p>будь яка</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>Поповнення</p></b-td>
          <b-td align="center" class="credits-table__row__right" colspan="3">
            <p>допускається</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>Виплата відсотків</p></b-td>
          <b-td align="center" class="credits-table__row__right" colspan="3">
            <p>щомісячна</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>Часткове зняття</p></b-td>
          <b-td align="center" class="credits-table__row__right" colspan="3">
            <p>допускається</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>Автоматичне продовження</p></b-td>
          <b-td align="center" class="credits-table__row__right" colspan="3">
            <p>ні</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"
            ><p>Умови дострокового розірвання</p></b-td
          >
          <b-td align="center" class="credits-table__row__right" colspan="3">
            <p>без перерахунку відсотків</p>
          </b-td>
        </b-tr>
      </b-table-simple>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'add_info_links'">
          <AddInfoLinks :slice="slice" />
        </template>
      </section>
      <a id="contact-form"></a>
      <Form1 :form-data="form"></Form1>
      <div class="simple-bottom-text">
        АТ «ОКСІ БАНК» — постійний учасник Фонду гарантування вкладів фізичних осіб з 2008 року.
        <nuxt-link to="/deposit-guarantee-fund">Детальніше</nuxt-link>
      </div>
    </b-container>
  </div>
</template>

<script>
import MainScreen from '~/components/MainScreen.vue';
import AddInfoLinks from '~/slices/AddInfoLinks';
import Form1 from '~/components/Forms/Form1';
export default {
  components: {
    MainScreen,
    AddInfoLinks,
    Form1,
  },
  async asyncData({ $prismic, error }) {
    const affordablePlus = await $prismic.api.getByUID('private-deposit', 'affordable-plus');
    if (affordablePlus) {
      return {
        affordablePlus,
        slices: affordablePlus.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Приватним особам',
          to: '/',
        },
        {
          text: 'Депозити',
          to: '/private/deposits',
        },
        {
          text: 'Доступний +',
          active: true,
        },
      ],
      mainScreen: {
        type: 'gray-2',
        title: 'Доступний +',
        description: 'Безстроковий депозит зі щомісячною капіталізацією відсотків',
        conditions: {
          first: {
            title: 'Ставка',
            desc: 'до 7% річних у грн',
          },
          second: {
            title: 'Строк',
            desc: 'необмежений',
          },
        },
        links: [
          {
            to: '#conditions',
            name: 'Умови депозиту',
          },
          {
            to: '#contact-form',
            name: 'Заявка на депозит',
          },
        ],
      },
      form: {
        title: 'Онлайн-заявка на депозит',
        place:
          'Знайдіть найближче до вас відділення, де наші менеджери допоможуть вам з оформленням депозиту. ',
        subject: '[OXI-site] Private - Заявка на депозит',
      },
      downloadLinks: [
        {
          name:
            'Депозитний договір на відкриття та обслуговування строкового вкладного рахунку «Доступний +»',
          file: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
        {
          name: 'Істотні характеристики послуги банківського вкладу «Доступний +»',
          file: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
      ],
      depositCalc: [
        {
          name: 'Депозитний калькулятор "Доступний +"',
          file: '/Depozyt_Calc_Dostupny_Plus.xlsx',
        },
      ],
    };
  },
  head() {
    return {
      title: this.affordablePlus.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.affordablePlus.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
