<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <h2 class="page-title">Депозити для приватних особ</h2>
      <div v-for="value in object" :key="value.id" class="service-blocks">
        <b-card no-body class="overflow-hidden service-block">
          <b-link :to="value.link" class="service-block__link">
            <div class="d-md-flex">
              <b-card-img
                :src="require('~/assets/images/service-blocks/private/deposits/' + value.img)"
                alt="Image"
                class="rounded-0"
              ></b-card-img>
              <b-card-body :title="value.title">
                <div
                  class="service-block__details d-flex justify-content-md-between justify-content-xs-center"
                >
                  <div v-for="(detail, i) in value.details" :key="i" class="service-block__detail">
                    <div class="service-block__title">{{ detail.smallTitle }}</div>
                    <div class="service-block__badges">
                      <b-badge v-for="(badge, id) in detail.badges" :key="id" variant="light">{{
                        badge.name
                      }}</b-badge>
                      <div class="service-block__value">
                        {{ detail.content }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="service-block__text">
                  {{ value.text }}
                </div>
                <div class="btns-ct">
                  <b-button class="btn-gray"
                    ><b-link :to="`${value.link}/#contact-form`">Залишити заявку</b-link></b-button
                  >
                  <b-link :to="value.link" class="link">Детальніше</b-link>
                </div>
              </b-card-body>
            </div>
          </b-link>
        </b-card>
      </div>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          text: 'Приватним особам',
          to: '/',
        },
        {
          text: 'Депозити',
          active: true,
        },
      ],
      object: [
        {
          link: '/private/deposits/standard',
          img: '1.png',
          title: 'Стандартний',
          details: [
            {
              smallTitle: 'Валюта',
              badges: [
                {
                  name: '₴',
                },
                {
                  name: '$',
                },
                {
                  name: '€',
                },
              ],
            },
            {
              smallTitle: 'Ставка',
              content: '9,25% річних у грн',
            },
            {
              smallTitle: 'Строк',
              content: 'до 13 місяців',
            },
          ],
        },
        {
          link: '/private/deposits/standard-plus',
          img: '2.png',
          title: 'Стандартний +',
          details: [
            {
              smallTitle: 'Валюта',
              badges: [
                {
                  name: '₴',
                },
                {
                  name: '$',
                },
                {
                  name: '€',
                },
              ],
            },
            {
              smallTitle: 'Ставка',
              content: '9,5% річних у грн',
            },
            {
              smallTitle: 'Строк',
              content: 'до 13 місяців',
            },
          ],
        },
        {
          link: '/private/deposits/affordable-plus',
          img: '3.png',
          title: 'Доступний +',
          details: [
            {
              smallTitle: 'Ставка',
              content: 'до 7% річних у грн',
            },
            {
              smallTitle: 'Строк',
              content: 'необмежений',
            },
          ],
        },
      ],
    };
  },
};
</script>
