<template>
  <div class="page-container service-page">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/private-deposits/2.png')"
        :main-screen="mainScreen"
        class="rate"
      ></MainScreen>
      <a id="conditions"></a>
      <div class="row-title title title-l">Умови отримання депозиту</div>
      <b-table-simple responsive class="credits-table credits-table--full pd-table">
        <b-tr class="big">
          <b-td class="title-big">Строк</b-td>
          <b-td class="title-m" align="center">UAH</b-td>
          <b-td class="title-m" align="center" colspan="2">USD</b-td>
          <b-td class="title-m" align="center">EUR</b-td>
        </b-tr>
        <b-tr class="credits-table__row big">
          <b-td sr-only class="py-0"></b-td>
          <b-td sr-only class="py-0"></b-td>
          <b-td align="center" class="credits-table__row__right py-0">
            <p><span>до $20 000 </span></p>
          </b-td>
          <b-td align="center" class="credits-table__row__right py-0">
            <p><span>від $20 000,01</span></p>
          </b-td>
          <b-td sr-only></b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left pt-0"><p>3 місяці</p></b-td>
          <b-td align="center" class="credits-table__row__right pt-0">
            <p>8,50%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right pt-0">
            <p>-</p>
          </b-td>

          <b-td align="center" class="credits-table__row__right pt-0">
            <p>-</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right pt-0">
            <p>-</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>6 місяців</p></b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>9,50%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>2,25%</p>
          </b-td>

          <b-td align="center" class="credits-table__row__right">
            <p>3,25%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>2,50%</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>9 місяців</p></b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>9,25%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>2,50%</p>
          </b-td>

          <b-td align="center" class="credits-table__row__right">
            <p>3,50%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>2,75%</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>13 місяців</p></b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>9,00%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>2,75%</p>
          </b-td>

          <b-td align="center" class="credits-table__row__right">
            <p>3,75%</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>3,00%</p>
          </b-td>
        </b-tr>
        <b-tr class="big-2">
          <b-td class="title-big" colspan="5">Додаткова інформація</b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>Мінімальна сума вкладу</p></b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>1000</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>100</p>
          </b-td>

          <b-td align="center" class="credits-table__row__right">
            <p>100</p>
          </b-td>
          <b-td align="center" class="credits-table__row__right">
            <p>100</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>Мінімальна сума поповнення</p></b-td>
          <b-td align="center" class="credits-table__row__right" colspan="4">
            <p>100</p>
            <p><span>Допускається у першій половині строку</span></p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>Виплата відсотків</p></b-td>
          <b-td align="center" class="credits-table__row__right" colspan="4">
            <p>в кінці терміну</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>Часткове зняття</p></b-td>
          <b-td align="center" class="credits-table__row__right" colspan="4">
            <p>не передбачено</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"><p>Автоматичне продовження</p></b-td>
          <b-td align="center" class="credits-table__row__right" colspan="4">
            <p>ні</p>
          </b-td>
        </b-tr>
        <b-tr class="credits-table__row">
          <b-td class="row-title credits-table__row__left"
            ><p>Умови дострокового розірвання</p></b-td
          >
          <b-td class="credits-table__row__right complex" colspan="4">
            <p>
              У разі дострокового розірвання договору банк виплачує таку частину від діючої
              відсоткової ставки:
            </p>
            <p><span> до 1 місяця —</span> 1%</p>
            <p><span> від 2 до 6 місяців (включно) —</span> 50%</p>
            <p><span> від 7 місяців до закінчення терміну договору —</span> 75%</p>
          </b-td>
        </b-tr>
      </b-table-simple>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'add_info_links'">
          <AddInfoLinks :slice="slice" />
        </template>
      </section>
      <a id="contact-form"></a>
      <Form1 :form-data="form"></Form1>
      <div class="simple-bottom-text">
        АТ «ОКСІ БАНК» — постійний учасник Фонду гарантування вкладів фізичних осіб з 2008 року.
        <nuxt-link to="/deposit-guarantee-fund">Детальніше</nuxt-link>
      </div>
    </b-container>
  </div>
</template>

<script>
import MainScreen from '~/components/MainScreen.vue';
import AddInfoLinks from '~/slices/AddInfoLinks';
import Form1 from '~/components/Forms/Form1';
export default {
  components: {
    MainScreen,
    AddInfoLinks,
    Form1,
  },
  async asyncData({ $prismic, error }) {
    const standartPlus = await $prismic.api.getByUID('private-deposit', 'standart-plus');
    if (standartPlus) {
      return {
        standartPlus,
        slices: standartPlus.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Приватним особам',
          href: '/',
        },
        {
          text: 'Депозити',
          href: '/private/deposits',
        },
        {
          text: 'Стандартний +',
          active: true,
        },
      ],
      mainScreen: {
        type: 'gray-2',
        title: 'Стандартний +',
        description: 'Депозит із виплатою відсотків в кінці терміну',
        subdescription: '*до 9,5% у гривні, до 3,5% у валюті',
        conditions: {
          first: {
            title: 'Ставка',
            desc: 'до 9,5% річних*',
          },
          second: {
            title: 'Строк',
            desc: 'від 3 до 13 місяців',
          },
        },
        links: [
          {
            to: '#conditions',
            name: 'Умови депозиту',
          },
          {
            to: '#contact-form',
            name: 'Заявка на депозит',
          },
        ],
      },
      form: {
        title: 'Онлайн-заявка на депозит',
        place:
          'Знайдіть найближче до вас відділення, де наші менеджери допоможуть вам з оформленням депозиту. ',
        subject: '[OXI-site] Private - Заявка на депозит',
      },
      downloadLinks: [
        {
          name:
            'Депозитний договір на відкриття та обслуговування строкового вкладного рахунку «Стандартний +»',
          file: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
        {
          name: 'Істотні характеристики послуги банківського вкладу «Стандартний +»',
          file: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
      ],
      depositCalc: [
        {
          name: 'Депозитний калькулятор "Стандартний +"',
          file: '/Depozyt_Calc_Standart_Plus.xlsx',
        },
      ],
    };
  },
  head() {
    return {
      title: this.standartPlus.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.standartPlus.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
