<template>
  <div class="page-container service-page">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/business-credits/3.png')"
        :main-screen="mainScreen"
        class="main-screen--credits"
      ></MainScreen>

      <Card5 :cards="cards"></Card5>
      <a id="conditions"></a>
      <div class="row-title title title-l">Умови надання кредиту</div>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'doc_links'">
          <TableCredits :slice="slice" :table="table"></TableCredits>
        </template>
      </section>
      <a id="requirments"></a>
      <div class="row-title title title-l">Вимоги до позичальника</div>
      <Card6 :simple-cards="simpleCards"></Card6>
      <a id="contact-form"></a>
      <Form1 :form-data="form"></Form1>
    </b-container>
  </div>
</template>

<script>
import MainScreen from '~/components/MainScreen.vue';
import Card5 from '~/components/Cards/Card5.vue';
import Card6 from '~/components/Cards/Card6.vue';
import Form1 from '~/components/Forms/Form1';
export default {
  components: {
    MainScreen,
    Card5,
    Card6,
    Form1,
  },
  async asyncData({ $prismic, error }) {
    const fixedAssets = await $prismic.api.getByUID(
      'business-loan',
      'fixed-assets-acquisition-loan'
    );
    if (fixedAssets) {
      return {
        fixedAssets,
        slices: fixedAssets.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Корпоративним клієнтам',
          to: '/business',
        },
        {
          text: 'Кредити',
          to: '/business/loans',
        },
        {
          text: 'Кредит на придбання основних засобів',
          active: true,
        },
      ],
      mainScreen: {
        type: 'dark',
        title: 'Кредит на придбання основних засобів',
        description:
          'Кредит на придбання транспортних засобів для комерційного використання, сільськогосподарської техніки, обладнання/устаткування, нерухомого майна комерційного призначення.',
        subdescription: '*17% річних у гривні; від 8% річних в іноземній валюті.',
        conditions: {
          first: {
            title: 'Ставка',
            desc: 'від 8% річних*',
          },
          second: {
            title: 'Строк',
            desc: 'до 7 років',
          },
        },
        links: [
          {
            to: '#conditions',
            name: 'Умови кредитування',
          },
          {
            to: '#requirments',
            name: 'Вимоги до позичальника',
          },
          {
            to: '#contact-form',
            name: 'Заявка на кредит',
          },
        ],
      },
      form: {
        title: 'Онлайн-заявка на кредит',
        place:
          'Знайдіть найближче до вас відділення, де наші менеджери допоможуть вам з оформленням кредиту. ',
        subject: '[OXI-site] Business - Заявка на кредит',
      },
      cards: [
        {
          title: 'На що видаємо кредит',
          desc:
            'Придбання транспортних засобів, с/г техніки, обладнання/устаткування, комерційної нерухомості',
          imgSrc: '1.png',
        },
        {
          title: 'Як видаємо кредит',
          desc: 'Одноразово або траншами',
          imgSrc: '2.png',
        },
        {
          title: 'Як погасити кредит',
          desc: 'Щомісячно рівними частинами з можливим відтермінуванням до 3-х місяців',
          imgSrc: '3.png',
        },
      ],
      table: {
        tableRows: [
          {
            leftValue: 'Строк кредитування',
            texts: [
              {
                title: 'від 6 місяців до 7 років',
              },
            ],
          },
          {
            leftValue: 'Валюта',
            texts: [
              {
                title: 'гривня, долар США , євро',
              },
            ],
          },
          {
            leftValue: 'Максимальний розмір кредиту',
            texts: [
              {
                title: 'до 80% від вартості об’єкта кредитування',
              },
            ],
            rightDescValue:
              'Максимальний розмір фінансування залежить від об‘єкта кредитування та забезпечення за кредитом.',
          },
          {
            leftValue: 'Сума',
            texts: [
              {
                title: 'min 100 000 грн',
              },
              {
                title: 'max 10 000 000 грн',
              },
            ],
            rightDescValue: '(в еквіваленті валюти кредиту)',
          },
          {
            leftValue: 'Ставка',
            texts: [
              {
                title: 'протягом перших 3-х років кредитування:',
              },
              {
                title: '- 17,0% річних у гривні;',
              },
              {
                title: '- 9,0% річних у доларах США;',
              },
              {
                title: '- 8,0% річних у євро.',
              },
              {
                title: 'Починаючи з 4-го року кредитування —  плаваюча ставка UIRD 3M* + 9,00%.',
              },
            ],
            rightDescValue:
              '*UIRD (Ukrainian Index of Retail Deposit Rates) – український індекс ставок за депозитами фізичних осіб',
          },
          {
            leftValue: 'Забезпечення',
            texts: [
              {
                title: '- основні засоби, що будуть придбані за кредитні кошти;',
              },
              {
                title: '- порука власника бізнесу.',
              },
            ],
            rightDescValue: 'Заставне майно обов’язково має бути застраховане.',
          },
          {
            leftValue: 'Комісії',
            texts: [
              {
                title: 'щомісячна комісія — 0,0%',
              },
              {
                title: 'одноразово — 1,0% від суми кредиту.',
              },
            ],
          },
        ],
        addInfo: {
          title: 'Додаткова інформація',
          link: 'Документ з детальними умовами',
          source: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
      },
      simpleCards: [
        {
          title: 'Юридична особа або фізична особа-підприємець — резидент України.',
        },
        {
          title: 'Тривалість ведення господарської (професійної) діяльності — не менше 12 місяців.',
        },
        {
          title: 'Позитивна кредитна історія.',
        },
      ],
    };
  },
  head() {
    return {
      title: this.fixedAssets.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.fixedAssets.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
