<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <h2 class="page-title">Кредити для корпоративних клієнтів</h2>
      <div v-for="value in object" :key="value.id" class="service-blocks">
        <b-card no-body class="overflow-hidden service-block">
          <b-link :to="value.link" class="service-block__link">
            <div class="d-md-flex">
              <b-card-img
                :src="require('~/assets/images/service-blocks/' + value.img)"
                alt="Image"
                class="rounded-0"
              ></b-card-img>
              <b-card-body :title="value.title">
                <div class="service-block__details d-flex justify-content-md-between">
                  <div class="service-block__detail">
                    <div class="service-block__title">Валюта</div>
                    <div class="service-block__badges">
                      <b-badge v-for="(badge, i) in value.badges" :key="i" variant="light">{{
                        badge.name
                      }}</b-badge>
                    </div>
                  </div>
                  <div class="service-block__detail">
                    <div class="service-block__title">Ставка</div>
                    <div class="service-block__value">
                      {{ value.percent }}
                    </div>
                  </div>
                  <div class="service-block__detail">
                    <div class="service-block__title">Строк</div>
                    <div class="service-block__value">
                      {{ value.period }}
                    </div>
                  </div>
                </div>
                <div class="service-block__text">
                  {{ value.text }}
                </div>
                <div class="btns-ct">
                  <b-button class="btn-gray"
                    ><b-link :to="`${value.link}#contact-form`">Залишити заявку</b-link></b-button
                  >
                  <b-link :to="value.link" class="link">Детальніше</b-link>
                </div>
              </b-card-body>
            </div>
          </b-link>
        </b-card>
      </div>

      <LinksDownload
        :download-links="downloadLinks"
        class="card-links-download__gray"
      ></LinksDownload>
    </b-container>
  </div>
</template>

<script>
import LinksDownload from '~/components/Cards/LinksDownload.vue';
export default {
  components: {
    LinksDownload,
  },
  data() {
    return {
      downloadLinks: [
        {
          name: 'Повідомлення про включення інформації до Кредитного реєстру',
          file: 'https://drive.google.com/file/d/1g_IVKOx-sUJ3qrT4gVceXxs6SmEqtiIq/view',
        },
      ],
      items: [
        {
          text: 'Корпоративним клієнтам',
          to: '/business/',
        },
        {
          text: 'Кредити',
          active: true,
        },
      ],
      object: [
        {
          link: '/business/loans/overdraft',
          img: '1.jpg',
          title: 'Овердрафт',
          percent: '18% річних',
          period: 'до 12 місяців',
          badges: [
            {
              name: '₴',
            },
          ],
        },
        {
          link: '/business/loans/unsecured-overdraft',
          img: '8.jpg',
          title: 'Беззаставний овердрафт',
          percent: '19% річних',
          period: 'до 12 місяців',
          badges: [
            {
              name: '₴',
            },
          ],
        },
        {
          link: '/business/loans/working-capital-financing',
          img: '10.jpg',
          title: 'Кредит на поповнення обігових коштів',
          percent: 'від 7% річних*',
          period: 'до 18 місяців',
          badges: [
            {
              name: '₴',
            },
            {
              name: '$',
            },
            {
              name: '€',
            },
          ],
          text: '*16% річних у гривні; від 7% річних в іноземній валюті.',
        },
        {
          link: '/business/loans/fixed-assets-acquisition-loan',
          img: '9.jpg',
          title: 'Кредит на придбання основних засобів',
          percent: 'від 8% річних*',
          period: 'до 60 місяців',
          badges: [
            {
              name: '₴',
            },
            {
              name: '$',
            },
            {
              name: '€',
            },
          ],
          text: '*17% річних у гривні; від 8% річних в іноземній валюті.',
        },
        {
          link: '/business/loans/loan-under-deposit',
          img: '10.jpg',
          title: 'Кредит під депозит',
          percent: '3% маржа Банку*',
          period: 'до 13 місяців',
          badges: [
            {
              name: '₴',
            },
            {
              name: '$',
            },
            {
              name: '€',
            },
          ],
          text: '*маржа Банку між кредитом та депозитом, валюти яких співпадають',
        },
      ],
    };
  },
};
</script>
