<template>
  <div class="page-container service-page">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/business-credits/2.png')"
        :main-screen="mainScreen"
        class="main-screen--credits main-screen--small-img"
      ></MainScreen>
      <Card5 :cards="cards"></Card5>
      <a id="conditions"></a>
      <div class="row-title title title-l">Умови надання кредиту</div>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'doc_links'">
          <TableCredits :slice="slice" :table="table"></TableCredits>
        </template>
      </section>
      <a id="requirments"></a>
      <div class="row-title title title-l">Вимоги до позичальника</div>
      <Card6 :simple-cards="simpleCards"></Card6>
      <a id="contact-form"></a>
      <Form1 :form-data="form"></Form1>
    </b-container>
  </div>
</template>

<script>
import MainScreen from '~/components/MainScreen.vue';
import Card5 from '~/components/Cards/Card5.vue';
import Card6 from '~/components/Cards/Card6.vue';
import Form1 from '~/components/Forms/Form1';
export default {
  components: {
    MainScreen,
    Card5,
    Card6,
    Form1,
  },
  async asyncData({ $prismic, error }) {
    const loanUnderDeposit = await $prismic.api.getByUID('business-loan', 'loan-under-deposit');
    if (loanUnderDeposit) {
      return {
        loanUnderDeposit,
        slices: loanUnderDeposit.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Корпоративним клієнтам',
          to: '/business',
        },
        {
          text: 'Кредити',
          to: '/business/loans',
        },
        {
          text: 'Кредит під депозит',
          active: true,
        },
      ],
      mainScreen: {
        type: 'dark',
        title: 'Кредит під депозит',
        description:
          'Кредит на господарські потреби, що видається під заставу депозитного вкладу в АТ «ОКСІ БАНК» ',
        subdescription: '*маржа Банку між кредитом та депозитом, валюти яких співпадають',
        conditions: {
          first: {
            title: 'Ставка',
            desc: '3% маржа Банку*',
          },
          second: {
            title: 'Строк',
            desc: 'до 13 місяців',
          },
        },
        links: [
          {
            to: '#conditions',
            name: 'Умови кредитування',
          },
          {
            to: '#requirments',
            name: 'Вимоги до позичальника',
          },
          {
            to: '#contact-form',
            name: 'Заявка на кредит',
          },
        ],
      },
      form: {
        title: 'Онлайн-заявка на кредит',
        place:
          'Знайдіть найближче до вас відділення, де наші менеджери допоможуть вам з оформленням кредиту. ',
        subject: '[OXI-site] Business - Заявка на кредит',
      },
      cards: [
        {
          title: 'На що видаємо кредит',
          desc:
            'Поповнення обігових коштів. Придбання транспортних засобів, с/г техніки, обладнання/устаткування, комерційної нерухомості, земельної ділянки.',
          imgSrc: '1.png',
        },
        {
          title: 'Як видаємо кредит',
          desc:
            'Безготівковим зарахуванням кредитних коштів на поточний рахунок позичальника — одноразово або траншами.',
          imgSrc: '2.png',
        },
        {
          title: 'Як погасити кредит',
          desc:
            'За встановленим графіком на балансовий рахунок, відкритий під кредитну угоду. Проценти погашаються щомісячно.',
          imgSrc: '3.png',
        },
      ],
      table: {
        tableRows: [
          {
            leftValue: 'Строк кредитування',
            texts: [
              {
                title: 'строк депозиту, що зменшений мінімум на 5 днів і не перевищує 13 місяців',
              },
            ],
          },
          {
            leftValue: 'Валюта',
            texts: [
              {
                title: 'гривня, долар США, євро',
              },
            ],
          },
          {
            leftValue: 'Максимальний розмір кредиту',
            texts: [
              {
                title: 'залежить від суми вкладу',
              },
            ],
          },
          {
            leftValue: 'Сума',
            texts: [
              {
                title: 'min 15 000 грн',
              },
              {
                title: 'max 500 000 грн (або еквівалент в іншій валюті)',
              },
            ],
          },
          {
            leftValue: 'Ставка',
            texts: [
              {
                title: 'Якщо валюти кредиту і депозиту однакові — ставка депозиту + 3%;',
              },
              {
                title: 'Якщо валюти кредиту і депозиту різні:',
              },
              {
                title: '- 16,0% річних у гривні;',
              },
              {
                title: '- 8,0% річних у доларах США;',
              },
              {
                title: '- 7,0% річних у євро.',
              },
            ],
          },
          {
            leftValue: 'Забезпечення',
            texts: [
              {
                title:
                  'майнові права на грошові кошти, які розміщено на депозиті в АТ «ОКСІ БАНК». ',
              },
              {
                title: 'Заставна вартість забезпечення повинна становити:',
              },
              {
                title: '- 105% суми кредиту, якщо валюти кредиту і депозиту однакові; ',
              },
              {
                title: '- 120% суми кредиту, якщо валюти кредиту і депозиту різні.',
              },
            ],
          },
          {
            leftValue: 'Комісії',
            texts: [
              {
                title: 'Одноразова комісія — 0,5% від суми кредиту, але не менше 500 гривень.',
              },
            ],
          },
        ],
        addInfo: {
          title: 'Додаткова інформація',
          link: 'Документ з детальними умовами',
          source: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
      },
      simpleCards: [
        {
          title: 'Юридична особа або фізична особа-підприємець — резидент України.',
        },
        {
          title: 'Відсутність арешту поточних рахунків, процедур банкрутства/санації/ліквідації.',
        },
        {
          title: 'Позитивна кредитна історія.',
        },
      ],
    };
  },
  head() {
    return {
      title: this.loanUnderDeposit.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.loanUnderDeposit.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
