<template>
  <div class="page-container service-page">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/business-credits/1.png')"
        :main-screen="mainScreen"
        class="main-screen--credits main-screen--small-img"
      ></MainScreen>

      <Card5 :cards="cards"></Card5>
      <a id="conditions"></a>
      <div class="row-title title title-l">Умови надання кредиту</div>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'doc_links'">
          <TableCredits :slice="slice" :table="table"></TableCredits>
        </template>
      </section>
      <a id="requirments"></a>
      <div class="row-title title title-l">Вимоги до позичальника</div>
      <Card6 :simple-cards="simpleCards"></Card6>
      <a id="contact-form"></a>
      <Form1 :form-data="form"></Form1>
    </b-container>
  </div>
</template>

<script>
import MainScreen from '~/components/MainScreen.vue';
import Card5 from '~/components/Cards/Card5.vue';
import Card6 from '~/components/Cards/Card6.vue';
import Form1 from '~/components/Forms/Form1';
export default {
  components: {
    MainScreen,
    Card5,
    Card6,
    Form1,
  },
  async asyncData({ $prismic, error }) {
    const overdraft = await $prismic.api.getByUID('business-loan', 'overdraft');
    if (overdraft) {
      return {
        overdraft,
        slices: overdraft.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Корпоративним клієнтам',
          to: '/business',
        },
        {
          text: 'Кредити',
          to: '/business/loans',
        },
        {
          text: 'Овердрафт',
          active: true,
        },
      ],
      mainScreen: {
        type: 'dark',
        title: 'Овердрафт',
        description:
          'Короткостроковий кредит під заставу, що дає змогу здійснювати розрахунки в межах встановленого ліміту понад залишок коштів на поточному рахунку.',
        conditions: {
          first: {
            title: 'Ставка',
            desc: '18% річних у грн',
          },
          second: {
            title: 'Строк',
            desc: 'до 12 місяців',
          },
        },
        links: [
          {
            to: '#conditions',
            name: 'Умови кредитування',
          },
          {
            to: '#requirments',
            name: 'Вимоги до позичальника',
          },
          {
            to: '#contact-form',
            name: 'Заявка на кредит',
          },
        ],
      },
      form: {
        title: 'Онлайн-заявка на кредит',
        place:
          'Знайдіть найближче до вас відділення, де наші менеджери допоможуть вам з оформленням кредиту. ',
        subject: '[OXI-site] Business - Заявка на кредит',
      },
      cards: [
        {
          title: 'На що видаємо кредит',
          desc: 'Поповнення обігових коштів',
          imgSrc: '1.png',
        },
        {
          title: 'Як видаємо кредит',
          desc: 'Встановлення кредитного ліміту на поточному рахунку.',
          imgSrc: '2.png',
        },
        {
          title: 'Як погасити кредит',
          desc: 'Автоматичне погашення після надходження коштів на поточний рахунок.',
          imgSrc: '3.png',
        },
      ],
      table: {
        tableRows: [
          {
            leftValue: 'Строк кредитування',
            texts: [
              {
                title: 'до 12 місяців',
              },
            ],
          },
          {
            leftValue: 'Валюта',
            texts: [
              {
                title: 'гривня',
              },
            ],
          },
          {
            leftValue: 'Максимальний розмір кредиту',
            texts: [
              {
                title: 'до 100%',
              },
            ],
            rightDescValue: 'середньомісячних чистих надходжень за останні 3 місяці',
          },
          {
            leftValue: 'Сума',
            texts: [
              {
                title: 'min 50 000 грн',
              },
              {
                title: 'max 300 000 грн',
              },
            ],
          },
          {
            leftValue: 'Ставка',
            texts: [
              {
                title: '18% річних',
              },
            ],
          },
          {
            leftValue: 'Забезпечення',
            texts: [
              {
                title:
                  'Нерухомість/ Транспортні засоби/ Майнові права на грошові кошти, з обов‘язковою Порукою засновника/керівника',
              },
            ],
          },
          {
            leftValue: 'Комісії',
            texts: [
              {
                title: 'щомісячна комісія — 0,0%',
              },
              {
                title:
                  'одноразово — 1,0% від ліміту овердрафту при укладенні договору та при збільшенні ліміту овердрафту.',
              },
            ],
          },
        ],
        addInfo: {
          title: 'Додаткова інформація',
          link: 'Документ з детальними умовами',
          source: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
      },
      simpleCards: [
        {
          title: 'Юридична особа або фізична особа-підприємець — резидент України.',
        },
        {
          title: 'Тривалість ведення господарської (професійної) діяльності — не менше 12 місяців.',
        },
        {
          title: 'Позитивна кредитна історія.',
        },
      ],
    };
  },
  head() {
    return {
      title: this.overdraft.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.overdraft.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
