<template>
  <div class="page-container service-page">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/business-credits/3.png')"
        :main-screen="mainScreen"
        class="main-screen--credits"
      ></MainScreen>
      <Card5 :cards="cards"></Card5>
      <a id="conditions"></a>
      <div class="row-title title title-l">Умови надання кредиту</div>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'doc_links'">
          <TableCredits :slice="slice" :table="table"></TableCredits>
        </template>
      </section>
      <a id="requirments"></a>
      <div class="row-title title title-l">Вимоги до позичальника</div>
      <Card6 :simple-cards="simpleCards"></Card6>
      <a id="contact-form"></a>
      <Form1 :form-data="form"></Form1>
    </b-container>
  </div>
</template>

<script>
import MainScreen from '~/components/MainScreen.vue';
import Card5 from '~/components/Cards/Card5.vue';
import Card6 from '~/components/Cards/Card6.vue';
import Form1 from '~/components/Forms/Form1';
export default {
  components: {
    MainScreen,
    Card5,
    Card6,
    Form1,
  },
  async asyncData({ $prismic, error }) {
    const capitalFinancing = await $prismic.api.getByUID(
      'business-loan',
      'working-capital-financing'
    );
    if (capitalFinancing) {
      return {
        capitalFinancing,
        slices: capitalFinancing.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Корпоративним клієнтам',
          to: '/business',
        },
        {
          text: 'Кредити',
          to: '/business/loans',
        },
        {
          text: 'Кредит на поповнення обігових коштів',
          active: true,
        },
      ],
      mainScreen: {
        type: 'dark',
        title: 'Кредит на поповнення обігових коштів',
        description:
          'Фінансування поточних потреб бізнесу, що дає можливість покривати необхідні витрати без вилучення коштів з обороту.',
        subdescription: '*16% річних у гривні; від 7% річних в іноземній валюті.',
        conditions: {
          first: {
            title: 'Ставка',
            desc: 'від 7% річних*',
          },
          second: {
            title: 'Строк',
            desc: 'до 18 місяців',
          },
        },
        links: [
          {
            to: '#conditions',
            name: 'Умови кредитування',
          },
          {
            to: '#requirments',
            name: 'Вимоги до позичальника',
          },
          {
            to: '#contact-form',
            name: 'Заявка на кредит',
          },
        ],
      },
      form: {
        title: 'Онлайн-заявка на кредит',
        place:
          'Знайдіть найближче до вас відділення, де наші менеджери допоможуть вам з оформленням кредиту. ',
        subject: '[OXI-site] Business - Заявка на кредит',
      },
      cards: [
        {
          title: 'На що видаємо кредит',
          desc: 'Поповнення обігових коштів, поточні платіжні витрати, інші бізнес-цілі.',
          imgSrc: '1.png',
        },
        {
          title: 'Як видаємо кредит',
          desc: 'Одноразово або траншами.',
          imgSrc: '2.png',
        },
        {
          title: 'Як погасити кредит',
          desc: 'Щомісячно або рівномірним зменшенням ліміту з 4-го місяця кредитування. ',
          imgSrc: '3.png',
        },
      ],
      table: {
        tableRows: [
          {
            leftValue: 'Строк кредитування',
            texts: [
              {
                title: 'до 18 місяців',
              },
            ],
          },
          {
            leftValue: 'Валюта',
            texts: [
              {
                title: 'гривня, долар США, євро',
              },
            ],
          },
          {
            leftValue: 'Максимальний розмір кредиту',
            texts: [
              {
                title: '2,5 млн грн',
              },
            ],
          },
          {
            leftValue: 'Сума',
            texts: [
              {
                title: 'min 100 000 грн',
              },
              {
                title:
                  'max 400% середньомісячного доходу за останні 4 квартали, але не більше 2,5 млн грн',
              },
            ],
          },
          {
            leftValue: 'Ставка',
            texts: [
              {
                title: '- 16,0% річних у гривні;',
              },
              {
                title: '- 8,0% річних у доларах США;',
              },
              {
                title: '- 7,0% річних у євро.',
              },
            ],
          },
          {
            leftValue: 'Забезпечення',
            texts: [
              {
                title:
                  'нерухомість, транспортні засоби, обладнання, майнові права на грошові кошти розміщені на вкладному рахунку',
              },
            ],
          },
          {
            leftValue: 'Комісії',
            texts: [
              {
                title: 'щомісячна комісія — 0,0%',
              },
              {
                title: 'одноразово — 1,0% від суми кредиту.',
              },
            ],
          },
        ],
        addInfo: {
          title: 'Додаткова інформація',
          link: 'Документ з детальними умовами',
          source: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
      },
      simpleCards: [
        {
          title: 'Юридична особа або фізична особа-підприємець — резидент України.',
        },
        {
          title: 'Тривалість ведення господарської (професійної) діяльності — не менше 12 місяців.',
        },
        {
          title: 'Позитивна кредитна історія.',
        },
      ],
    };
  },
  head() {
    return {
      title: this.capitalFinancing.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.capitalFinancing.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
