<template>
  <div>
    <b-navbar class="nav" toggleable variant="faded" type="light">
      <div class="nav-wrap">
        <b-navbar-nav v-if="!isOpen" class="navbar-mobile">
          <b-navbar-brand>
            <img alt="Oxi bank" src="~assets/Logo.svg?data" />
          </b-navbar-brand>
        </b-navbar-nav>

        <b-navbar-nav v-if="isOpen" class="navbar-mobile">
          <b-nav-item
            :active="type === 'private_menu'"
            class="navbar-mobile-item"
            href="#"
            @click="
              type = 'private_menu';
              activeMenu = 'main';
            "
            >Приватним</b-nav-item
          >
          <b-nav-item
            :active="type === 'business_menu'"
            class="navbar-mobile-item"
            href="#"
            @click.prevent="
              type = 'business_menu';
              activeMenu = 'main';
            "
            >Бізнесу</b-nav-item
          >
        </b-navbar-nav>

        <button class="navbar-toggler" @click="toggleMenu">
          <img v-if="isOpen" src="~assets/icons/close.svg?data" />
          <img v-if="!isOpen" src="~assets/icons/menu.svg?data" />
        </button>
      </div>

      <div v-if="isOpen" class="wrapper" is-nav>
        <div class="main_menu mb-2">
          <b-navbar-nav v-for="item in menu[type]" :key="item.id" class="ml-auto menu">
            <b-nav-item
              v-if="activeMenu === 'main'"
              href="#"
              @click.prevent="setActiveMenu(item.id)"
            >
              <span>{{ item.label }}</span>
            </b-nav-item>

            <b-nav-item
              v-else-if="activeMenu === item.id"
              id="back-btn"
              class="back-menu-item"
              href="#"
              @click.prevent="setActiveMenu('main')"
              ><span
                ><img class="back-arrow" src="~assets/icons/arrow_menu.svg?data" />{{
                  item.label
                }}</span
              ></b-nav-item
            >

            <b-navbar-nav
              v-if="activeMenu === item.id && item.children && item.children.length"
              :id="item.id"
              class="menu sub-menu"
            >
              <b-nav-item v-for="(child, idx) in item.children" :key="idx" :href="child.path">
                <span>{{ child.label }}</span>
              </b-nav-item>
            </b-navbar-nav>
          </b-navbar-nav>
        </div>

        <b-navbar-nav v-if="isOpen && activeMenu === 'main'">
          <b-nav-item><span>Тарифи на банківські послуги</span></b-nav-item>
          <b-nav-item><span>Типові договори</span></b-nav-item>
          <b-nav-item><span>Індивідуальні сейфи</span></b-nav-item>
          <b-nav-item><span>Захист прав споживачів фін послуг</span></b-nav-item>
        </b-navbar-nav>

        <div v-if="isOpen" class="menu-footer">
          <div class="phone"><a href="tel:0322323735">032-232-37-35</a></div>
          <div class="departments">
            <nuxt-link to="/branch-and-atm-network"
              ><img alt="location" src="~assets/icons/location.svg?data" /><span
                >Відділення та банкомати</span
              ></nuxt-link
            >
          </div>
          <div v-if="activeMenu === 'main'" class="download-btn-wrapper">
            <b-button variant="outline-secondary">
              <img alt="Download app from App Store" src="~assets/icons/apple.svg?data" />Завантажте
              в App Store
            </b-button>
            <b-button variant="outline-secondary">
              <img
                alt="Download app from Google Play"
                src="~assets/icons/google-play.svg?data"
              />Доступно в Google Play
            </b-button>
          </div>
        </div>
      </div>
    </b-navbar>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Emit, Prop } from 'vue-property-decorator';
import type { Menu } from './menu';
import menu from './menu';

@Component
export default class MobileHeader extends Vue {
  type: keyof Menu = 'business_menu';
  isOpen = false;
  activeMenu = 'main';

  @Prop({ type: Object, default: () => menu }) readonly menu!: Menu;

  @Emit()
  toggleMenu(): void {
    this.isOpen = !this.isOpen;

    if (!this.isOpen) {
      this.activeMenu = 'main';
    } else {
      this.type = 'business_menu';
    }
  }

  @Emit()
  setActiveMenu(item: string): void {
    this.activeMenu = item;
  }
}
</script>
<style scoped lang="scss">
.activated {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}
.back-menu-item {
  border-bottom: 1px solid #ecedef;
}

.nav-item {
  padding: 0 1rem;
}

.back-arrow {
  width: 8px;
  height: 10px;
  transform: scaleX(-1);
  margin-right: 10px;
  transform-origin: center;
  transform-box: fill-box;
}

.nav-link {
  color: #00183c !important;
}

.menu .nav-link {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding: 1rem 0;
  color: #00183c !important;
}
.nav-wrap {
  height: 72px;
  border-bottom: 1px solid #ecedef;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 1rem;
}
.wrapper {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.toggler {
  border: 0;
}
.nav {
  background: #fff;
  padding: 0;
}

.main_menu {
  border-bottom: 1px solid #ecedef;
}

.navbar-mobile {
  flex-direction: row;
  align-items: center;
  .navbar-mobile-item {
    margin-right: 13px;
    padding: 0;
  }
}

.nav-item.navbar-mobile-item .nav-link {
  color: #1a1f27;
  text-decoration: underline;
}

.nav-item.navbar-mobile-item .nav-link.active {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
}

.navbar-toggler {
  border: 0;
  display: block;
}

.menu-footer {
  color: #001930;
  padding: 1rem;
}

.phone,
.departments {
  margin-bottom: 1.5rem;
}
.phone a {
  color: #001930;
  font-weight: 400;
  font-size: 2rem;
}

.departments img {
  width: 10px;
  height: 14px;
  margin-right: 12px;
}

.download-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.download-btn-wrapper button {
  width: 128px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: #1a1f27;
  text-align: left;
}

.download-btn-wrapper button img {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
</style>
