<template>
  <client-only>
    <header>
      <b-navbar type="light" variant="faded" class="responsive-header navbar">
        <b-container>
          <b-navbar-nav class="mr-auto">
            <b-nav-item
              class="menu-type-selector"
              :active="type === 'private_menu'"
              @click="type = 'private_menu'"
              ><nuxt-link to="/">Приватним особам</nuxt-link>
            </b-nav-item>
            <b-nav-item
              class="menu-type-selector"
              :active="type === 'business_menu'"
              to="/business"
              @click="type = 'business_menu'"
              >Бізнес-клієнтам</b-nav-item
            >
          </b-navbar-nav>

          <b-navbar-nav>
            <b-nav-item to="/blog">Новини та акції</b-nav-item>
            <b-nav-item-dropdown text="Про банк">
              <b-dropdown-item to="/about-bank">Про банк</b-dropdown-item>
              <b-dropdown-item to="/corporate-governance">Корпоративне управління</b-dropdown-item>
              <b-dropdown-item to="/financial-statements">Звітність</b-dropdown-item>
              <b-dropdown-item
                ><nuxt-link to="/legal-structure">Структура власності</nuxt-link></b-dropdown-item
              >
              <b-dropdown-item to="/licenses">Ліцензії</b-dropdown-item>
              <b-dropdown-item to="/financial-monitoring">Фінансовий моніторинг</b-dropdown-item>
              <b-dropdown-item to="/partners/sportbank">sportbank</b-dropdown-item>
              <b-dropdown-item to="/complaince-risk-control"
                >Контроль комплаєнс-ризиків</b-dropdown-item
              >
            </b-nav-item-dropdown>
            <b-nav-item to="/branch-and-atm-network">Відділення та банкомати</b-nav-item>
            <b-nav-item to="/feedback">Зворотний зв'язок</b-nav-item>
          </b-navbar-nav>
        </b-container>
      </b-navbar>
      <!-- sub-menu -->
      <b-navbar class="navbar-sub-head mr-auto">
        <b-container>
          <b-navbar-brand
            ><nuxt-link to="/"><img alt="Oxi bank" src="~assets/Logo.svg?data" /></nuxt-link
          ></b-navbar-brand>
          <b-navbar-nav class="bottom-nav">
            <b-nav-item-dropdown
              v-for="item in menu[type]"
              v-if="item.children && item.children.length"
              :key="item.id"
              :text="item.label"
              class="nav-item-dropdown"
            >
              <b-dropdown-item v-for="(child, idx) in item.children" :key="idx" :to="child.path"
                >{{ child.label }}
              </b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item v-for="item in menu[type]" v-if="!item.children" :key="item.id">
              <nuxt-link :to="item.path">{{ item.label }}</nuxt-link></b-nav-item
            >
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto">
            <b-button variant="primary" size="sm" class="my-2 my-sm-0 i-banking-btn" to="#">
              Інтернет-банкінг
              <img class="i-banking-icon" src="~assets/icons/enter.svg?data" />
            </b-button>
          </b-navbar-nav>
        </b-container>
      </b-navbar>
    </header>
  </client-only>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { responsiveMenu } from './menu';

@Component
export default class ResponsiveHeader extends Vue {
  type = 'private_menu';
  @Prop({ type: Object, default: () => responsiveMenu }) readonly menu!: any;
}
</script>
<style lang="scss">
.navbar {
  background-color: #fff;
  font-size: 0.875rem;
}

.menu-type-selector {
  width: 160px;
}
.responsive-header {
  border-bottom: 1px solid #ecedef;
  height: 44px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #1a1f27;
  font-weight: bold;
}

.navbar-brand {
  font-size: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #1a1f27;
  outline: none;
}

.navbar-sub-head .navbar-nav.bottom-nav .nav-link span {
  line-height: 72px;
}

.navbar-nav.bottom-nav {
  .nav-item {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 40px;
    color: #1a1f27;
    font-family: 'Raleway', sans-serif;
    .nav-link {
      a {
        line-height: 72px;
      }
    }
    &.show {
      a.nav-link {
        color: #004c91;
      }
    }
  }
}
.nav-item-dropdown .dropdown-toggle::after {
  border: 0;
  content: '';
}

.navbar-sub-head {
  height: 88px;
  box-shadow: 0 8px 16px rgba(196, 196, 196, 0.05), 0 4px 8px rgba(112, 144, 208, 0.1),
    0 1px 1px rgba(196, 196, 196, 0.1), 0 0.5px 0 rgba(196, 196, 196, 0.25);
}

.i-banking-btn {
  padding: 0.5rem 1rem;
}

.i-banking-icon {
  height: 20px;
  width: 16px;
}
.dropdown-menu {
  top: 80%;
  border: none;
  box-shadow: -1px -1px 0 rgba(112, 144, 208, 0.05), 0 8px 24px rgba(112, 144, 208, 0.1);
  .dropdown-item {
    line-height: 40px;
    padding: 0 1.5rem;
  }
}
</style>
