<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/bank-guarantees.png')"
        :main-screen="mainScreen"
        class="main-screen--simple main-screen--small-img"
      ></MainScreen>
      <b-row class="row-container">
        <a id="types"></a>
        <div class="block-title title title-l">Види гарантій</div>
        <b-col md="12" class="simple-blocks simple-blocks--3">
          <b-card v-for="block in blocks" :key="block.id" class="simple-block">
            <b-card-title class="title title-s">{{ block.title }}</b-card-title>
            <b-card-text>{{ block.text }}</b-card-text>
          </b-card>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <a id="rates"></a>
        <div class="block-title title title-l">Тарифи</div>
        <b-col md="8">
          <TableCredits :table="table"></TableCredits>
        </b-col>
        <b-col md="4">
          <section v-for="slice in slices" :key="slice.index">
            <template v-if="slice.slice_type === 'doc_links'">
              <TableAddInfo :table-add-info="tableAddInfo" :slice="slice"></TableAddInfo>
            </template>
          </section>
        </b-col>
      </b-row>
      <b-row class="row-container">
        <a id="how"></a>
        <div class="block-title title title-l">Порядок надання послуги</div>
        <b-col class="card-numbers card-numbers--4" md="12">
          <b-card v-for="document in documents" :key="document.id" class="card-number">
            <b-card-title class="title title-s">{{ document.title }}</b-card-title>
            <div class="number">{{ document.number }}</div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import TableCredits from '~/components/TableCredits.vue';
import TableAddInfo from '~/components/TableAddInfo.vue';
export default {
  async asyncData({ $prismic, error }) {
    const bankGuarantees = await $prismic.api.getSingle('bank-guarantee');
    if (bankGuarantees) {
      return {
        bankGuarantees,
        slices: bankGuarantees.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      components: {
        TableCredits,
        TableAddInfo,
      },
      items: [
        {
          text: 'Бізнес-клієнтам',
          href: '/business',
        },
        {
          text: 'Документарні операції',
          href: '',
          active: false,
        },
        {
          text: 'Банківські гарантії',
          active: true,
        },
      ],
      mainScreen: {
        type: 'dark',
        title: 'Банківські гарантії',
        description:
          'АТ «ОКСІ БАНК» може взяти на себе зобов’язання сплатити гарантовану суму за свого клієнта, якщо він не зможе виконати свої зобов’язання за контрактом, договором, тендером.',
        conditions: {
          first: {
            title: '',
            desc: '',
          },
          second: {
            title: '',
            desc: '',
          },
        },
        links: [
          {
            to: '#types',
            name: 'Види гарантій',
          },
          {
            to: '#rates',
            name: 'Тарифи',
          },
          {
            to: '#how',
            name: 'Як оформити',
          },
        ],
      },
      blocks: [
        {
          title: 'Тендерна гарантія',
          text:
            'Використовується для забезпечення виконання тендерних зобов’язань. Гарантія може надаватись як на паперовому носії , так  і в електронній формі.',
        },
        {
          title: 'Туристична гарантія',
          text:
            'Використовується як фінансове забезпечення цивільної відповідальності туроператора або турагента перед туристами.',
        },
        {
          title: 'Гарантія платежу',
          text:
            'Використовується для забезпечення будь-яких платіжних вимог продавця по відношенню до покупця щодо сплати вартості договору в межах обумовленого строку.',
        },
        {
          title: 'Гарантія виконання зобов‘язань за контрактом',
          text:
            'Використовується як забезпечення будь-яких платіжних претензій покупця, які можуть виникнути у разі непоставки товарів або невиконання умов укладеного контракту.',
        },
        {
          title: 'Гарантія повернення авансового платежу',
          text:
            'Забезпечує виконання вимог покупця, що можуть виникнути в частині повернення авансового платежу по контракту, у разі невиконання продавцем своїх зобов’язань.',
        },
      ],
      tableAddInfo: [
        {
          title: 'Додаткова інформація',
          undertitle: '',
        },
      ],
      downloadDocs: [
        {
          docSource: '',
          docTitle: 'Істотні характеристики продукту',
        },
        {
          docSource: '',
          docTitle: 'Тарифи для юридичних осіб',
        },
      ],
      table: {
        tableRows: [
          {
            leftValue: 'Сума',
            texts: [
              {
                title: 'min 1500 грн',
              },
              {
                title: 'max 300 000 грн',
              },
            ],
          },
          {
            leftValue: 'Оформлення документів по видачі гарантії',
            texts: [
              {
                title: 'Згідно з умовами договору ',
              },
            ],
            rightDescValue: 'при укладанні договору банківської гарантії',
          },
          {
            leftValue: 'Надання  гарантій клієнтам банку',
            texts: [
              {
                title: 'Згідно з умовами договору ',
              },
            ],
            rightDescValue: 'при укладанні договору банківської гарантії',
          },
          {
            leftValue: 'Авізування гарантій що надійшли на користь клієнта',
            texts: [
              {
                title: '100 грн',
              },
            ],
          },
          {
            leftValue: 'Підтвердження гарантії',
            texts: [
              {
                title: '2% (min 600,00 грн)',
              },
            ],
            rightDescValue: 'одноразово за весь період користування гарантією',
          },
          {
            leftValue: 'Зміна умов гарантії',
            texts: [
              {
                title: 'Згідно з умовами договору ',
              },
            ],
            rightDescValue: 'при укладанні договору банківської гарантії',
          },
          {
            leftValue: 'Платіж по гарантії',
            texts: [
              {
                title: '0,2% (min 150,00 грн/ max 500,00 грн) ',
              },
            ],
            rightDescValue: 'від суми гарантії',
          },
        ],
      },
      documents: [
        {
          title: 'Клієнт надає в Банк пакет документів',
          number: '1',
        },
        {
          title: 'Банк розглядає можливість надання гарантії',
          number: '2',
        },
        {
          title: 'Підписання договору гарантії та договорів забезпечення',
          number: '3',
        },
        {
          title: 'Банк випускає гарантію на паперовому носії або в електронній формі',
          number: '4',
        },
      ],
    };
  },
};
</script>
