<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      <MainScreen
        class="main-screen__rco"
        :main-screen-img="require('~/assets/images/slides/business_main_slides/4.png')"
        :main-screen="mainScreen"
      ></MainScreen>
      <b-row class="row-container">
        <b-col md="6">
          <b-card class="card5 card-md" no-body>
            <b-card-body>
              <div class="card5__text">
                <b-card-title class="title title-s">Конфіденційність</b-card-title>
                <b-card-text>
                  Збереження банківської таємниці за операціями, які ви здійснюєте
                </b-card-text>
              </div>
              <div class="card5__img">
                <b-card-img
                  :src="require('~/assets/images/cards/card5/rco/confidentiality.png')"
                  alt="Image"
                ></b-card-img>
              </div>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col md="6">
          <b-card class="card5 card-md" no-body>
            <b-card-body>
              <div class="card5__text">
                <b-card-title class="title title-s">Надійність</b-card-title>
                <b-card-text> Збереження грошових коштів, які надійшли на ваш рахунок </b-card-text>
              </div>
              <div class="card5__img">
                <b-card-img
                  :src="require('~/assets/images/cards/card5/rco/reliability.png')"
                  alt="Image"
                ></b-card-img>
              </div>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
      <a id="servicves"></a>
      <b-row class="row-container">
        <div class="row-title title title-l">Послуги</div>
        <b-col md="12">
          <b-card no-body class="card-list">
            <div v-for="service in services" :key="service.id" class="card-list_item">
              <p class="card-list_item_text">{{ service }}</p>
            </div>
          </b-card>
        </b-col>
      </b-row>
      <a id="tariffs"></a>
      <b-row class="row-container">
        <div class="row-title title title-l">Тарифні пакети</div>
        <b-col md="12">
          <b-table-simple responsive borderless class="rates-table">
            <b-thead>
              <b-tr>
                <b-th class=""></b-th>
                <b-th>
                  <div class="th-ct">
                    <img src="@/assets/images/rates/1.png" alt="" />
                    <div class="title">Підприємницький</div>
                    <div class="price">150 грн<span>/місяць</span></div>
                  </div>
                </b-th>
                <b-th>
                  <div class="th-ct">
                    <img src="@/assets/images/rates/2.png" alt="" />
                    <div class="title">Бізнес М</div>
                    <div class="price">200 грн<span>/місяць</span></div>
                  </div>
                </b-th>
                <b-th>
                  <div class="th-ct">
                    <img src="@/assets/images/rates/3.png" alt="" />
                    <div class="title">Бізнес</div>
                    <div class="price">300 грн<span>/місяць</span></div>
                  </div>
                </b-th>
              </b-tr>
            </b-thead>
            <b-tbody>
              <b-tr class="big">
                <b-td class="row-title">Ведення фукціонуючого поточного рахунку</b-td>
                <b-td>100 грн <span>за місяць</span></b-td>
                <b-td>безкоштовно</b-td>
                <b-td>безкоштовно</b-td>
              </b-tr>
              <b-tr class="subheader">
                <b-td colspan="4">Касове обслуговування</b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">Видача готівки з каси до 50 000 грн </b-td>
                <b-td>0,5% <span>від суми операції</span></b-td>
                <b-td>1% <span>від суми операції</span></b-td>
                <b-td>1% <span>від суми операції</span></b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">Видача готівки з каси від 50 000 грн до 150 000 грн</b-td>
                <b-td>―</b-td>
                <b-td>0,9% <span>від суми</span></b-td>
                <b-td>0,9% <span>від суми</span></b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">Видача готівки з каси понад 150 000,01 грн</b-td>
                <b-td>―</b-td>
                <b-td>0,8% <span>від суми</span></b-td>
                <b-td>0,8% <span>від суми</span></b-td>
              </b-tr>
              <b-tr class="btm">
                <b-td class="row-title">Внесення готівки на поточний рахунок</b-td>
                <b-td>безкоштовно</b-td>
                <b-td>безкоштовно</b-td>
                <b-td>безкоштовно</b-td>
              </b-tr>
              <b-tr class="subheader">
                <b-td colspan="4">Платежі в національній валюті</b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title"
                  >Здійснення зовнішніх платежів в операційний час до 16:00 год</b-td
                >
                <b-td>0,1% (від 3 грн до 15 грн) <span>від суми переказу</span></b-td>
                <b-td>0,1% (від 3 грн до 15 грн) <span>від суми переказу</span></b-td>
                <b-td>0,1% (від 3 грн до 15 грн) <span>від суми переказу</span></b-td>
              </b-tr>
              <b-tr class="btm">
                <b-td class="row-title">Здійснення зовнішніх платежів в післяопераційний час</b-td>
                <b-td>0,1% (від 6 грн до 50 грн)<span>від суми платіжного документу</span></b-td>
                <b-td>0,1% (від 6 грн до 50 грн)<span>від суми платіжного документу</span></b-td>
                <b-td>0,1% (від 6 грн до 50 грн)<span>від суми платіжного документу</span></b-td>
              </b-tr>
              <b-tr class="subheader">
                <b-td colspan="4">Платежі в іноземній валюті</b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">В доларах США , комісія “OUR”</b-td>
                <b-td>―</b-td>
                <b-td>―</b-td>
                <b-td>0,2% (від 30 USD до 75 USD)<span>+ комісія іноземного банку</span></b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">В доларах США , комісія “SHA”</b-td>
                <b-td>0,2% (від 20 USD до 100 USD)<span>+ комісія іноземного банку</span></b-td>
                <b-td>0,2% (від 20 USD до 100 USD)<span>+ комісія іноземного банку</span></b-td>
                <b-td>0,2% (від 30 USD до 75 USD)<span>+ комісія іноземного банку</span></b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">В ЄВРО , комісія “OUR”</b-td>
                <b-td>―</b-td>
                <b-td>―</b-td>
                <b-td>0,2% (від 30 USD до 75 USD)<span>+ комісія іноземного банку</span></b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">В ЄВРО , комісія “SHA”</b-td>
                <b-td>0,2% (від 20 USD до 100 USD)<span>+ комісія іноземного банку</span></b-td>
                <b-td>0,2% (від 20 USD до 100 USD)<span>+ комісія іноземного банку</span></b-td>
                <b-td>0,2% (від 30 USD до 75 USD)<span>+ комісія іноземного банку</span></b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">В PLN , комісія “OUR”</b-td>
                <b-td>―</b-td>
                <b-td>―</b-td>
                <b-td>0,25% (від 15 USD до 25 USD)<span>+ комісія іноземного банку</span></b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">В інших валютах , комісія “OUR”</b-td>
                <b-td>―</b-td>
                <b-td>―</b-td>
                <b-td>0,25% (від 15 USD до 25 USD)<span>+ комісія іноземного банку</span></b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">В інших валютах , комісія “SHA”</b-td>
                <b-td>0,25% (від 20 USD до 50 USD)<span>+ комісія іноземного банку</span></b-td>
                <b-td>0,25% (від 20 USD до 50 USD)<span>+ комісія іноземного банку</span></b-td>
                <b-td>0,25% (від 15 USD до 25 USD)<span>+ комісія іноземного банку</span></b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">Купівля валюти на ВРУ</b-td>
                <b-td>від 0,1% до 0,5%<span>від суми гривневого еквіваленту</span></b-td>
                <b-td>від 0,1% до 0,5%<span>від суми гривневого еквіваленту</span></b-td>
                <b-td>0,3 %</b-td>
              </b-tr>
              <b-tr>
                <b-td class="row-title">Продаж валюти на ВРУ</b-td>
                <b-td>від 0,1% до 0,3%<span>від суми гривневого еквіваленту</span></b-td>
                <b-td>від 0,1% до 0,3%<span>від суми гривневого еквіваленту</span></b-td>
                <b-td>0,2 %</b-td>
              </b-tr>
            </b-tbody>
          </b-table-simple>
        </b-col>
      </b-row>
      <a id="client-bank"></a>
      <b-row class="row-container">
        <b-col md="12">
          <b-card no-body class="card-dark">
            <b-row>
              <b-col md="6">
                <h3 class="title title-l">Клієнт-Банк</h3>
                <b-card-text
                  >Конфіденційна та сучасна система, що дає змогу дистанційно здійснювати платежі та
                  слідкувати за станом рахунку.</b-card-text
                >
                <!-- <nuxt-link to="" class="card-link">Про клієнт-банк</nuxt-link> -->
              </b-col>
              <b-col md="6">
                <ul class="list">
                  <li>Платежі в національній валюті в межах банку та на рахунки інших банків.</li>
                  <li>
                    Інформація про стан рахунку (в т.ч. депозитного, кредитного та нарахованих
                    процентів).
                  </li>
                  <li>
                    Виписки з банку за всіма гривневими та валютними рахунками, довідкова
                    інформація.
                  </li>
                  <li>
                    Повідомлення про зміну стану рахунку, надходження та списання коштів, доступний
                    залишок на початок та кінець дня.
                  </li>
                </ul>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>
      <a id="documents"></a>
      <b-row class="row-container documents">
        <div class="row-title title title-l">Документи для відкриття рахунку</div>
        <b-col class="card-numbers" md="8">
          <b-card v-for="document in documents" :key="document.id" class="card-number">
            <b-card-title class="title title-s">{{ document.title }}</b-card-title>
            <b-card-text>{{ document.subtitle }}</b-card-text>
            <div class="number">{{ document.number }}</div>
          </b-card>
        </b-col>
        <b-col md="4">
          <b-card no-body class="card-dark card-dark_s">
            <b-card-title class="title title-s">Відкриття поточного рахунку</b-card-title>
            <b-card-text class="title-l title-time">за 30 хвилин</b-card-text>
            <b-card-text
              >з моменту подання до банку всіх документів згідно з вимогами Національного банку
              України</b-card-text
            >
          </b-card>
        </b-col>
      </b-row>
      <section v-for="slice in slices" :key="slice.index">
        <template v-if="slice.slice_type === 'add_info_links'">
          <AddInfoLinks :slice="slice"></AddInfoLinks>
        </template>
      </section>
    </b-container>
  </div>
</template>

<script>
import AddInfoLinks from '~/slices/AddInfoLinks';
export default {
  components: {
    AddInfoLinks,
  },
  async asyncData({ $prismic, error }) {
    const rco = await $prismic.api.getSingle('rco');
    if (rco) {
      return {
        rco,
        slices: rco.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: 'Бізнес-клієнтам',
          to: '/business/',
        },
        {
          text: 'Розрахункові операції',
          to: '/business/cash-and-settlement-payments',
        },
        {
          text: 'Розрахунково-касове обслуговування',
          active: true,
        },
      ],
      mainScreen: {
        type: 'dark',
        title: 'Розрахунково-касове обслуговування',
        description:
          'Повний комплекс послуг із відкриття та обслуговування рахунків для юридичних осіб і приватних підприємців.',
        conditions: {
          first: {
            title: 'Відкриття рахунку',
            desc: '100 грн',
          },
          second: {
            title: 'Переказ коштів за межі банку',
            desc: '0,1% від суми ',
          },
        },
        links: [
          {
            to: '#services',
            name: 'Послуги',
          },
          {
            to: '#tariffs',
            name: 'Тарифні пакети',
          },
          {
            to: '#client-bank',
            name: 'Клієнт-Банк',
          },
          {
            to: '#documents',
            name: 'Документи для відкриття рахунку',
          },
        ],
      },
      cards: [
        {
          title: 'Конфіденційність',
          desc: 'Збереження банківської таємниці за операціями, які ви здійснюєте',
          imgSrc: 'rco/confidentiality.png',
        },
        {
          title: 'Надійність',
          desc: 'Збереження грошових коштів, які надійшли на ваш рахунок',
          imgSrc: 'rco/reliability.png',
        },
      ],
      services: [
        'Проведення платежів в межах України з використанням сучасних технологій',
        'Проведення платежів за кордон через систему SWIFT',
        'Обслуговування зовнішньоекономічної діяльності',
        'Безкоштовне зарахування коштів на поточні рахунки',
        'Безоплатне проведення платежів в межах банку',
        'Оформлення і передавання дебетових запитів, повідомлень, листів, телеграм на прохання клієнта до іншого банку',
        'Функціонування вечірньої каси',
        'Можливість зняття готівки власником рахунку без попереднього замовлення',
        'Прийом зношених банкнот',
        'Виконання розрахунково-касових операцій упродовж всього банківського дня',
        'Сплата відсотків за залишками на рахунках',
        'Переказ коштів на депозитний рахунок',
        'Перерахування платежів від населення за надані їм послуги з подальшим зарахуванням на поточні рахунки клієнтів',
        'Оформлення грошових чекових книжок, продаж бланків векселів',
        'Видача довідок, дублікатів виписок',
      ],
      documents: [
        {
          title: 'Договір, анкета та заява',
          subtitle: 'на відкриття рахунку',
          number: '1',
        },
        {
          title: 'Паспорт та документ',
          subtitle: 'що засвідчує реєстрацію в ДРФО',
          number: '2',
        },
        {
          title: 'Перелік розпорядників рахунків',
          subtitle: 'та документи, що підтверджують їх повноваження',
          number: '3',
        },
        {
          title: 'Установчі документи ',
          subtitle:
            'юридичних осіб у вигляді безоплатного доступу через портал електронних сервісів',
          number: '4',
        },
      ],
      addInfo: [
        {
          title: 'Інформація для Клієнта про відкриття поточного рахунку',
          path: '/',
        },
        {
          title: 'Пам`ятка для клієнтів банків',
          path: '/',
        },
        {
          title: 'Інформація щодо запровадження стандарту IBAN',
          path: '/',
        },
        {
          title: 'Проекти тарифних пакетів',
          path: '/',
        },
        {
          title: 'Інформація про перехід на міжнародну систему банківських рахунків IBAN',
          path: '/',
        },
      ],
    };
  },
  head() {
    return {
      title: this.rco.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.rco.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
