<template>
  <div class="page-container">
    <Slider :slides="slides" :is-autoplay="true" />
    <b-container>
      <b-row class="row-container">
        <b-col md="6">
          <card3></card3>
        </b-col>
        <b-col md="6"><card2></card2></b-col>
      </b-row>
      <b-row class="row-container">
        <div class="row-title title title-l">Актуальні пропозиції</div>
        <b-col md="3" sm="6">
          <card1
            title="Банківські гарантії"
            link="/business/bank-guarantees"
            :bg-img-src="require('~/assets/images/cards/card1/bank_garantee.png')"
            >Детальніше</card1
          >
        </b-col>
        <b-col md="3" sm="6">
          <card1
            title="Клієнт-банк"
            link="/index"
            :bg-img-src="require('~/assets/images/cards/card1/client-bank.png')"
            >Детальніше</card1
          >
        </b-col>
        <b-col md="3" sm="6">
          <card1
            title="Корпоративна картка"
            link="/business/cards/corporate-card"
            :bg-img-src="require('~/assets/images/cards/card1/corp-card.png')"
            >Детальніше</card1
          >
        </b-col>
        <b-col md="3" sm="6">
          <card1
            title="Безпека даних"
            link="/data-safety"
            :bg-img-src="require('~/assets/images/cards/card1/data_security.png')"
            >Детальніше</card1
          >
        </b-col>
      </b-row>
      <b-row class="row-container">
        <b-col md="12">
          <b-card class="map-preview-card" img-alt="oxi-map-preview">
            <b-card-title class="title title-m">Відділення та банкомати</b-card-title>
            <b-card-text>
              Дізнайтеся адресу та режим роботи найближчого відділення, яке обслуговує юридичних
              осіб.
            </b-card-text>
            <b-button variant="primary-7">
              <nuxt-link to="/branch-and-atm-network">Відділення та банкомати</nuxt-link></b-button
            >
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Vue from 'vue';
import Slider from '~/components/Slider/Slider.vue';
import Card1 from '~/components/Cards/Card1.vue';
import Card2 from '~/components/Cards/Card2.vue';
import Card3 from '~/components/Cards/Card3.vue';

export default Vue.extend({
  components: {
    Slider,
    Card1,
    Card2,
    Card3,
  },
  async asyncData({ $prismic, error }) {
    const mainBusiness = await $prismic.api.getSingle('main-business');
    if (mainBusiness) {
      return {
        mainBusiness,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      downloadLinks: [
        {
          name: 'Інформація для Клієнта про відкриття поточного рахунку',
          file: '~/uploads/files/OgoloshennyaIBAN.docx',
        },
      ],
      slides: [
        {
          title: 'Кредити для бізнесу',
          description: 'Кредитні програми для фінансування бізнесу та поповнення обігових коштів.',
          image: 'business_main_slides/1.png',
          button: { label: 'Всі кредити', link: '/business/loans' },
        },
        {
          title: 'Депозити для бізнес-клієнтів',
          description:
            'Розміщення коштів на депозитних рахунках з різним терміном дії в національній валюті України, у доларах США чи євро',
          image: 'business_main_slides/2.png',
          button: { label: 'Всі депозити', link: '/business/deposits' },
        },
        {
          title: 'Розрахунково-касове обслуговування',
          description:
            'Поточний рахунок бізнес-клієнтів для зарахування, переказу та видачі коштів, зовнішньоекономічної діяльності, інших розрахункових операцій',
          image: 'business_main_slides/4.png',
          button: { label: 'Детальніше', link: '/business/cash-and-settlement-payments' },
        },
      ],
    };
  },
  head() {
    return {
      title: this.mainBusiness.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.mainBusiness.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
});
</script>
