<template>
  <div class="page-container internet-acquiring">
    <b-container>
      <b-breadcrumb :items="breadcrumbs"></b-breadcrumb>
      <section v-for="(slice, i) in slices" :key="i">
        <template v-if="slice.slice_type === 'text_img_block'">
          <TextImgBlock :slice="slice" />
        </template>
        <template v-if="slice.slice_type === 'card_block'">
          <CardBlock :slice="slice" />
        </template>
        <template v-if="slice.slice_type === 'main_screen'">
          <MainScreen :slice="slice" />
        </template>
        <template v-if="slice.slice_type === 'five_columns_cards'">
          <FiveColumnsCards :slice="slice" />
        </template>
        <template v-if="slice.slice_type === 'slider_card'">
          <SliderCard :slice="slice" />
        </template>
        <template v-if="slice.slice_type === 'text_img_link'">
          <TextImgLink :slice="slice" />
        </template>
        <template v-if="slice.slice_type === 'percent_button_img'">
          <PercentButtonImg :slice="slice" />
        </template>
      </section>
      <a id="form"></a>
      <Form5 />
    </b-container>
  </div>
</template>

<script>
import TextImgBlock from '~/slices/TextImgBlock';
import MainScreen from '~/slices/MainScreen';
import FiveColumnsCards from '~/slices/FiveColumnsCards';
import SliderCard from '~/slices/SliderCard';
import Form5 from '~/components/Forms/Form5';
import CardBlock from '~/slices/CardBlock';
import TextImgLink from '~/slices/TextImgLink';
import PercentButtonImg from '~/slices/PercentButtonImg';

export default {
  components: {
    TextImgBlock,
    MainScreen,
    FiveColumnsCards,
    Form5,
    SliderCard,
    CardBlock,
    TextImgLink,
    PercentButtonImg,
  },
  async asyncData({ $prismic, error }) {
    const acquiring = await $prismic.api.getSingle('internet-acquiring');
    if (acquiring) {
      return {
        acquiring,
        slices: acquiring.data.body,
        textHtml: acquiring.data.testhtml,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      breadcrumbs: [
        {
          text: 'Бізнес-клієнтам',
          to: '/business',
        },
        {
          text: 'Інтернет-еквайринг',
          active: true,
        },
      ],
      slide: 0,
      sliding: null,
    };
  },
};
</script>
