<template>
  <div class="page-container">
    <b-container>
      <b-breadcrumb :items="items"></b-breadcrumb>
      <MainScreen
        :main-screen-img="require('~/assets/images/main-screen/currency-transactions.png')"
        :main-screen="mainScreen"
      ></MainScreen>
      <b-row class="row-container">
        <div class="block-title title title-l">Тарифи</div>
        <b-col md="9">
          <section v-for="slice in slices" :key="slice.index">
            <template v-if="slice.slice_type === 'doc_links'">
              <TableCredits :slice="slice" :table="table"></TableCredits>
            </template></section
        ></b-col>
        <b-col md="3"
          ><section v-for="slice in slices" :key="slice.index">
            <template v-if="slice.slice_type === 'table_add_info'">
              <TableAddInfoSlice :slice="slice"></TableAddInfoSlice>
            </template></section
        ></b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import TableAddInfoSlice from '~/slices/TableAddInfoSlice';
import TableCredits from '~/components/TableCredits.vue';
export default {
  components: {
    TableCredits,
    TableAddInfoSlice,
  },
  async asyncData({ $prismic, error }) {
    const operationsForeignCurrency = await $prismic.api.getSingle('operations-foreign-currency');
    if (operationsForeignCurrency) {
      return {
        operationsForeignCurrency,
        slices: operationsForeignCurrency.data.body,
      };
    } else {
      error({ statusCode: 404, message: 'Page not found' });
    }
  },
  data() {
    return {
      items: [
        {
          text: 'Корпоративним клієнтам',
          to: '/business',
        },
        {
          text: 'Розрахункові операції',
          to: '/business/cash-and-settlement-payments',
        },
        {
          text: 'Валютні операції',
          active: true,
        },
      ],
      mainScreen: {
        type: 'dark',
        title: 'Валютні операції',
        description:
          'Купівля/продаж/обмін безготівкових іноземних валют на ВРУ, перекази через кореспондентські рахунки по системі SWIFT, обслуговування кредитів від нерезидентів,купівля протягом одного дня безготівкової іноземної валюти резидентами без підтвердження наявності зобов’язань в межах ліміту ( 100 000,00 eur по курсу НБУ), купівля іноземної валюти/переказ коштів в іноземній валюті/гривні в межах е-лімітів.',
        conditions: {
          first: {
            title: 'Валюти',
            desc: 'USD, EUR, PLN, GBP, CHF',
          },
          second: {
            title: '',
            desc: '',
          },
        },
        links: [
          {
            to: '',
            name: '',
          },
          {
            to: '',
            name: '',
          },
        ],
      },
      tableAddInfo: [
        {
          title: 'Платіжні реквізити банку',
          undertitle: 'USD, EUR, PLN, GBP, CHF',
        },
      ],
      downloadDocs: [
        {
          docSource: '/payment_instr.doc',
          docTitle: 'Платіжні інструкції',
        },
      ],
      table: {
        tableRows: [
          {
            leftValue: 'Річне обслуговування кредитів в іноземній валюті від нерезидентів',
            texts: [
              {
                title: '0,1% (від 50 USD до 200 USD)',
              },
            ],
            rightDescValue: 'від суми, зазначеної в реєстраційному свідоцтві, сплата поквартально',
          },
          {
            leftValue:
              'Безготівкові зарахування на поточні рахунки клієнтів (зовнішні надходження)',
            texts: [
              {
                title: 'Безкоштовно',
              },
            ],
            rightDescValue: '',
          },
          {
            leftValue: 'Проведення платежів у доларах США, комісія “OUR”, комісія “SHA”',
            texts: [
              {
                title: '0,2% (від 20 USD до 100 USD) + комісія іноземного банку',
              },
            ],
            rightDescValue: 'від суми переказу',
          },
          {
            leftValue: 'Проведення платежів у доларах США, комісія “BEN”',
            texts: [
              {
                title: '10 USD',
              },
            ],
            rightDescValue: 'стягується з суми переказу',
          },
          {
            leftValue: 'Проведення платежів у євро, комісія “OUR», комісія “SHA”',
            texts: [
              {
                title: '0,2% (від 25 EUR до 130 EUR) + комісія іноземного банку',
              },
            ],
            rightDescValue: 'від суми переказу',
          },
          {
            leftValue: 'Проведення платежів у євро, комісія “BEN”',
            texts: [
              {
                title: '10 EUR',
              },
            ],
            rightDescValue: 'стягується з суми переказу',
          },
          {
            leftValue: 'Видача готівки з рахунку клієнта',
            texts: [
              {
                title: '1,5%',
              },
            ],
            rightDescValue: 'від суми готівки',
          },
          {
            leftValue: 'Купівля валюти на ВРУ',
            texts: [
              {
                title: '0,1% - 0,5%',
              },
            ],
            rightDescValue: 'залежно від суми купівлі',
          },
          {
            leftValue: 'Продаж валюти на ВРУ',
            texts: [
              {
                title: '0,1% - 0,3%',
              },
            ],
            rightDescValue: 'залежно від суми продажу',
          },
          {
            leftValue: 'Конверсійні операції',
            texts: [
              {
                title: '0,1% - 0,4%',
              },
            ],
            rightDescValue: 'залежно від суми конверсії',
          },
        ],
        addInfo: {
          title: 'Додаткова інформація',
          link: 'Тарифи для юридичних осіб',
          source: '/TARYFY_OKCI-BANK.xlsx',
        },
      },
    };
  },
  head() {
    return {
      title: this.operationsForeignCurrency.data.body[0].primary.title[0].text,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.operationsForeignCurrency.data.body[0].primary.description[0].text,
        },
      ],
    };
  },
};
</script>
