<template>
  <div class="gray-card form-container contacts-form">
    <b-row v-if="!formSent" class="justify-content-center">
      <b-col md="8">
        <b-form @submit="onSubmit">
          <p class="form-title title title-m">Залишити заявку на консультацію або підключення</p>
          <b-form-group
            id="input-group-1"
            class="form_input"
            label="Назва компанії або посилання на сайт *"
            label-for="input-1"
          >
            <b-form-input id="input-1" v-model="form.company" required type="text"> </b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-2"
            class="form_input"
            label="Номер телефону для зв’язку *"
            label-for="input-2"
          >
            <b-form-input id="input-2" v-model="form.phone" required type="text"> </b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-3"
            label="E-mail для зв’язку *"
            label-for="input-3"
            class="form_input"
          >
            <b-form-input id="input-3" v-model="form.email" required vtype="email"></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-4"
            label="Як до Вас звертатися?"
            label-for="input-4"
            class="form_input"
          >
            <b-form-input id="input-4" v-model="form.customer_name" type="text"></b-form-input>
          </b-form-group>
          <b-button type="submit" variant="primary" class="form_button">Надіслати</b-button>
          <p class="form-note agreement">
            Натискаючи кнопку, Ви даєте згоду на
            <a
              href="https://drive.google.com/file/d/1_wn0qlBqyYSOPa-t3lnhIYpZZByHivWI/view"
              target="_blank"
              class="card-link"
              >обробку персональних даних</a
            >
          </p>
        </b-form>
      </b-col>
    </b-row>
    <b-row v-else class="form-success justify-content-center">
      <b-col md="8">
        <div class="form-success__content">
          <p class="form-success__content__title form-title title-m">Дякуємо!</p>
          <div class="form-success__content__undertitle">
            <p>Ми отримали Вашу заявку.</p>
            <p>Наш менеджер зателефонує Вам найближчим часом, щоб обговорити деталі.</p>
          </div>
          <div @click="formSent = false">
            <b-button variant="primary" class="form_button form-success__content__button"
              >Повернутися до форми</b-button
            >
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { sendEmail } from '~/plugins/mail';

export default {
  data() {
    return {
      form: {
        company: '',
        name: '',
        email: '',
        customer_name: '',
        checked: true,
        form_type: 'internet_acquiring',
        subject: '[OXI-site] Заявка на інтернет-еквайринг',
      },
      formSent: false,
    };
  },
  methods: {
    onSubmit(event) {
      this.formSent = true;
      event.preventDefault();
      sendEmail(this.form);
    },
  },
};
</script>
