<template>
  <div class="gray-card form-container contacts-form">
    <b-row v-if="!formSent">
      <b-col md="5">
        <p class="form-title title-m">Задати питання</p>
        <b-form class="form" @submit="onSubmit">
          <b-form-group id="input-group-1" label="Напрямок" label-for="input-1">
            <b-form-select id="input-1" v-model="form.option" :options="options"></b-form-select>
          </b-form-group>
          <b-form-group id="input-group-2" class="form_input" label="ПІБ" label-for="input-2">
            <b-form-input id="input-2" v-model="form.name"></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-3" label="E-mail *" label-for="input-3" class="form_input">
            <b-form-input id="input-3" v-model="form.email" type="email" required></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-4"
            label="Що сталося? *"
            label-for="input-4"
            class="form_input"
          >
            <b-form-textarea
              id="input-4"
              v-model="form.question"
              placeholder="Опишіть зміст (причину) звернення"
              rows="3"
              max-rows="6"
              required
            ></b-form-textarea>
          </b-form-group>

          <b-button type="submit" variant="primary" class="form_button">Відправити заявку</b-button>
          <p class="form-note agreement">
            Натискаючи кнопку, Ви даєте згоду на
            <a
              href="https://drive.google.com/file/d/1_wn0qlBqyYSOPa-t3lnhIYpZZByHivWI/view"
              target="_blank"
              class="card-link"
              >обробку персональних даних</a
            >
          </p>
        </b-form>
      </b-col>
      <b-col class="form-container_separator" md="2"><p>або</p></b-col>
      <b-col md="5">
        <div class="form-right-side contacts-form">
          <p class="title-m title">Контакти</p>
          <div class="contacts-form__contacts-list">
            <p><span class="text-bold">Адреса:</span> м.Львів, вул. Газова, 17,</p>
            <p><span class="text-bold">Приймальня:</span> (032) 232-37-35</p>
            <p><span class="text-bold">Факс:</span> (032) 242-58-60</p>
            <p><span class="text-bold">Індекс:</span> 79019</p>
            <p>
              <span class="text-bold">Режим роботи:</span> Пн. – Пт. 9.00 - 18.00, обідня перерва
              13.00 – 14.00
            </p>
          </div>
          <FormMapCenter />
        </div>
      </b-col>
    </b-row>
    <b-row v-else class="form-success justify-content-center">
      <b-col md="8">
        <div class="form-success__content">
          <p class="form-success__content__title form-title title-m">Дякуємо!</p>
          <div class="form-success__content__undertitle">
            <p>Ми отримали Вашу заявку.</p>
            <p>Про результати розгляду повідомимо Вам електронним листом.</p>
          </div>
          <div @click="formSent = false">
            <b-button variant="primary" class="form_button form-success__content__button"
              >Повернутися до форми</b-button
            >
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import FormMapCenter from '~/components/FormMapCenter';
import { sendEmail } from '~/plugins/mail';
export default {
  components: { FormMapCenter },
  data() {
    return {
      form: {
        name: '',
        email: '',
        question: '',
        option: null,
        form_type: 'question',
        subject: '[OXI-site] Звернення громадян',
      },
      options: [
        { text: 'Загальні питання', value: null },
        'Кредити для бізнесу',
        'Кредити для фізичних осіб',
        'Депозити для бізнесу',
        'Депозити для фізичних осіб',
      ],
      formSent: false,
    };
  },
  methods: {
    onSubmit(event) {
      this.formSent = true;
      event.preventDefault();
      sendEmail(this.form);
    },
  },
};
</script>
