<template>
  <div class="gray-card form-container request-form">
    <b-row v-if="!formSent">
      <b-col md="5">
        <p class="form-title">{{ formData.title }}</p>
        <b-form class="form" @submit.prevent="onSubmit">
          <b-form-group
            id="input-group-1"
            class="form_input form_input__required"
            label="Ім’я *"
            label-for="input-1"
          >
            <b-form-input id="input-1" v-model="form.name" required></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-2"
            class="form_input"
            label="Номер телефону *"
            label-for="input-"
          >
            <b-form-input id="input-2" v-model="form.number" type="tel" required></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-3" label="E-mail *" label-for="input-3" class="form_input">
            <b-form-input id="input-3" v-model="form.email" type="email" required></b-form-input>
          </b-form-group>
          <b-button type="submit" variant="primary" class="form_button">Відправити заявку</b-button>
          <p class="form-note agreement">
            Натискаючи кнопку, Ви даєте згоду на
            <a
              href="https://drive.google.com/file/d/1_wn0qlBqyYSOPa-t3lnhIYpZZByHivWI/view"
              target="_blank"
              class="card-link"
              >обробку персональних даних</a
            >
          </p>
        </b-form>
      </b-col>
      <b-col class="form-container_separator" md="2"><p>або</p></b-col>
      <b-col md="5">
        <p>
          {{ formData.place }}
        </p>
        <FormMap />
      </b-col>
    </b-row>
    <b-row v-else class="form-success justify-content-center">
      <b-col md="8">
        <div class="form-success__content">
          <p class="form-success__content__title form-title title-m">Дякуємо!</p>
          <div class="form-success__content__undertitle">
            <p>Ми отримали Вашу заявку.</p>
            <p>Наш менеджер зателефонує Вам найближчим часом, щоб обговорити деталі.</p>
          </div>
          <div @click="formSent = false">
            <b-button variant="primary" class="form_button form-success__content__button"
              >Повернутися до форми</b-button
            >
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import FormMap from '~/components/FormMap';
import { sendEmail } from '~/plugins/mail';
export default {
  compoments: {
    FormMap,
  },
  props: {
    formData: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      form: {
        name: '',
        number: null,
        email: '',
        form_type: 'request',
        subject: this.formData.subject,
      },
      formSent: false,
    };
  },
  methods: {
    onSubmit(event) {
      this.formSent = true;
      event.preventDefault();
      sendEmail(this.form);
    },
  },
};
</script>
