<template>
  <div class="gray-card form-container compliance-form">
    <b-row v-if="!formSent" class="justify-content-center">
      <b-col md="8">
        <p class="form-title">Повідомлення про комплаєнс-інцидент</p>
        <div class="form-right-side compliance-form-right-side">
          <div class="compliance-form-right-side__top">
            <p>
              В АТ "ОКСІ БАНК" функціонує конфіденційна (анонімна) Процедура інформування про
              неприйнятну поведінку, порушення в діяльності Банку та інші дії працівників Банку, які
              можуть зашкодити інтересам Банку та його репутації.
            </p>
            <p>
              Кожен з Клієнтів Банку або інших зацікавлених осіб має можливість надіслати
              повідомлення про свою стурбованість стосовно протизаконної, неетичної або сумнівної
              практики, або про факти зловживання, шахрайства, хабарництва або корупції,
              неприйнятної поведінки, порушення прав споживачів та інших порушень працівниками
              Банку, а також спроби вчинення таких дій.
            </p>
            <p class="compliance-rules">
              <a
                target="_blank"
                class="card-link"
                href="https://drive.google.com/file/d/1ckLbMVr6F3LdtQjAGhwbhbSa0Hg9xRYI/view"
                >Порядок розгляду звернень та проведення особистого прийому клієнтів в АТ «ОКСІ
                БАНК»</a
              >
            </p>
            <p>
              Звертаємо Вашу увагу на те, що претензії до якості обслуговування клієнтів не є
              інцидентами комплаєнс-ризику. Надіслати скаргу можна електронним листом за адресою:
              <a class="card-link" href="mailto:info@okcibank.com.ua">info@okcibank.com.ua</a>.
            </p>
          </div>
        </div>
        <b-form class="form" @submit="onSubmit">
          <b-form-group
            id="input-group-1"
            class="form_input"
            label="Прізвище, ім’я та по-батькові заявника"
            label-for="input-1"
          >
            <b-form-input id="input-1" v-model="form.name"></b-form-input>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            class="form_input"
            label="Номер телефону *"
            label-for="input-2"
          >
            <b-form-input id="input-2" v-model="form.number" required></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-3" class="form_input" label="E-mail" label-for="input-3">
            <b-form-input id="input-3" v-model="form.email"></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-4" label="Статус заявника*" label-for="input-4">
            <b-form-select
              id="input-4"
              v-model="form.status"
              :options="status"
              required
            ></b-form-select>
          </b-form-group>

          <b-form-group
            id="input-group-5"
            class="form_input"
            label="Назва підрозділу Банку, ПIБ та посада особи, в результаті дій якого стався інцидент (вчинені неналежні дії)*"
            label-for="input-5"
          >
            <b-form-input id="input-5" v-model="form.employeeName" required></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-6" label="Дата інциденту *" label-for="input-6">
            <b-form-datepicker id="input-6" v-model="form.date" required></b-form-datepicker>
          </b-form-group>

          <b-form-group id="input-group-7" label="Вид інциденту*" label-for="input-7">
            <b-form-select
              id="input-7"
              v-model="form.incidentType"
              :options="incidentTypes"
              required
            ></b-form-select>
          </b-form-group>

          <b-form-group
            id="input-group-8"
            label="Детальна інформація про обставини інциденту"
            label-for="input-8"
            class="form_input"
          >
            <b-form-textarea
              id="input-8"
              v-model="form.question"
              rows="4"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>

          <b-button type="submit" variant="primary" class="form_button"
            >Надіслати повідомлення</b-button
          >
          <p class="form-note agreement">
            Натискаючи кнопку, Ви даєте згоду на
            <a
              class="card-link form_agreement"
              href="https://drive.google.com/file/d/1p-5TgU2-gwH7ftQnIce4fWE_hj7nU6EG/view"
              target="_blank"
              >обробку персональних даних.</a
            >
          </p>
        </b-form>
      </b-col>
    </b-row>
    <b-row v-else class="form-success justify-content-center">
      <b-col md="8">
        <div class="form-success__content">
          <p class="form-success__content__title form-title title-m">Дякуємо!</p>
          <div class="form-success__content__undertitle">
            <p>Ми отримали Ваше повідомлення і найближчим часом розглянемо його.</p>
            <p>Якщо Ви вказали контактні дані, ми повідомимо про результати перевірки.</p>
          </div>
          <div @click="formSent = false">
            <b-button variant="primary" class="form_button form-success__content__button"
              >Повернутися до форми</b-button
            >
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { sendEmail } from '~/plugins/mail';
export default {
  data() {
    return {
      form: {
        name: '',
        number: '',
        email: '',
        date: '',
        question: '',
        employeeName: '',
        status: null,
        incidentType: null,
        form_type: 'compliance',
        subject: '[OXI-site] Повідомлення про комплаєнс-інцидент',
      },
      formSent: false,
      status: [
        { text: 'Клієнт банку', value: null },
        'Співробітник банку',
        'Діловий партнер банку',
        'Інша зацікавлена особа',
      ],
      incidentTypes: [
        {
          text: 'Отримання або провокація хабара',
          value: null,
        },
        'Отримання фінансової вигоди або спроба уникнути фінансової втрати за рахунок клієнта',
        'Поведінка, що суперечить кодексу ділової етики банку',
        'Розголошення інформації, яка є банківською чи комерційною таємницею',
        'Конфлікт інтересів / Приховування конфлікту інтересів',
        'Вимога сприяння просуванню по посаді / протидія просуванню ',
        'Дії з метою уникнення відповідальності за скоєні помилки в роботі / перекладення відповідальності на інших осіб',
        'Недотримання працівниками банку внутрішніх процедур при проведенні операцій',
        'Зловживання службовим становищем',
        'Консультування клієнтів з питань ухилення від процедур фінансового моніторингу, ідентифікації, валютного контролю та оподаткування',
        'Зловживання подарунками / отримання подарунків вартістю, що перевищує максимально дозволену',
        'Розпорядження рахунком третьої особи без повідомлення власника рахунку',
        'Участь / сприяння участі в азартних іграх',
        'Інше',
      ],
      show: true,
    };
  },
  methods: {
    onSubmit(event) {
      this.formSent = true;
      event.preventDefault();
      sendEmail(this.form);
    },
  },
};
</script>
