<template>
  <div class="gray-card form-container contacts-form">
    <b-row v-if="!formSent" class="justify-content-center">
      <b-col md="8">
        <b-form v-if="showForm" class="form" @submit.prevent="onSubmit">
          <p class="form-title title-m">
            Повідомлення про порушення вимог законодавства у сфері ПВК/ФТ
          </p>
          <p class="form-note">
            За бажанням, ви можете вказати свої ПІБ під час заповнення форми або надіслати
            повідомлення анонімно
          </p>
          <b-form-group
            id="input-group-1"
            class="form_input"
            label="Прізвище, ім’я та по-батькові заявника"
            label-for="input-1"
          >
            <b-form-input id="input-1" v-model="form.name" type="text"></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-2" label="E-mail" label-for="input-2" class="form_input">
            <b-form-input id="input-2" v-model="form.email" type="email"></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-3"
            label="Суть порушення (опишіть події, діяльність, та/або фінансові операції) *"
            label-for="input-3"
            class="form_input"
            :class="{ form_input__error: submitted && missingReason }"
          >
            <b-form-input id="input-3" v-model="form.violationEssence" required></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-4"
            label="Дата/період проведення фінансових операцій *"
            label-for="datepicker-trigger"
            class="form_input"
          >
            <div>
              <div class="datepicker-trigger">
                <input
                  id="datepicker-trigger"
                  type="text"
                  :value="formatDates(form.dateOne, form.dateTwo)"
                  class="form-control"
                  required
                />

                <AirbnbStyleDatepicker
                  :trigger-element-id="'datepicker-trigger'"
                  :mode="'range'"
                  :fullscreen-mobile="true"
                  :date-one="form.dateOne"
                  :date-two="form.dateTwo"
                  :show-shortcuts-menu-trigger="false"
                  @date-one-selected="
                    (val) => {
                      form.dateOne = val;
                    }
                  "
                  @date-two-selected="
                    (val) => {
                      form.dateTwo = val;
                    }
                  "
                />
              </div>
            </div>
          </b-form-group>
          <b-form-group
            id="input-group-5"
            label="Сума і валюта *"
            label-for="input-5"
            class="form_input"
          >
            <b-form-input id="input-5" v-model="form.total" required></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-6"
            label="Учасники фінансових операцій та їх роль *"
            label-for="input-6"
            class="form_input"
          >
            <b-form-input id="input-6" v-model="form.participants" required></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-7"
            label="Зміст фінансових операцій (форма розрахунку, вид активу тощо) *"
            label-for="input-7"
            class="form_input"
          >
            <b-form-input id="input-7" v-model="form.transactionContent" required></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-8"
            label="Обставини (засоби), за яких були виявлені фінансові операції *"
            label-for="input-8"
            class="form_input"
          >
            <b-form-input id="input-8" v-model="form.circumstances" required></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-9"
            label="Наявність ознак ВК/ФТ *"
            label-for="input-9"
            class="form_input"
          >
            <b-form-input id="input-9" v-model="form.legalization" required></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-10"
            label="Дані про фактичних вигодоодержувачів (за наявності) *"
            label-for="input-10"
            class="form_input"
          >
            <b-form-input id="input-10" v-model="form.beneficiaries" required></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-11"
            label="Дані про третіх осіб, які могли бути залученими до зазначених операцій"
            label-for="input-11"
            class="form_input"
          >
            <b-form-textarea
              id="input-11"
              v-model="form.thirdParties"
              rows="4"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>
          <b-form-group
            id="input-group-12"
            label="Будь-яка інша інформація про факти порушення у сфері ПВК/ФТ"
            label-for="input-12"
            class="form_input"
          >
            <b-form-textarea
              id="input-12"
              v-model="form.addInfo"
              rows="4"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>
          <b-form-group
            id="input-group-13"
            v-slot="{ ariaDescribedby }"
            label="Кому адресувати повідомлення:"
            label-for="input-13"
            class="form_input radio-input"
          >
            <b-form-radio
              v-model="form.receiver"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="bank-head"
              >Голові Правління</b-form-radio
            >
            <b-form-radio
              v-model="form.receiver"
              :aria-describedby="ariaDescribedby"
              name="some-radios"
              value="bank-worker"
              >Працівнику банку, відповідальному за фінмоніторинг</b-form-radio
            >
          </b-form-group>
          <b-button type="submit" variant="primary" class="form_button">Надіслати</b-button>
          <p class="form-note agreement">
            Натискаючи кнопку, Ви даєте згоду на
            <a
              href="https://drive.google.com/file/d/1_wn0qlBqyYSOPa-t3lnhIYpZZByHivWI/view"
              target="_blank"
              class="card-link"
              >обробку персональних даних</a
            >
          </p>
          <div>
            <p class="form-note">
              *ПВК/ФТ — запобігання та протидія легалізації (відмиванню) доходів, одержаних
              злочинним шляхом, фінансуванню тероризму та фінансуванню розповсюдження зброї масового
              знищення
            </p>
            <p class="form-note">
              **ВК/ФТ — легалізація (відмивання) доходів, одержаних злочинним шляхом, фінансування
              тероризму та/або фінансування розповсюдження зброї масового знищення
            </p>
          </div>
        </b-form>
      </b-col>
    </b-row>
    <b-row v-else class="form-success justify-content-center">
      <b-col md="8">
        <div class="form-success__content">
          <p class="form-success__content__title form-title title-m">Дякуємо!</p>
          <div class="form-success__content__undertitle">
            <p>Ми отримали Ваше повідомлення і найближчим часом розглянемо його.</p>
            <p>Якщо Ви вказали контактні дані, ми повідомимо про результати перевірки.</p>
          </div>
          <div @click="formSent = false">
            <b-button variant="primary" class="form_button form-success__content__button"
              >Повернутися до форми</b-button
            >
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import format from 'date-fns/format';
import { sendEmail } from '~/plugins/mail';

export default {
  data() {
    return {
      form: {
        name: '',
        email: '',
        violationEssence: '',
        dateOne: '',
        dateTwo: '',
        total: '',
        participants: '',
        transactionContent: '',
        circumstances: '',
        legalization: '',
        beneficiaries: '',
        thirdParties: '',
        addInfo: '',
        form_type: 'finmon',
        receiver: '',
        checked: true,
        subject: '[OXI-site] Фінмоніторинг',
      },
      showForm: true,
      submitted: false,
      dateFormat: 'DD.MM.YYYY',
      formSent: false,
    };
  },
  methods: {
    formatDates(dateOne, dateTwo) {
      let formattedDates = '';
      if (dateOne) {
        formattedDates = format(dateOne, this.dateFormat);
      }
      if (dateTwo) {
        formattedDates += ' - ' + format(dateTwo, this.dateFormat);
      }
      return formattedDates;
    },
    onSubmit(event) {
      this.formSent = true;
      event.preventDefault();
      sendEmail(this.form);
    },
  },
};
</script>
